<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">
		<h2 class="heading">
			<a ng-click="lc.toggleFeatured()" class="text-warning">
				<i class="fa fa-star" ng-if="lc.location.featured"></i>
				<i class="fa fa-star-o text-warning" ng-if="!lc.location.featured"></i>
			</a>
			[[ 'general'|translate ]]
		</h2>
		
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'name' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="lc.location.name">
			</div>
		</div>
		
		<!--city-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'city'|translate ]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" disabled value="[[ lc.city.name ]]">
					<span class="input-group-btn">
					<button type="button" class="btn btn-primary" city-picker ng-model="lc.city">
						<i class="fa fa-search"></i>
					</button>
				</span>
				</div>
			</div>
		</div>
		
		<!--order-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'order' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text"  touch-spin spin-options="lc.spinOptions" ng-model="lc.location.order">
			</div>
		</div>
		

		<!--status-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'status'|translate ]]
			</label>
			<div class="col-md-6">
				<input type="checkbox"
				       icheck
				       ng-model="lc.location.status"
				       ng-true-value="1"
				       ng-false-value="0">
			</div>
		</div>
	</div>
	


</div>