<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">
		<h2 class="heading">
			[['general'|translate]]
		</h2>
		
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'name' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="pmc.method.name"
				       name="paymentMethodName"
				       ng-minlength="3"
				       ng-maxlength="20"
				       required>
			</div>
		</div>
		
		<!--commission-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'commission' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="pmc.method.commission" >
					<span class="input-group-addon">
						<i class="fa fa-euro"></i>
					</span>
				</div>
			</div>
		</div>

		<!--commission-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'commission_percent' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="pmc.method.commission_percent" >
					<span class="input-group-addon">
						%
					</span>
				</div>
			</div>
		</div>


		
		<!--commission-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'type' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="pmc.method.type" >
			</div>
		</div>
		
		<!--status-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'status' | translate]]
			</label>
			<div class="col-md-6">
				<input
						type="checkbox"
						icheck
						ng-model="pmc.method.status"
						ng-true-value="1"
						ng-false-value="0"
				/>
			</div>
		</div>
	</div>
	


</div>
