<div class="inmodal">
	
	<!--modal title-->
	<div class="modal-header">
		<h4 class="modal-title">
			[['new_tour_operator' | translate ]]
		</h4>
	</div>
	
	<!--modal body-->
	<form ng-submit="saveModal()" role="form">
		<div class="modal-body" >
			
			<div class="form-horizontal">
				
				<!--name-->
				<div class="form-group">
					<label class="col-sm-4 control-label required">
						[[ 'name' | translate]]
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="tourOperator.name">
					</div>
				</div>
				
				<!--email-->
				<div class="form-group">
					<label class="col-sm-4 control-label">
						[[ 'email' | translate]]
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="tourOperator.email">
					</div>
				</div>
				
				<!--address-->
				<div class="form-group">
					<label class="col-sm-4 control-label">
						[[ 'address' | translate]]
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="tourOperator.address">
					</div>
				</div>
				
				
				<!--phone-->
				<div class="form-group">
					<label class="col-sm-4 control-label">
						[[ 'phone' | translate]]
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="tourOperator.phone">
					</div>
				</div>
				
				
			</div>
		
		</div>
		
		<!--modal footer-->
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-lg">
				<i class="fa fa-check"></i>
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="$close()">
				<i class="fa fa-close"></i>
				[[ 'close' | translate ]]
			</button>
		</div>
	
	</form>
</div>