<div class="inmodal">
	
	<!--modal title-->
	<div class="modal-header">
		<h4 class="modal-title">
			[['tour_operators' | translate ]]
		</h4>
	</div>
	
	<!--modal body-->
	<form ng-submit="saveModal()" role="form">
		<div class="modal-body" >
			
			<table
					ng-table="tableParams"
					class="table table-bordered table-striped table-hover table-small"
					template-pagination="custom/pager">
				
				<tr ng-repeat="row in tourOperators">
					<td data-title="'#'">
						<input
								type="radio"
								icheck
								ng-model="row.checked"
								name="model"
								value="[[ row.id ]]"
						>
					</td>
					<td data-title="'name'|translate" sortable="'name'" filter="{name:'custom/text'}">
						[[ row.name ]]
					</td>
					<td data-title="'email'|translate" sortable="'email'" filter="{email:'custom/text'}">
						[[ row.email ]]
					</td>
					<td data-title="'address'|translate" sortable="'address'" filter="{address:'custom/text'}">
						[[ row.address ]]
					</td>
					<td data-title="'phone'|translate" sortable="'phone'" filter="{phone:'custom/text'}">
						[[ row.phone ]]
					</td>
				</tr>
			
			</table>
		
		</div>
		
		<!--modal footer-->
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-lg">
				<i class="fa fa-check"></i>
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="$close()">
				<i class="fa fa-close"></i>
				[[ 'close' | translate ]]
			</button>
		</div>
	
	</form>
</div>