<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>
	        [[ (uc.uid)?'edit':'create' | translate ]] [[ 'user' | translate ]]
            <strong class="text-primary">[[ uc.user.name ]]</strong>
        </h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li>
                <a href="#/users">[[ 'users' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ (uc.uid)?'edit':'create' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>
<form novalidate ng-submit="uc.save()" role="form">
    <div class="wrapper wrapper-content animated fadeInRight">
	
	
	    <div class="tabs-container">
		
		    <uib-tabset>
			
			    <!--details-->
			    <uib-tab>
				    <uib-tab-heading>
					    <i class="fa fa-pencil"></i>
					    [[ 'details' | translate ]]
				    </uib-tab-heading>
				    <div class="panel-body">
					    <div ng-include="'app/js/modules/users/views/tabs/details.html'"></div>
				    </div>
			    </uib-tab>

			    <!--settings-->
			    <uib-tab>
				    <uib-tab-heading>
					    <i class="fa fa-cog"></i>
					    [[ 'settings' | translate ]]
				    </uib-tab-heading>
				    <div class="panel-body">
					    <div ng-include="'app/js/modules/users/views/tabs/settings.html'"></div>
				    </div>
			    </uib-tab>
			
			    
		
		    </uib-tabset>
	
	    </div>
	    
	    
    </div>
    
    <div>
        <div class="row white-bg wrapper submit animated bounceInUp">
	        <button type="submit" class="btn btn-primary btn-lg">
		        <i class="fa fa-save"></i>
		        [[ 'save' | translate]]
	        </button>
	        <button type="button" class="btn btn-warning btn-lg" ng-click="uc.save(true)">
		        <i class="fa fa-save"></i>
		        [[ 'save_and_exit' | translate]]
	        </button>
	        <button type="button" class="btn btn-default btn-lg" ng-click="uc.cancel()">
		        <i class="fa fa-close"></i>
		        [[ 'cancel' | translate]]
	        </button>
        </div>
    </div>
</form>