<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>[[ 'users' | translate ]]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ 'users' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            
	        <div class="m-b-md">
	            <button type="button" class="btn btn-primary btn-lg" ui-sref="user-create">
		            <i class="fa fa-plus-circle"></i>
		            [[ 'new_user'|translate ]]
	            </button>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
	                    <i class="fa fa-users"></i>
	                    [[ 'users' | translate ]]
                    </h5>
                </div>
                <div class="ibox-content">
	
	                <!--table tools-->
	                <div class="row">
		
		                <div class="col-sm-6">
			                <span table-field-toggle ng-model="muc.fields"></span>
			                <span table-export-tools ng-model="muc.tableBtns"></span>
		                </div>
	
	                </div>
	                <div class="hr-line-dashed"></div>
	                
	                <div class="table-responsive">
		                <table
				                ng-table="muc.tableParams"
				                class="table table-bordered table-striped table-hover table-small"
				                ng-table-columns-binding="muc.fields"
				                template-pagination="custom/pager">
			
			                <tr ng-repeat="row in muc.users">
				                <td data-title="'#'" ng-if="true">
					                <input type="checkbox" icheck ng-model="row.checked">
				                </td>
				                <td data-title="'name'|translate" sortable="'name'" filter="{name:'custom/text'}" ng-if="true">
					                <strong>[[ row.name ]]</strong>
				                </td>
				                <td data-title="'lastname'|translate" sortable="'lastname'" filter="{lastname:'custom/text'}" ng-if="true">
					                [[ row.lastname ]]
				                </td>
				                <td data-title="'email'|translate" sortable="'email'" filter="{email:'custom/text'}" ng-if="true">
					                [[ row.email ]]
				                </td>
				                <td data-title="'city'|translate" sortable="'city_id'" filter="{'city.name':'custom/text'}" ng-if="true">
					                [[ row.city.name ]]
				                </td>
				                <td data-title="'role'|translate" class="text-center"  sortable="'role_id'" filter="{role_id:'custom/roles'}" ng-if="true">
									<span class="label">
										[[ row.role.name ]]
									</span>
				                </td>
				                <td data-title="'actions'|translate" ng-if="true">
					                <button class="btn btn-outline btn-primary btn-sm" title="[[ 'edit'|translate ]]"
					                        ui-sref="user-edit({ id: row.id })" type="button">
						                <i class="fa fa-pencil"></i>
					                </button>
					                <button class="btn btn-outline btn-danger btn-sm"
					                        ng-click="muc.delete([[ row.id ]])" type="button" title="[[ 'delete'|translate ]]">
						                <i class="fa fa-trash"></i>
					                </button>
				                </td>
			                </tr>
		
		                </table>
	                </div>
	                
	                
	                
                </div>
            </div>
        </div>
    </div>
</div>
