<div class="inmodal">
	<div class="modal-header">
		<h4 class="modal-title">[['create_new_field' | translate]]</h4>
	</div>
	<form ng-submit="saveModal()">
		<div class="modal-body">
			
			<p>[[ 'add_custom_field' | translate ]]</p>
			<div class="hr-line-dashed"></div>
			
				
				<div ng-repeat="field in fields">
					
					<div class="form-group">
						<div class="col-sm-5">
							<input type="text" class="form-control" ng-model="field.meta_name" placeholder="[[ 'name' | translate ]]">
						</div>
						
						<div class="col-sm-5">
							<input type="text" class="form-control" ng-model="field.meta_value" placeholder="[[ 'value' | translate ]]">
						</div>
						
						<div class="col-sm-2">
							<button type="button" class="btn btn-danger btn-rounded" ng-show="$index + 1 < fields.length" ng-click="deleteField($index)">
								<i class="fa fa-trash"></i>
							</button>
							<button type="button" class="btn btn-primary btn-rounded" ng-show="$index + 1 == fields.length" ng-click="addField()">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
					
				</div>
			
			
		</div>
		
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-lg" >
				<i class="fa fa-check"></i>
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="$close()">
				<i class="fa fa-close"></i>
				[[ 'close' | translate ]]
			</button>
		</div>
	
	</form>
</div>
