<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>[[ 'my_profile' | translate ]]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ 'my_profile' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>
<form name="saveUser" novalidate ng-submit="upc.save()">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-6">
				<div class="ibox">

					<!--basic-->
					<div class="ibox-title">
						<h5>
							[[ 'basic' | translate ]]
						</h5>
						<div ibox-tools></div>
					</div>

					<div class="ibox-content form-horizontal">

						<div ng-include="'app/js/common/views/info-requiered.html'"></div>

						<div class="form-group">
							<label class="col-sm-4 control-label required">
								[[ 'email' | translate]]
							</label>
							<div class="col-sm-8">
								<input
										type="email"
										name="userEmail"
										class="form-control"
										ng-model="upc.user.email"
										required>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label required">
								[[ 'password' | translate]]
							</label>
							<div class="col-sm-8">
								<input type="password" class="form-control" name="userPassword"
									   ng-model="upc.user.password"
									   ng-minlength='8'
									   ng-required='!upc.uid || upc.user.password || upc.user.password != ""'
									   placeholder="[[(upc.uid)?'••••••':'']]"
								>

							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">
								[[ 'repeat password' | translate]]
							</label>
							<div class="col-sm-8">
								<input type="password" name="userRePassword"
									   ng-model="upc.user.repassword"
									   class="form-control"
									   required>

							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label required">
								[[ 'role' | translate]]
							</label>
							<div class="col-sm-6 col-xs-6">
								<div role-selector
									 ng-model="upc.user.role_id"
									 required
								>
								</div>

							</div>
							<div class="col-sm-2">
								<div new-role-btn></div>
							</div>
						</div>

					</div>
				</div>

				<div class="ibox float-e-margins">

					<!--extra fields-->
					<div class="ibox-title">
						<h5>
							[[ 'extra_fields' | translate]]
						</h5>
						<div ibox-tools></div>
					</div>
					<div class="ibox-content form-horizontal">
						<div class="form-group">
							<label class="col-sm-5 control-label" style="text-align: center">
								[[ 'name' | translate ]]
							</label>
							<label class="col-sm-5 control-label" style="text-align: center">
								[[ 'value' | translate ]]
							</label>
						</div>
						<div ng-if="upc.uid" class="form-group" ng-repeat="userMeta in upc.userMetas">
							<div class="col-sm-5">
								<input ng-blur="upc.updateUserMeta({'id':userMeta.id, 'data':{'meta_key':userMeta.key}, 'uid':upc.uid})"
									   type="text" class="form-control" ng-model="userMeta.meta_key">
							</div>
							<div class="col-sm-5">
								<input ng-blur="upc.updateUserMeta({'id':userMeta.id, 'data':{'meta_value':userMeta.meta_value}, 'uid':upc.uid})"
									   type="text" class="form-control" ng-model="userMeta.meta_value">
							</div>
							<div class="col-sm-2">
								<a ng-click="upc.deleteMeta(userMeta.id)" class="btn btn-danger btn-circle">
									<i class="fa fa-times"></i>
								</a>
							</div>
						</div>
						<div ng-if="!upc.uid" class="form-group" ng-repeat="userMeta in upc.userMetas">
							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="userMeta.meta_key">
							</div>
							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="userMeta.meta_value">
							</div>
							<div class="col-sm-2">
								<a ng-click="upc.deleteMeta(userMeta.id)" class="btn btn-danger btn-circle">
									<i class="fa fa-times"></i>
								</a>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="upc.userMetaNew.meta_key">
							</div>
							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="upc.userMetaNew.meta_value">
							</div>
							<div class="col-sm-2">
								<a ng-click="upc.addMeta()" class="btn btn-primary btn-circle">
									<i class="fa fa-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">

				<!--personal information-->
				<div class="ibox">
					<div class="ibox-title">
						<h5>
							[[ 'personal_information' | translate ]]
						</h5>
						<div ibox-tools></div>
					</div>
					<div class="ibox-content form-horizontal">

						<div class="form-group">
							<label class="col-sm-4 control-label">
								[[ 'name' | translate ]]
							</label>
							<div class="col-sm-8">
								<input type="text" class="form-control"
									   name="userName"
									   ng-minlength="2" ng-maxlength="40"
									   ng-model="upc.user.name"
									   required
								>
								<!--<div class="m-t-xs"-->
								<!--ng-show="saveUser.userName.$invalid && saveUser.userName.$toupched">-->

								<!--<small class="text-danger" ng-show="saveUser.userName.$error.minlength">-->
								<!--[[ 'the_name is required to be at least 2 characters' | translate ]]-->
								<!--</small>-->
								<!--<small class="text-danger" ng-show="saveUser.userName.$error.maxlength">-->
								<!--[[ 'the_name cannot be longer than 40 characters' | translate ]]-->
								<!--</small>-->
								<!--</div>-->
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">
								[[ 'lastname' | translate]]
							</label>
							<div class="col-sm-8 no-padding-right">
								<input type="text" class="form-control"
									   name="userLastname"
									   ng-minlength="2" ng-maxlength="70"
									   ng-model="upc.user.lastname">
								<!--<div class="m-t-xs"-->
								<!--ng-show="saveUser.userLastname.$invalid && saveUser.userLastname.$toupched">-->

								<!--<small class="text-danger" ng-show="saveUser.userLastname.$error.minlength">-->
								<!--[[ 'the_lastname is required to be at least 2 characters' | translate ]]-->
								<!--</small>-->
								<!--<small class="text-danger" ng-show="saveUser.userLastname.$error.maxlength">-->
								<!--[[ 'the_lastname cannot be longer than 70 characters' | translate ]]-->
								<!--</small>-->
								<!--</div>-->
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">
								[[ 'dni' | translate]]
							</label>
							<div class="col-sm-8">
								<input type="text" name="userDni" ng-minlength="9" ng-maxlength="20"
									   class="form-control" ng-model="upc.user.dni">
								<!--<div class="m-t-xs"-->
								<!--ng-show="saveUser.userDni.$invalid && saveUser.userDni.$toupched">-->

								<!--<small class="text-danger" ng-show="saveUser.userDni.$error.minlength">-->
								<!--[[ 'the_dni is required to be at least 9 characters' | translate ]]-->
								<!--</small>-->
								<!--<small class="text-danger" ng-show="saveUser.userDni.$error.maxlength">-->
								<!--[[ 'the_dni cannot be longer than 20 characters' | translate ]]-->
								<!--</small>-->
								<!--</div>-->
							</div>
						</div>

						<div class="col-sm-12 form-group hr-line-dashed"></div>

						<div class="form-group">
							<label class="col-sm-4 control-label">
								[[ 'phone' | translate]]
							</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="upc.user.phone">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">
								[[ 'mobile' | translate]]
							</label>
							<div class="col-sm-8 no-padding-right">
								<input type="text" class="form-control" ng-model="upc.user.mobile">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">
								[[ 'address' | translate]]
							</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="upc.user.address">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">
								[[ 'company' | translate]]
							</label>
							<div class="col-sm-6 col-xs-6">
								<div company-selector
									 ng-model="upc.user.company_id"
									 companies="companies"
								>
								</div>
							</div>
							<div class="col-xs-2 col-sm-2">
								<div new-company-btn></div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">
								[[ 'country' | translate]]
							</label>
							<div class="col-sm-8">
								<div country-selector
									 ng-model="upc.user.country_id"
									 countries="countries"
								>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">
								[[ 'city' | translate]]
							</label>
							<div class="col-sm-8">
								<div city-selector
									 ng-model="upc.user.city_id"
									 data-country="upc.user.country_id">
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row white-bg wrapper submit animated bounceInUp">
			<input type="submit" class="btn btn-primary btn-block"
				   value="[[ 'save_profile' | translate]]"
			/>
		</div>
	</div>
</form>