<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">
		
		<h2 class="heading">
			[[ 'general'|translate ]]
		</h2>
		
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'name' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="psc.paymentStatus.name">
			</div>
		</div>
		
		<!--system-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'system'|translate]]
			</label>
			<div class="col-md-6">
				<input type="checkbox"
				    class="form-control"
					icheck
					ng-model="psc.paymentStatus.system"
					ng-true-value="1"
					ng-false-value="0">
			</div>
		</div>
		
		<!--status-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'status'|translate]]
			</label>
			<div class="col-md-6">
				<input type="checkbox"
				       class="form-control"
				       icheck
				       ng-model="psc.paymentStatus.status"
				       ng-true-value="1"
				       ng-false-value="0">
			</div>
		</div>
		
		
	</div>
	

</div>
