<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">
		
		<h2 class="heading">
			[['billing'|translate ]]
		</h2>
		
		<!--billing_name-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'name' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="ic.invoice.billing_name">
			</div>
		</div>
		
		<!--billing_nif-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'nif' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="ic.invoice.billing_nif">
			</div>
		</div>
		
		<!--billing_address-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'address' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="ic.invoice.billing_address">
			</div>
		</div>
		
		<!--billing_location-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'location' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="ic.invoice.billing_location">
			</div>
		</div>
		
		<!--billing_zip-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'zipcode' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="ic.invoice.billing_zip">
			</div>
		</div>
		
		<!--billing_phone-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'phone' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="ic.invoice.billing_phone">
					<span class="input-group-addon">
											<i class="fa fa-phone"></i>
										</span>
				</div>
			</div>
		</div>
		
		<!--billing_city_id-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'city' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="ic.invoice.billing_city_id">
			</div>
		</div>
	</div>
	


</div>
