<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">
		
		<h2 class="heading">
			[[ 'invoice_details'|translate ]]
			<strong ng-if="ic.invoice.number">
				# [[ ic.invoice.number ]]
			</strong>
		</h2>
		
		<!--number-->
		<!--<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'invoice_number' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" disabled ng-model="ic.invoice.number">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" ng-click="ic.validate()">
							<i class="fa fa-thumb-tack"></i>
						</button>
					</span>
				</div>
			</div>
		</div>-->
		
		<!--booking-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'booking' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" disabled value="[[ ic.booking.code ]]">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" booking-search-box ng-model="ic.booking">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		
		<!--client-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'client' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" disabled value="[[ ic.client.name ]] [[ ic.client.last_name ]]">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" client-search-box  ng-model="ic.client">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="col-md-1">
				<button type="button" class="btn btn-primary btn-circle" client-create-modal on-success="ic.assignClient">
					<i class="fa fa-plus"></i>
				</button>
			</div>
		</div>
		
		
		
		<!--title-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'title' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="ic.invoice.title">
			</div>
		</div>
		
		<!--type_id-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'type_id' | translate]]
			</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="ic.invoice.type_id"
				        ng-options="item.id as item.name for item in ic.types">
				</select>
			</div>
		</div>
		
		
		
		
		<!--date-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'date'|translate ]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input
						type="datetime"
						class="form-control"
						date-time
						ng-model="ic.contract.date"
						view="date"
						min-view="date"
						auto-close="true"
						format="YYYY-MM-DD">
					<span class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</span>
				</div>
			</div>
		</div>
		
		<!--payment_method-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'payment_method' | translate]]
			</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="ic.invoice.payment_method_id"
				        ng-options="item.id as item.name for item in ic.paymentMethods">
				</select>
			</div>
		</div>
		
		<!--payment_status-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'status' | translate]]
			</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="ic.invoice.status_id"
				        ng-options="item.id as item.name for item in ic.statuses">
				</select>
			</div>
		</div>
		
		<!--description-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'description' | translate]]
			</label>
			<div class="col-md-6">
				<textarea class="form-control" ng-model="ic.invoice.description" cols="5" rows="5"></textarea>
			</div>
		</div>
		
	</div>
	
	
	<!--right col-->
	<div class="col-lg-6">
		
		<h2 class="heading">
			[[ 'client_details'|translate ]]
		</h2>
		
		<!--client image-->
		<div class="col-md-2">
			<i class="fa fa-user fa-5x"></i>
		</div>
		
		<!--client details-->
		<div class="col-md-6">
			
			<!--name-->
			<div class="form-group">
				<input type="text" class="form-control" value="[[ ic.client.name]]" placeholder="[[ 'name'|translate ]]"  disabled/>
			</div>
			
			<!--last_name-->
			<div class="form-group">
				<input type="text" class="form-control" value="[[ ic.client.last_name]]" placeholder="[[ 'last_name'|translate ]]"  disabled/>
			</div>
			
			<!--phone-->
			<div class="form-group">
				<input type="text" class="form-control" value="[[ ic.client.phone]]" placeholder="[[ 'phone'|translate ]]" disabled />
			</div>
			
			<!--address-->
			<div class="form-group">
				<input type="text" class="form-control" value="[[ ic.client.address]]" placeholder="[[ 'address'|translate ]]" disabled />
			</div>
		
		</div>
		
	</div>
	
	

</div>
