<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-8">
		
		<h2 class="heading">
			[[ 'line_items'|translate ]]
		</h2>
		
		<div class="" full-scroll style="max-height: 300px">
			<table class="table table-bordered">
				<thead>
				<tr>
					<th>#</th>
					<th>[[ 'name'|translate ]]</th>
					<th>[[ 'quantity'|translate ]]</th>
					<th>[[ 'price'|translate ]]</th>
					<th>[[ 'discount'|translate ]]</th>
					<th>[[ 'tax'|translate ]]</th>
					<th>[[ 'total'|translate ]]</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="item in ic.items track by $index">
					<td>[[ item.id ]]</td>
					<td style="width: 200px">
						<select class="form-control" ng-model="t.item_id" ng-change="item.changed=true"
						        ng-options="t.id as t.name for t in ic.validItems">
						</select>
					</td>
					<td>
						<input class="form-control" ng-model="item.quantity" ng-change="item.changed=true">
					</td>
					<td>
						<input class="form-control" ng-model="item.price" ng-change="item.changed=true">
					</td>
					<td>
						<input class="form-control" ng-model="item.discount" ng-change="item.changed=true">
					</td>
					<td style="width: 120px">
						<select class="form-control" ng-model="t.tax_id" ng-change="item.changed=true"
						        ng-options="t.id as t.name for t in ic.taxes">
						</select>
					</td>
					<td>
						[[ ic.calcItemPrice(item) ]]
					</td>
					<td>
						<button type="button" class="btn btn-primary btn-sm btn-circle" ng-click="ic.saveItem(item)" ng-if="item.changed">
							<i class="fa fa-check"></i>
						</button>
						<button type="button" class="btn btn-danger btn-sm btn-circle" ng-click="ic.deleteItem( item,$index )">
							<i class="fa fa-trash"></i>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		
		
		<div class="m-lg">
			<button type="button" class="btn btn-primary" ng-click="ic.addItem()">
				<i class="fa fa-plus-circle"></i>
				[[ 'add_item'|translate ]]
			</button>
			
		</div>
		
		
	</div>
	
	<!--right col-->
	<div class="col-lg-4">
		
		<h2 class="heading">
			[[ 'total'|translate ]]
		</h2>
		
		<!--total-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'total' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="ic.invoice.total">
					<span class="input-group-addon">
						<i class="fa fa-euro"></i>
					</span>
				</div>
			</div>
		</div>
		
		<!--discount-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'discount' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="ic.invoice.discount">
					<span class="input-group-addon">
						%
					</span>
				</div>
			</div>
		</div>
		
		<!--tax-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'tax' | translate]]
			</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="ic.invoice.tax_id"
				        ng-options="item.id as item.name for item in ic.taxes">
				</select>
			</div>
		</div>
		
		
		<div class="hr-line-dashed"></div>
		<div class="form-group">
			<label class="col-md-4"></label>
			<div class="col-md-6">
				<ul class="list-group">
					<li class="list-group-item">
						[[ 'subtotal'|translate ]]
						<span class="pull-right">
						[[ ic.calcSubtotal() ]]
					</span>
					</li>
					<li class="list-group-item">
						[[ 'taxes'|translate ]]
						<span class="pull-right">
						[[ ic.calcTaxes() ]]
					</span>
					</li>
					<li class="list-group-item">
						[[ 'total'|translate ]]
						<span class="pull-right">
						<h3>
							<i class="fa fa-euro"></i>
							[[ ic.calcTotal() ]]
						</h3>
					</span>
					</li>
				</ul>
			</div>
		
		</div>
		
	
	
	</div>
	
</div>