<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>[[ 'categories' | translate ]]</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#/dashboard">[[ 'home' | translate ]]</a>
			</li>
			<li class="active">
				<strong>[[ 'categories' | translate ]]</strong>
			</li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			
			<div class="m-b-md">
				<button type="button" class="btn btn-primary btn-lg" ui-sref="category-create">
					<i class="fa fa-plus-circle"></i>
					[[ 'new_category'|translate ]]
				</button>
			</div>
			
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>
						<i class="fa fa-slack"></i>
						[[ 'categories' | translate ]]
					</h5>
				</div>
				<div class="ibox-content">
					
					<!--table tools-->
					<div class="row">
						
						<div class="col-sm-6">
							<span table-export-tools ng-model="mcc.tableBtns"></span>
						</div>
					
					</div>
					<div class="hr-line-dashed"></div>
					
					<div class="table-responsive">
						<table
								ng-table="mcc.tableParams"
								class="table table-bordered table-striped table-hover table-condensed table-small"
								ng-table-columns-binding="mcc.fields"
								template-pagination="custom/pager">
							
							<tr ng-repeat="item in mcc.categories">
								<td data-title="'#'" ng-if="true">
									<input type="checkbox" icheck ng-model="item.checked">
								</td>
								<td data-title="" sortable="'featured'" class="text-center text-warning">
									<i class="fa fa-star fa-2x" ng-if="item.featured"></i>
									<i class="fa fa-star-o fa-2x" ng-if="!item.featured"></i>
								</td>
								<td data-title="'name'|translate" sortable="'name'" filter="{name:'custom/text'}" ng-if="true">
									<strong>[[ item.name ]]</strong>
								</td>
								<td data-title="'order'|translate" sortable="'order'" filter="{order:'custom/text'}" ng-if="true">
									[[ item.order ]]
								</td>
								<td data-title="'status'|translate" class="text-center"  sortable="'status'" ng-if="true">
									<span class="label label-primary" ng-if="item.status"><i class="fa fa-check"></i></span>
									<span class="label label-danger" ng-if="!item.status"><i class="fa fa-close"></i></span>
								</td>
								<td data-title="'actions'|translate" ng-if="true">
									<button class="btn btn-outline btn-primary btn-sm" title="[[ 'edit'|translate ]]"
									        ui-sref="category-edit({ id: item.id })" type="button">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-outline btn-danger btn-sm"
									        ng-click="mcc.delete([[ item.id ]])" type="button" title="[[ 'delete'|translate ]]">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						
						</table>
					</div>
				
				
				
				</div>
			</div>
		</div>
	</div>
</div>
