<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>
	        [[ (bc.id)?'edit':'create' | translate  ]] [[ 'booking' | translate  ]]
            <strong class="text-primary">[[ bc.booking.code ]]</strong>
        </h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate  ]]</a>
            </li>
            <li>
                <a href="#/bookings">[[ 'bookings' | translate  ]]</a>
            </li>
            <li class="active">
                <strong>[[ (bc.id)?'edit':'create' | translate  ]]</strong>
            </li>
        </ol>
    </div>
</div>

<form novalidate ng-submit="bc.save()" role="form">
    <div class="wrapper wrapper-content animated fadeInRight">
	    <div class="tabs-container">
		    <uib-tabset>
			    
			    <!--details-->
			    <uib-tab>
				    <uib-tab-heading>
					    <i class="fa fa-list"></i>
					    [[ 'details' | translate ]]
				    </uib-tab-heading>
				    <div class="panel-body">
					    <div ng-include="'app/js/modules/bookings/views/tabs/details.html'"></div>
				    </div>
			    </uib-tab>


				<!--comments-->
				<uib-tab>
					<uib-tab-heading>
						<i class="fa fa-comment"></i>
						[[ 'comments' | translate ]]
					</uib-tab-heading>
					<div class="panel-body">
						<div ng-include="'app/js/modules/bookings/views/tabs/comments.html'"></div>
					</div>
				</uib-tab>

				<!--payments-->
				<uib-tab disable="!bc.id" select="bc.loadPayments()">
					<uib-tab-heading>
						<i class="fa fa-credit-card"></i>
						[[ 'payments' | translate ]]
					</uib-tab-heading>
					<div class="panel-body">
						<div ng-include="'app/js/modules/bookings/views/tabs/payments.html'"></div>
					</div>
				</uib-tab>


			    
		    </uib-tabset>
	    </div>

	    <div class="row white-bg m-t-md m-b-lg">
		    <div class="wrapper wrapper-content">

			    <div class="panel">

				    <div class="panel-body">
					    <h2 class="heading">
						    [[ 'total'|translate ]]
					    </h2>
				    </div>
			    </div>
		    </div>
	    </div>

    </div>



    
	<!--save-->
    <div class="row white-bg wrapper submit animated bounceInUp" >
	    <button type="submit" class="btn btn-primary btn-lg">
		    <i class="fa fa-save"></i>
		    [[ 'save' | translate]]
	    </button>
	    <button type="button" class="btn btn-warning btn-lg" ng-click="bc.save(true)">
		    <i class="fa fa-save"></i>
		    [[ 'save_and_exit' | translate]]
	    </button>
	    <button type="button" class="btn btn-default btn-lg" ng-click="bc.cancel()">
		    <i class="fa fa-close"></i>
		    [[ 'cancel' | translate]]
	    </button>

    </div>
</form>