<div class="inmodal">

    <!--modal title-->
    <div class="modal-header">
        <h4 class="modal-title">
            [['availability' | translate ]]
        </h4>
    </div>

    <!--modal body-->
    <form ng-submit="saveModal()" role="form">
        <div class="modal-body" >

            <div class="form-horizontal">

                <!--from date-->
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        [[ 'from'|translate ]]
                    </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input
                                    type="datetime"
                                    class="form-control"
                                    date-time
                                    ng-model="event.from_date"
                                    view="date"
                                    auto-close="true"
                                    min-view="date"
                                    format="YYYY-MM-DD">
                            <span class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</span>
                        </div>
                    </div>

                </div>

                <!--to date-->
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        [[ 'to'|translate ]]
                    </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input
                                    type="datetime"
                                    class="form-control"
                                    date-time
                                    ng-model="event.to_date"
                                    view="date"
                                    auto-close="true"
                                    min-view="date"
                                    format="YYYY-MM-DD">
                            <span class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 label-control">
                        [[ 'repeat'|translate ]]?
                    </label>
                    <div class="col-md-3">
                        <input
                                icheck
                                type="checkbox"
                                class="form-control"
                                ng-model="event.repeating"
                                ng-true-value="1"
                                ng-false-value="0">
                    </div>

                </div>

                <div ng-show="date.repeating">
                    <!--repeat-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            [[ 'repeat_mode' | translate ]]
                        </label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="date.repeat">
                                <option value="1">[[ 'each_day' | translate ]]</option>
                                <option value="2">[[ 'working_days' | translate ]]</option>
                                <option value="3">[[ 'monday_wednesday_friday' | translate ]]</option>
                                <option value="4">[[ 'tuesday_thursday' | translate ]]</option>
                                <option value="5">[[ 'each_week' | translate ]]</option>
                                <option value="6">[[ 'each_month' | translate ]]</option>
                                <option value="7">[[ 'each_year' | translate ]]</option>
                            </select>
                        </div>
                    </div>

                    <!--repeat time-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            [[ 'repeat_each' | translate ]]
                        </label>
                        <div class="col-sm-3">
                            <select class="form-control" ng.model="date.interval">
                                <option ng-repeat="n in [] | range:30 ">[[ n ]]</option>
                            </select>
                        </div>
                    </div>

                    <!-- endless -->
                    <div class="form-group">
                        <label class="col-md-4 label-control">
                            [[ 'endless'|translate ]]?
                        </label>
                        <div class="col-md-3">
                            <input
                                    icheck
                                    type="checkbox"
                                    class="form-control"
                                    ng-model="date.endless"
                                    ng-true-value="1"
                                    ng-false-value="0">
                        </div>

                    </div>


                </div>


            </div>

        </div>

        <!--modal footer-->
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-lg">
                <i class="fa fa-check"></i>
                [[ 'save' | translate ]]
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-click="$close()">
                <i class="fa fa-close"></i>
                [[ 'close' | translate ]]
            </button>
        </div>

    </form>
</div>