<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>[[ 'bookings' | translate  ]]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ 'bookings' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            <div class="m-b-md">
				<button type="button" class="btn btn-primary btn-lg" ui-sref="booking-create">
					<i class="fa fa-plus-circle"></i>
					[[ 'new_booking' | translate ]]
				</button>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
	                    <i class="fa fa-calendar"></i>
                        [[ 'bookings' | translate  ]]
                    </h5>
                </div>
	            
                <div class="ibox-content">
	
	                <!--table tools-->
	                <div class="row">
		
		                <div class="col-sm-1">
			                <div table-export-tools></div>
		                </div>
	
	                </div>
	                <div class="hr-line-dashed"></div>
	                
	                <div class="table-responsive">
		                <table
				                ng-table="mbc.tableParams"
				                class="table table-bordered table-striped table-hover table-small table-centered"
				                template-pagination="custom/pager">
			
			                <tr ng-repeat="row in mbc.bookings">
				                <td title="'#'">
					                <input icheck type="checkbox" ng-model="item.checked">
				                </td>
				                <td data-title="'code'|translate" sortable="'code'" filter="{code:'custom/text'}" class="text-center">
					                <strong>[[ row.code ]]</strong>
				                </td>
				                <td data-title="'client'|translate" sortable="'client_id'" filter="{'client.name':'custom/text'}">
					                <a class="btn btn-link" ui-sref="client-edit({id:row.client_id})">
										[[ row.client.name ]]
									</a>
				                </td>
				                
				                <td data-title="'pickup'|translate" sortable="'stop_id'" filter="{'stop.name':'custom/text'}">
					                <a class="btn btn-link" ui-sref="stop-edit({ id: row.stop_id })">
										[[ row.stop.name ]]
									</a>
				                </td>
				                <td data-title="'date'|translate" sortable="'from_date'" filter="{from_date:'custom/text'}">
									<span class="label">[[ row.date_value ]]</span>
				                </td>
				                <td data-title="'agent'|translate" sortable="'user_id'" filter="{'agent.name':'custom/text'}">
					                <a class="btn btn-link" ui-sref="agent-edit({id:row.user_id})">
										[[ row.agent.name ]]
									</a>
				                </td>
				                <td data-title="'total'|translate" sortable="'total'" filter="{total:'custom/number'}" class="text-center">
					                <strong class="text-lg">
						                [[ row.total_value ]]
					                </strong>
				                </td>
				                <td data-title="'status'|translate" sortable="'status'" >
					                <span class="label" style="background-color: [[ row.status.color ]]">
										<strong>[[ row.status.name ]]</strong>
									</span>
				                </td>
				                <td data-title="'actions'|translate">
					                <button class="btn btn-outline btn-primary btn-sm"
					                        ui-sref="booking-edit({ id:row.id })" type="button">
						                <i class="fa fa-pencil"></i>
					                </button>
					                <button class="btn btn-outline btn-danger btn-sm"
					                        type="button" ng-click="mbc.delete( row.id )">
						                <i class="fa fa-trash"></i>
					                </button>
				                </td>
			                </tr>
		
		                </table>
	                </div>
	
	                
                </div>
            </div>
        </div>
    </div>
</div>
