<div class="inmodal">
	
	<!--modal title-->
	<div class="modal-header">
		<h4 class="modal-title">
			[['bookings' | translate ]]
		</h4>
	</div>
	
	<!--modal body-->
	<form ng-submit="saveModal()" role="form">
		<div class="modal-body" >
			
			<table
					ng-table="tableParams"
					class="table table-bordered table-striped table-hover table-small"
					template-pagination="custom/pager">
				
				<tr ng-repeat="row in bookings">
					<td data-title="'#'">
						<input
								type="radio"
								icheck
								ng-model="row.checked"
								name="model"
								value="[[ row.id ]]"
						>
					</td>
					<td data-title="'code'|translate" sortable="'code'" filter="{code:'custom/text'}">
						[[ row.code ]]
					</td>
					<td data-title="'client_id'|translate" sortable="'client_id'" filter="{'client.name':'custom/text'}">
						[[ row.client.name ]]
					</td>
					<td data-title="'date'|translate" sortable="'from_date'" filter="{from_date:'custom/text'}">
						[[ row.from_date ]]
					</td>
					<td data-title="'agent'|translate" sortable="'agent_id'" filter="{'agent.name':'custom/text'}">
						[[ row.agent.name ]]
					</td>
				</tr>
			
			</table>
		
		</div>
		
		<!--modal footer-->
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-lg">
				<i class="fa fa-check"></i>
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="$close()">
				<i class="fa fa-close"></i>
				[[ 'close' | translate ]]
			</button>
		</div>
	
	</form>
</div>