<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>[[ 'booking_details'|translate ]]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home'|translate ]]</a>
            </li>
            <li>
                <a href="#/bookings">[[ 'bookings'|translate]]</a>
            </li>
            <li class="active">
                <strong>[[ 'booking_details'|translate ]]</strong>
            </li>
        </ol>
    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox-content p-xl">
                <div class="row">

                    <!--client details-->
                    <div class="col-sm-6">
                        <h3>
                            <i class="fa fa-user"></i>
                            [[ 'client'|translate ]]
                        </h3>
                        <address>
                            <ul class="list-unstyled">
                                <li>
                                    <strong>[[ 'name'|translate]] : </strong>
                                    <a ui-sref="client-edit({id:bc.booking.client_id})">
                                        [[ bc.booking.client.name ]]
                                        [[ bc.booking.client.last_name ]]
                                    </a>
                                </li>
                                <li>
                                    <strong>[[ 'address'|translate ]] : </strong>
                                    [[ bc.booking.client.address ]]<br>
                                </li>
                                <li>
                                    <strong>[[ 'city'|translate ]] : </strong>
                                    [[ bc.booking.client.city ]]
                                </li>
                                <li>
                                    <strong>[[ 'phone'|translate]] : </strong>
                                    [[ bc.booking.client.phone ]]
                                </li>
                            </ul>
                        </address>
                    </div>

                    <!--booking details-->
                    <div class="col-sm-6">

                        <h3>
                            <i class="fa fa-calendar"></i>
                            [[ 'booking'|translate ]]
                            <strong class="text-navy m-l-md">
                                [[ bc.booking.code ]]
                            </strong>
                        </h3>
                        <ul class="list-unstyled">
                            <li>
                                <strong>[[ 'offer'|translate ]]: </strong>
                                <a ui-sref="offer-type-edit({id: bc.booking.offer_type_id })">
                                    [[ bc.booking.offer_type.name ]]
                                </a>
                            </li>
                            <li>
                                <strong>[[ 'booking_date'|translate]]: </strong>
                                <span class="label">
                                    [[ bc.booking.created_at ]]
                                </span>
                            </li>
                            <li>
                                <strong>[[ 'departure_date'|translate ]]: </strong>
                                <span class="label">
                                    [[ bc.booking.date ]]
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="hr-line-dashed space-30"></div>

                <!--booking prices-->
                <div class="table-responsive m-t">
                    <table class="table invoice-table">
                        <thead>
                            <tr>
                                <th>[[ 'item'|translate ]]</th>
                                <th>[[ 'quantity'|translate ]]</th>
                                <th>[[ 'price'|translate ]]</th>
                                <th>[[ 'total'|translate ]]</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>[[ 'adults'|translate ]]</td>
                            <td>[[ bc.booking.total_adults ]]</td>
                            <td>[[ bc.adultsPrice ]]</td>
                            <td>[[ bc.totalAdultsPrice ]]</td>
                        </tr>
                        <tr>
                            <td>[[ 'children'|translate ]]</td>
                            <td>[[ bc.booking.total_children ]]</td>
                            <td>$80.00</td>
                            <td>$196.80</td>
                        </tr>
                        <tr>
                            <td>[[ 'babies'|translate ]]</td>
                            <td>[[ bc.booking.total_babies ]]</td>
                            <td>$420.00</td>
                            <td>$1033.20</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /table-responsive -->

                <table class="table invoice-total">
                    <tbody>
                    <tr>
                        <td><strong>[[ 'subtotal'|translate ]] :</strong></td>
                        <td>
                            <i class="fa fa-euro"></i>
                            [[ bc.booking.subtotal ]]
                        </td>
                    </tr>
                    <tr>
                        <td><strong>[[ 'tax'|translate ]] :</strong></td>
                        <td>
                            <i class="fa fa-euro"></i>
                            [[ bc.booking.tax ]]
                        </td>
                    </tr>
                    <tr>
                        <td><strong>[[ 'total'|translate ]] :</strong></td>
                        <td>
                            <i class="fa fa-euro"></i>
                            [[ bc.booking.total ]]
                        </td>
                    </tr>
                    </tbody>
                </table>


                <div class="well m-t">
                    <h3>[[ 'client_comments'|translate ]]</h3>
                    [[ bc.booking.client_comments ]]
                </div>

                <div class="well m-t">
                    <h3>[[ 'tour_operator_comments'|translate ]]</h3>
                    [[ bc.booking.tour_operator_comments ]]
                </div>

                <div class="well m-t">
                    <h3>[[ 'internal_comments'|translate ]]</h3>
                    [[ bc.booking.internal_comments ]]
                </div>


            </div>
        </div>
    </div>
</div>
