<ui-select ng-model="$parent.company" theme="bootstrap">
	<ui-select-match placeholder="[[ 'select_company' | translate ]]">
		[[ $select.selected.name ]]
	</ui-select-match>
	<ui-select-choices repeat="value.id as value in $parent.companies | filter: $select.search">
		<div ng-bind-html="value.name | highlight: $select.search"></div>
	</ui-select-choices>
</ui-select>