<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>
	        [[ (cc.id)?'edit':'create' | translate ]] [[ 'company' | translate ]]
            <strong class="text-primary">[[ cc.company.name ]]</strong>
        </h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li>
                <a href="#/companies">[[ 'companies' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ (cc.id)?'edit':'create' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>
<form name="saveCompany" novalidate ng-submit="cc.save()">
    <div class="wrapper wrapper-content animated fadeInRight">
        
	    <div class="tabs-container">
		
		    <uib-tabset>
			    
			    <!--basic-->
			    <uib-tab>
				    <uib-tab-heading>
					    <i class="fa fa-list-ul"></i>
					    [[ 'details' | translate ]]
				    </uib-tab-heading>
				    <div class="panel-body">
					
					    <div ng-include="'app/js/modules/companies/views/tabs/details.html'"></div>
					    
						<div ng-include="'app/js/modules/companies/views/tabs/billing.html'"></div>

				    </div>
			    </uib-tab>
			    
		    </uib-tabset>
	    </div>
    </div>
	
	<div class="row white-bg wrapper submit animated bounceInUp">
		<button type="submit" class="btn btn-primary btn-lg">
			<i class="fa fa-check"></i>
			[[ 'save' | translate]]
		</button>
		<button type="button" class="btn btn-warning btn-lg" ng-click="cc.save(true)">
			<i class="fa fa-check"></i>
			[[ 'save_and_exit' | translate]]
		</button>
		<button type="button" class="btn btn-default btn-lg" ng-click="cc.cancel()">
			<i class="fa fa-close"></i>
			[[ 'cancel' | translate]]
		</button>
	</div>
   
</form>