<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>[[ 'companies' | translate ]]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ 'companies' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-b-md">
                <create-company-btn-long></create-company-btn-long>
            </div>
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5>
	                    <i class="fa fa-bank"></i>
	                   [[ 'companies' | translate ]]
                    </h5>
                </div>
	            
                <div class="ibox-content">
	
	
	                <!--table tools-->
	                <div class="row">
		
		                <div class="col-sm-1">
			                <div table-export-tools></div>
		                </div>
	
	                </div>
	                <div class="hr-line-dashed"></div>
	                
	                <div class="table-responsive">
		                <table
				                ng-table="mcc.tableParams"
				                class="table table-bordered table-striped table-hover table-small"
				                template-pagination="custom/pager">
			
			                <tr ng-repeat="company in mcc.companies.data">
				                <td title="'#'">
					                <input type="checkbox" icheck ng-model="company.checked">
				                </td>
				                <td data-title="'name'|translate" sortable="'name'" filter="{name:'custom/text'}">
					                <strong>[[ company.name ]]</strong>
				                </td>
				                <td data-title="'cif'|translate" sortable="'cif'" filter="{cif:'custom/text'}">
					                [[ company.cif ]]
				                </td>
				                <td data-title="'phone'|translate" sortable="'phone'" filter="{phone:'custom/text'}">
					                [[ company.phone ]]
				                </td>
				                <td data-title="'email'|translate" sortable="'email'" filter="{email:'custom/text'}">
					                [[ company.email ]]
				                </td>
				                <td data-title="'city'|translate" sortable="'city_id'" filter="{'city.name':'custom/text'}">
					                [[ company.city.name ]]
				                </td>
				                <td data-title="'actions'|translate">
					                <button class="btn btn-outline btn-primary btn-sm"
					                        ui-sref="company-edit({ id: [[ company.id ]] })" type="button">
						                <i class="fa fa-pencil"></i>
					                </button>
					                <button class="btn btn-outline btn-danger btn-sm"
					                        ng-click="mcc.delete([[ company.id ]])" type="button">
						                <i class="fa fa-trash"></i>
					                </button>
				                </td>
			                </tr>
		
		                </table>
	                </div>
	                
                </div>
            </div>
        </div>
    </div>
</div>

