<div class="inmodal">
	<div class="modal-header">
		<h4 class="modal-title">[['create_new_company' | translate]]</h4>
	</div>
	<form ng-submit="saveModal()">
		<div class="modal-body">
			
			<!--name-->
			<div class="form-group">
				<label class="col-sm-4 control-label required">
					[[ 'name' | translate]]
				</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="company.name">
				</div>
			</div>
			
			<!--email-->
			<div class="form-group">
				<label class="col-sm-4 control-label required">
					[[ 'email' | translate]]
				</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="company.email">
				</div>
			</div>
			
			<!--cif-->
			<div class="form-group">
				<label class="col-sm-4 control-label">
					[[ 'cif' | translate]]
				</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="company.cif">
				</div>
			</div>
			
			
		
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">
				[[ 'save_changes' | translate ]]
			</button>
			<button type="button" class="btn btn-white" ng-click="$close()">
				[[ 'close' | translate ]]
			</button>
		</div>
	</form>
</div>