<div class="form-horizontal">
	
	<!--right col-->
	<div class="col-lg-6">
		<h2 class="heading">
			[[ 'billing_details'|translate ]]
		</h2>
		
		
		<!--billing_name-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'name' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="cc.company.billing_name">
			</div>
		</div>
		
		<!--billing_address-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'address' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="cc.company.billing_address">
			</div>
		</div>
		
		<!--billing_second_address-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'second_address' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="cc.company.billing_second_address">
			</div>
		</div>
		
		<!--billing_location-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'location' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="cc.company.billing_location">
			</div>
		</div>
		
		<!--billing_phone-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'phone' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="cc.company.billing_phone">
			</div>
		</div>
		
		<!--billing_zip-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'zip' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="cc.company.billing_zip">
			</div>
		</div>
		
		<!--billing_city-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'city' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" disabled value="[[ cc.city.name ]]">
					<span class="input-group-btn">
					<button type="button" class="btn btn-primary" city-picker ng-model="cc.city">
						<i class="fa fa-search"></i>
					</button>
				</span>
				</div>
			</div>
		</div>
	</div>
	



</div>
