<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">
		<h2 class="heading">
			[[ 'general'|translate ]]
		</h2>
		
		
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'name' | translate ]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="cc.company.name">
			
			</div>
		</div>
		
		<!--email-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'email' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-at"></i>
					</span>
					<input type="text" class="form-control" ng-model="cc.company.email">
				</div>
			</div>
		</div>
		
		<!--webpage-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'webpage' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="cc.company.webpage">
			</div>
		</div>
		
		<!--cif-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'cif_nif' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon">#</span>
					<input type="text" class="form-control" ng-model="cc.company.cif">
				</div>
			</div>
		</div>
		
		<!--phone-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'phone' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-phone"></i>
					</span>
					<input type="text" class="form-control" ng-model="cc.company.phone">
				</div>
			</div>
		</div>
		
		<!--fax-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'fax' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-phone"></i>
					</span>
					<input type="text" class="form-control" ng-model="cc.company.fax">
				</div>
			</div>
		</div>
	</div>
	
	
	
</div>