body {
	min-width: 300px;
}

.no-padding {
	padding: 0 !important;
}

.no-padding.-right {
	padding-right: 0 !important;
}

button.btnadd {
	padding-right: 6px;
	padding-left: 6px;
	margin: 0 !important;
}

.table{
	position: relative;
	thead{

		tr{

			th{
				position: relative;
				&.index{
					width: 20px;
					text-align: center;
				}
				&.actions{
					width: 140px;
					text-align: center;
				}

				ul.list-group{
					position : absolute;
					bottom : -10;
					left : 0;
					z-index : 9999;
					background-color : white;
					a{
						white-space: nowrap;
					}

				}

				i{
					margin-left: 5px;
				}
			}
			th.toggable{
				cursor: pointer;
			}
		}
		position: relative;


	}

	tbody{

		tr{

			td{
				vertical-align: middle;
				font-size: 16px;

				&.index{
					width: 20px;
					text-align: center;
				}

				&.available{
					background-color: $green;
				}

				&.unavailable{
					background-color: $red;
				}


				&.number{
					text-align: right;
				}


			}

		}
		tr.deleted{
			background-color: $red;
		}
	}

	tr{

		td:first-child{
			width: 50px;
		}

		td:last-child{
			width: 140px;
			text-align: center;
		}
		td{

			&.actions{
				text-align: center;
				width: 140px;
			}

			&.number-field{
				width: 120px;
			}

		}
	}

	&.table-no-actions{

		tr{

			td{
				&:last-child{
					width: auto;
					text-align: left;
				}
			}
		}
	}

	&.table-small{
		font-size: 11px !important;

		tr{

			th{
				padding: 3px 5px;
				vertical-align: middle;
				font-size: 12px !important;
			}
			td{
				padding: 3px 5px;
				vertical-align: middle;
				font-size: 12px !important;
			}
		}

	}

	&.table-simple{

		tr{

			td{
				&:last-child{
					width: auto !important;
					text-align: left;
				}

				&:first-child{
					width: auto !important;
					text-align: left;
				}

			}

			th{

				&:last-child{
					width: auto !important;
					text-align: left;
				}

				&:first-child{
					width : auto !important;
					text-align: left;
				}

			}
		}

	}

  	&.table-centered{
	  td{
		text-align: center;
	  }
	  th{
		text-align: center;
	  }
	}



}


.modal-body .form-group{
	display: flex;
}

.footable > thead > tr > th > span.footable-sort-indicator {
	display: none
}

.ibox-tools-content-row a{
	position: absolute;
	top: -20px;
	right: 0;
}


.dt-buttons.btn-group i{
	font-size: initial !important;
}


div.dataTables_wrapper div.dataTables_filter{
	text-align: left;
}


.ui-select-match{

	.ui-select-match{

		input{
			width: 100% !important;
		}
	}
} + .ui-select-search,
 + .ui-select-search input{

}

.ui-select-match-item{

  &.btn-default{
	background-color: #18a689;
	color: white;
	padding: 6px;
	font-weight: bold;
  }
}

.ui-select-choices{
	z-index: 9000 !important;
}

form .submit{
	border-top: 3px solid rgb(231, 234, 236);
	position: fixed;
	bottom: -20px;
	right: 15px;
	left: 235.2px;
	padding-top: 20px;
	padding-bottom: 70px;
	margin-bottom: 13px;
}
@media only screen
	and ( max-width: 768px )
	and ( orientation: portrait ){

	form .submit{
		left: -1px;
	}

	.tabs-container{


		.nav-tabs{
			width: 100%;
			overflow: hidden;
			li{
				float: left !important;
				display: inline-block;
			}
		}
	}
}


form .submit input{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	z-index: 9001;
}


.footer{
	z-index: 100;
}

form{

	label{
		position: relative;
		text-align: right;
		text-transform: uppercase;
		&.required{
			&:before{
				position: relative;
				left: -10px;
				content: '*';
				color:#ed5565;

			}
		}

	}

	span{

		&.required{
			color:#ed5565;
			font-weight: bold;
		}
	}

	i{
		&.required{
			color:#ed5565;
		}
	}
}

.page-content{
	padding-bottom: 100px;
}

.loader-container{
	height: 200px;
	padding-top: 70px;
}

.spinner-container{
	height: 10px;
}

.image-tile{
	position: relative;
	border: #ccc solid 1px;
	padding: 5px;
	margin-top: 10px;
	a{
		display: block;
		overflow: hidden;
		width: 100%;
		height: 120px;
		margin-bottom: 10px;
		img{
			width: 100%;
			height: auto;

		}
	}


}

.map-container{
	width: 100%;
	height: 400px;
}

li.pagination-details{
	padding: 5px;
	font-weight: bold;
	display: inline-block;
}
.pagination-total{
	display: inline-block;
	padding:30px 5px;
	font-weight: bold;
}

.heading{
	padding-left: 50px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: dashed #e7e8e9 1px;
}

.text-lg{
	font-size: 16px;
}

.ibox-title{
	background-color: #f7f8f9;
	border:none;
	border-bottom: #999 solid 3px;
	color:#666;
	text-shadow: #fff 1px;

	h5{
		font-size: 20px;
	}
}

.navbar{
	background-color: #ffffff;
}

i.featured{
	color:#ffcc00;
}


/**Large modal
**/
@media (min-width: 992px){
	.modal-lg {
		width: 900px !important;
	}
}

.attachment-container{

	padding: 5px 0;
	margin: 5px 0;
	overflow: hidden;

	.attachment-thumbnail{
		text-align: center;
		height: 100px;

	}

	.attachment-name{
		text-align: center;
		padding: 5px 0;
	}

	.attachment-btns{
		text-align: center;
		padding: 5px;
	}
}

.img-container{
	border: #ccc dashed 1px;
	min-height: 160px;
}

.img-thumb{
	width: 170px;
	height: 170px;
}
.tag-item{
	display: inline-block;
	padding: 10px;
	border: #f7f8f9 1px solid;
	margin: 10px;
}

.list-group-item-inline{
	display: inline-block;
}

.note-editable{
  border: #ccc solid 1px;
  background-color: white;
}


.modal-lg{
  width: 90% !important;
}

.ng-map{
  width: 100%;
  height: 550px;
}

.dashboard-widget{
  height: 360px;
}

table{

  &.table-scrollable{

	width: 100%;
	thead{
	  //display: block;
	  width: 100%;
	}
	tbody{
	  //display: block;
	  width: 100%;
	  max-height: 220px;
	  overflow: hidden;
	  overflow-y: auto;
	}
  }
}

.text-primary{
  color: $green !important;
}

.success-element{
  border: #e7e7e9 solid 1px;
  border-left: $green solid 3px;
  padding: 10px;
}

.dz-error-message{
  display: none;
}