body
{
	.breadcrumb > li a
	{
		text-decoration: none;
	}	
	#content-header
	{
		padding: 23.2px;
	}
	#nav-col
	{
		position: fixed;
		#col-left
		{
			#user-left-box
			{
				background-color: #e09a44;
			}
		}
	}

	.item-no-style
	{
		border: none;
		text-decoration: none;
	}
}

.footer{
	margin-top:20px;
}