<div  class="middle-box text-center animated fadeInDown passwordBox">
	
	<div class="row">


		<div class="ibox-heading">
			<div class="ibox-title">
				<img src="app/img/easytour-logo.png" width="200">
			</div>
		</div>
		
		<div class="ibox-content">
			
			<h3>[[ 'login' | translate ]]</h3>
			
			<form class="" role="form" novalidate ng-submit="$ctrl.login()">
				
				<!--email-->
				<div class="form-group">
					
					<div class="input-group m-b">
						<span class="input-group-addon">
							<i class="fa fa-at"></i>
						</span>
						<input type="email" name="email" ng-model="$ctrl.email" class="form-control" placeholder="[[ 'email' | translate ]]" required="">
					</div>
				</div>
				
				<!--password-->
				<div class="form-group">
					<div class="input-group m-b">
						<span class="input-group-addon">
							<i class="fa fa-key"></i>
						</span>
						<input type="password" name="password" ng-model="$ctrl.password" class="form-control" placeholder="[[ 'password' | translate ]]" required="">
					</div>
				</div>
				
				
				<button type="submit" class="btn btn-primary btn-lg btn-block">
					<i class="fa fa-share"></i>
					[[ 'login' | translate ]]
				</button>
				
				
				<div class="hr-line-dashed"></div>
				
				
				<a ui-sref="restore">
					<small>[[ 'forgot_password' | translate ]]</small>
				</a>
				
			
			</form>
			
			
		</div>
		
		<div class="ibox-footer">
			<p class="">
				<small>[[ app_name ]] &copy; 2016</small>
			</p>
		</div>
		
	</div>
	
</div>