<div class="middle-box text-center animated fadeInDown passwordBox">
	<div class="row">
		
		
		<div class="ibox-heading">
			<div class="ibox-title">
				<h2 class="font-bold">
					[[ 'register_to' | translate ]] [[ app_name ]]
				</h2>
			</div>
		</div>
		<div class="ibox-content">
			
			<p>
				[[ 'create_account_title' | translate ]]
			</p>
			
			<form class="m-t"  novalidate role="form" ng-submit="$ctrl.submit()">
				
				<!--name-->
				<div class="form-group">
					<input type="text" name="name" ng-model="$ctrl.name" class="form-control" placeholder="[[ 'name' | translate ]]" >
				</div>
				
				<!--email-->
				<div class="form-group">
					<input type="email" name="email" ng-model="$ctrl.email" class="form-control" placeholder="[[ 'email' | translate ]]" >
				</div>
				
				<!--password-->
				<div class="form-group">
					<input type="password" name="password" ng-model="$ctrl.password" class="form-control" placeholder="[[ 'password' | translate ]]" >
				</div>
				
				<!--terms and conditions-->
				<div class="form-group">
					<div class="checkbox i-checks">
						<label>
							<input type="checkbox" name="terms" ng-model="$ctrl.terms">
							<i></i>
							<a ui-sref="terms-and-conditions" href="#/terms-and-conditions">
								[[ 'agree_terms_and_conditions' | translate ]]
							</a>
						</label>
					</div>
				</div>
				
				<button type="submit" class="btn btn-primary block full-width m-b">
					[[ 'register' | translate ]]
				</button>
				
				<p class="text-muted text-center">
					<small>[[ 'already_have_an_account' | translate ]]</small>
				</p>
				<a class="btn btn-sm btn-white btn-block" ui-sref="login">
					[[ 'login' | translate ]]
				</a>
			</form>
			
			
		</div>
		
		<div class="ibox-footer">
			<p class="m-t">
				<small>[[ app_name ]] &copy; 2016</small>
			</p>
		</div>
		
	</div>
</div>