<div class="middle-box text-center passwordBox animated fadeInDown">
	<div class="row">

		<div class="ibox-heading">
			<div class="ibox-title">
				<h2 class="font-bold">[[ 'reset_password' | translate ]]</h2>
			</div>
		</div>

		<div class="ibox-content">
			<p>[[ 'reset_password_text' | translate  ]]</p>

			<div class="row">
				<div class="col-lg-12">

					<form class="m-t" role="form" novalidate ng-submit="$ctrl.submit()">

						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-key"></i>
								</span>
								<input type="email" ng-model="$ctrl.password" class="form-control" placeholder="[[ 'password' | translate ]]" >
							</div>
						</div>

						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-key"></i>
								</span>
								<input type="email" ng-model="$ctrl.repeat_password" class="form-control" placeholder="[[ 'repeat_password' | translate ]]" >
							</div>
						</div>

						<button class="btn btn-primary btn-lg">
							<i class="fa fa-chevron-right"></i>
							[[ 'change_password' | translate ]]
						</button>
					</form>
				</div>
			</div>
		</div>


		<div class="ibox-footer">
			<p><small>[[ app_name ]]© 2016</small></p>
		</div>

	</div>
</div>