<div class="middle-box text-center passwordBox animated fadeInDown">
	<div class="row">
		
		<div class="ibox-heading">
			<div class="ibox-title">
				<h2 class="font-bold">[[ 'forgot_password' | translate ]]</h2>
			</div>
		</div>
		
		<div class="ibox-content">
			<p>[[ 'forgot_password_text' | translate  ]]</p>
			
			<div class="row">
				<div class="col-lg-12">
					
					<form class="m-t" role="form" novalidate ng-submit="$ctrl.submit()">
						
						<div class="form-group">
							<input type="email" ng-model="$ctrl.email" class="form-control" placeholder="[[ 'email' | translate ]]" >
						</div>
						
						<button class="btn btn-primary btn-lg">
							<i class="fa fa-envelope"></i>
							[[ 'recover_account' | translate ]]
						</button>
						
						<button type="button" ui-sref="login" class="btn btn-default btn-lg">
							<i class="fa fa-lock"></i>
							[[ 'login' | translate ]]
						</button>
					
					</form>
				</div>
			</div>
		</div>
		
		
		<div class="ibox-footer">
			<p><small>[[ app_name ]]© 2016</small></p>
		</div>
		
	</div>
</div>