<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>
	        [[ (zc.id ) ? 'edit':'create' | translate ]] [[ 'zone' | translate ]]
            <strong class="text-primary">[[ zc.zone.name ]]</strong>
        </h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li>
                <a href="#/zones">[[ 'zones' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ ( zc.id ) ? 'edit':'create' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>
<form name="saveCompany" novalidate ng-submit="zc.save()">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="tabs-container">
	        <uib-tabset>
		
		        <!--basic info-->
		        <uib-tab>
			        <uib-tab-heading>
				        <i class="fa fa-list"></i>
				        [[ 'details' | translate ]]
			        </uib-tab-heading>
			        <div class="panel-body">
				        <div ng-include="'app/js/modules/zones/views/tabs/details.html?v=1'"></div>
			        </div>
		        </uib-tab>
		        
		       <!-- <uib-tab disable="!zc.id" select="zc.loadStops()">
			        <uib-tab-heading>
				        <i class="fa fa-map-marker"></i>
				        [[ 'stops'|translate ]]
			        </uib-tab-heading>
			        <div class="panel-body">
				        <div ng-include="'app/js/modules/zones/views/tabs/stops.html'"></div>
			        </div>
		        </uib-tab>-->
		        
		        
	        </uib-tabset>
        </div>
    </div>

    <div class="row white-bg wrapper submit animated bounceInUp">
	    <button type="submit" class="btn btn-primary btn-lg">
		    <i class="fa fa-save"></i>
		    [[ 'save' | translate]]
	    </button>
	    <button type="button" class="btn btn-warning btn-lg" ng-click="zc.save(true)">
		    <i class="fa fa-save"></i>
		    [[ 'save_and_exit' | translate]]
	    </button>
	    <button type="button" class="btn btn-default btn-lg" ng-click="zc.cancel()">
		    <i class="fa fa-close"></i>
		    [[ 'cancel' | translate]]
	    </button>
    </div>
	
</form>