<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>[[ 'zones' | translate ]]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ 'zones' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
	
	        <div class="m-b-md">
		        <button type="button" class="btn btn-primary btn-lg" ui-sref="zone-create">
			        <i class="fa fa-plus-circle"></i>
			        [[ 'new_zone' | translate ]]
		        </button>
	        </div>
	        
            <div class="ibox float-e-margins">
                
	            <!--box title-->
	            <div class="ibox-title">
                    <h5>
	                    <i class="fa fa-bullseye"></i>
	                    [[ 'zones'|translate ]]
                    </h5>
                </div>
	            
	            
                <div class="ibox-content">
	
	                <!--table tools-->
	                <div class="row">
		
		                <div class="col-sm-6">
			                <span table-field-toggle ng-model="mzc.fields"></span>
			                <span table-export-tools ng-model="mzc.tableBtns"></span>
		                </div>
	
	                </div>
	                <div class="hr-line-dashed"></div>
	                
	                <div class="table-responsive">
		                <table
				                ng-table="mzc.tableParams"
				                class="table table-bordered table-striped table-hover table-condensed table-small"
				                template-pagination="custom/pager">
			
			                <tr ng-repeat="row in mzc.zones">
				                <td data-title="'#'">
					                <input type="checkbox" icheck ng-model="row.checked">
				                </td>
				                <td data-title="'name'|translate"  sortable="'name'" filter="{ name:'custom/text'}">
					                <strong>[[ row.name ]]</strong>
				                </td>
				                <td data-title="'lat'|translate" sortable="'lat'" filter="{ lat:'custom/text'}">
					                [[ row.lat ]]
				                </td>
				                <td data-title="'lng'|translate" sortable="'lng'" filter="{ lng:'custom/text'}">
					                [[ row.lng ]]
				                </td>
				                <td data-title="'city'|translate" sortable="'city_id'" filter="{'city.name':'custom/text'}">
									<strong>[[ row.city.name ]]</strong>
				                </td>
								<td data-title="'stops'|translate" class="text-center">
									<span class="label">[[ row.stops ]]</span>
								</td>
				                <td data-title="'status'|translate" sortable="'status'" class="text-center">
					                <span class="label label-primary" ng-show="row.status"><i class="fa fa-check"></i></span>
					                <span class="label label-danger" ng-show="!row.status"><i class="fa fa-close"></i></span>
				                </td>
				                <td data-title="'actions'|translate">
					                <button class="btn btn-outline btn-warning btn-sm" title="[[ 'copy'|translate ]]"
					                        ng-click="mzc.cloneZone([[row.id]])" type="button">
						                <i class="fa fa-copy"></i>
					                </button>
					                <button class="btn btn-outline btn-primary btn-sm" title="[[ 'edit'|translate ]]"
					                        ui-sref="zone-edit({ id: [[row.id]] })" type="button">
						                <i class="fa fa-pencil"></i>
					                </button>
					                <button class="btn btn-outline btn-danger btn-sm" title="[[ 'delete'|translate ]]"
					                        ng-click="mzc.delete([[ row.id ]])" type="button">
						                <i class="fa fa-trash"></i>
					                </button>
				                </td>
			                </tr>
		
		                </table>
	                </div>
	
	                
                </div>
            </div>
        </div>
    </div>
</div>


