<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>
			[[ ( rc.id )?'edit':'create' | translate ]] [[ 'route' | translate ]]
			<strong class="text-primary">[[ rc.route.name ]]</strong>
		</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#/dashboard">[[ 'home' | translate ]]</a>
			</li>
			<li>
				<a href="#/routes">[[ 'routes' | translate ]]</a>
			</li>
			<li class="active">
				<strong>[[ ( rc.id )?'edit':'create' | translate ]]</strong>
			</li>
		</ol>
	</div>
</div>


<form ng-submit="rc.save()" novalidate>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="tabs-container">
			<uib-tabset>
				
				<!--details-->
				<uib-tab>
					<uib-tab-heading>
						<i class="fa fa-pencil"></i>
						[[ 'details' | translate ]]
					</uib-tab-heading>
					<div class="panel-body">
						<div ng-include="'app/js/modules/routes/views/tabs/details.html'"></div>
					</div>
				</uib-tab>
				
				
				<!--availability-->
				<uib-tab select="rc.loadDates()" disable="!rc.id">
					<uib-tab-heading>
						<i class="fa fa-calendar"></i>
						[[ 'availability'|translate ]]
					</uib-tab-heading>
					<div class="panel-body">
						<div ng-include="'app/js/modules/routes/views/tabs/availability.html'"></div>
					</div>
				</uib-tab>
				
				<!--zones-->
				<uib-tab select="rc.loadZones()" disable="!rc.id">
					<uib-tab-heading>
						<i class="fa fa-bullseye"></i>
						[[ 'zones' | translate ]]
					</uib-tab-heading>
					<div class="panel-body">
						<div ng-include="'app/js/modules/routes/views/tabs/zones.html'"></div>
					</div>
				</uib-tab>

				<!--stops-->
				<!--<uib-tab select="rc.loadStops()" disable="!rc.id">
					<uib-tab-heading>
						<i class="fa fa-map-marker"></i>
						[[ 'stops' | translate ]]
					</uib-tab-heading>
					<div class="panel-body">
						<div ng-include="'app/js/modules/routes/views/tabs/stops.html'"></div>
					</div>
				</uib-tab>-->
				
				
			
			
			</uib-tabset>
		</div>
	</div>
	
	
	<div class="row white-bg wrapper submit animated bounceInUp">
		<button type="submit" class="btn btn-primary btn-lg">
			<i class="fa fa-save"></i>
			[[ 'save' | translate]]
		</button>
		<button type="button" class="btn btn-warning btn-lg" ng-click="rc.save(true)">
			<i class="fa fa-save"></i>
			[[ 'save_and_exit' | translate]]
		</button>
		<button type="button" class="btn btn-default btn-lg" ng-click="rc.cancel()">
			<i class="fa fa-close"></i>
			[[ 'cancel' | translate]]
		</button>
	</div>

</form>