<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>[[ 'routes' | translate ]]</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#/dashboard">[[ 'home' | translate ]]</a>
			</li>
			<li class="active">
				<strong>[[ 'routes' | translate ]]</strong>
			</li>
		</ol>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			
			
			<div class="m-b-md">
				<button class="btn btn-primary btn-lg" ui-sref="route-create">
					<i class="fa fa-location-arrow"></i>
					[[ 'new_route' | translate ]]
				</button>
			</div>
			
			
			<div class="ibox float-e-margins">
				
				<div class="ibox-title">
					<h5>
						<i class="fa fa-location-arrow"></i>
						[[ 'routes' | translate ]]
					</h5>
				</div>
				
				<div class="ibox-content">
					
					<!--table tools-->
					<div class="row">
						
						<div class="col-sm-1">
							<div table-export-tools></div>
						</div>
					
					</div>
					<div class="hr-line-dashed"></div>
					
					<div class="table-responsive">
						<table
								ng-table="mrc.tableParams"
								class="table table-bordered table-striped table-condensed table-small"
								template-pagination="custom/pager">
							
							<tr ng-repeat="row in mrc.routes ">
								<td title="'#'">
									<input type="checkbox" icheck ng-model="row.checked">
								</td>
								<td data-title="'name'|translate" sortable="'name'" filter="{name:'custom/text'}">
									<strong>[[ row.name ]]</strong>
								</td>
								<td data-title="'location'|translate" sortable="'location_id'" filter="{'location.name':'custom/text'}">
									[[ row.location.name ]]
								</td>
								<td data-title="'offer'|translate" sortable="'offer_id'" filter="{'offer.name':'custom/text'}">
									<a ui-sref="offer-edit({id:row.offer_id})" class="btn btn-link">
										[[ row.offer.name ]]
									</a>
								</td>
								<td data-title="'zones'|translate" class="text-center">
									<a>
										<span class="label">[[ row.zones ]]</span>
									</a>

								</td>
								<td data-title="'actions'|translate">
									<button class="btn btn-outline btn-warning btn-sm" ng-click="mrc.cloneRoute( row.id )">
										<i class="fa fa-copy"></i>
									</button>
									<button class="btn btn-outline btn-primary btn-sm"
									        ui-sref="route-edit({ id: [[ row.id ]] })" type="button">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-outline btn-danger btn-sm"
									        ng-click="mrc.delete( row.id )" type="button">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						
						</table>
					</div>
				
				
				</div>
			</div>
		</div>
	</div>
</div>
