<div class="inmodal">
	
	<!--modal title-->
	<div class="modal-header">
		<h4 class="modal-title">
			[['add_new_stop' | translate ]]
		</h4>
	</div>
	
	<!--modal body-->
	<form ng-submit="save()" novalidate>
		<div class="modal-body" >
			
			<div class="tabs-container">
				<uib-tabset>
					
					<!--details tab-->
					<uib-tab heading="[[ 'details']]">
						<div class="panel-body">
							<div class="form-horizontal">
								
								<!--name-->
								<div class="form-group">
									<label class="col-sm-4 control-label required">
										[[ 'name'|translate ]]
									</label>
									<div class="col-sm-6">
										<input type="text" ng-model="stop.name" class="form-control">
									</div>
								</div>
								
								<!--latitude-->
								<div class="form-group">
									<label class="col-sm-4 control-label required">
										[[ 'latitude'|translate ]]
									</label>
									<div class="col-sm-5">
										<div class="input-group">
											<input class="form-control" type="text" ng-model="stop.lat">
										</div>
									</div>
								
								</div>
								
								<!--longitude-->
								<div class="form-group">
									<label class="col-sm-4 control-label required">
										[[ 'longitude'|translate ]]
									</label>
									<div class="col-sm-5">
										<div class="input-group">
											<input class="form-control" type="text" ng-model="stop.lng">
										</div>
									</div>
								</div>
								
								<!--heading-->
								<div class="form-group">
									<label class="col-sm-4 control-label">
										[[ 'heading'|translate ]]
									</label>
									<div class="col-sm-2">
										<div class="input-group">
											<input class="form-control" type="text" ng-model="stop.heading">
										</div>
									</div>
								</div>
								
								<!--pitch-->
								<div class="form-group">
									<label class="col-sm-4 control-label">
										[[ 'pitch'|translate ]]
									</label>
									<div class="col-sm-2">
										<div class="input-group">
											<input class="form-control" type="text" ng-model="stop.pitch">
										</div>
									</div>
								</div>
								
								<!--zoom-->
								<div class="form-group">
									<label class="col-sm-4 control-label">
										[[ 'zoom'|translate ]]
									</label>
									<div class="col-sm-2">
										<div class="input-group">
											<input class="form-control" type="text" ng-model="stop.zoom">
										</div>
									</div>
								</div>
							
							</div>
						</div>
					</uib-tab>
					
					<!--more tab-->
					<uib-tab heading="[[ 'more'|translate]]">
						<div class="panel-body">
							<div class="form-horizontal">
								
								
								<!--supplement type-->
								<div class="form-group">
									<label class="col-sm-4 control-label">
										[[ 'supplement'|translate ]]
									</label>
									<div class="col-sm-4">
										<div class="input-group">
											<input class="form-control" type="text" ng-model="stop.supplement">
										</div>
									</div>
								</div>
								
								<!--description-->
								<div class="form-group">
									<label class="col-sm-4 control-label">
										[[ 'description'|translate ]]
									</label>
									<div class="col-sm-6">
										<textarea type="text" ng-model="stop.description" class="form-control"></textarea>
									</div>
								</div>
								
							</div>
						</div>
					</uib-tab>
				
				</uib-tabset>
				
			</div>
			
		</div>
		
		<!--modal footer-->
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-white" ng-click="$close()">
				[[ 'close' | translate ]]
			</button>
		</div>
	
	</form>
</div>