<div class="row">
    <!--widget 5-->
    <div class="animated fadeInLeft">
        <div class="col-sm-12" >
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>[["booking_calendar"|translate]]</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content ui-calendar">
                    <div ui-calendar="mdc.uiConfig.calendar" class="calendar" ng-model="mdc.calendarSources"></div>
                </div>
            </div>
        </div>
    </div>

</div>