<!--pending bookings-->
<div class="col-md-6 col-lg-3">
    <div class="widget style1 navy-bg">
        <div class="row vertical-align">
            <div class="col-xs-4">
                <i class="fa fa-calendar fa-3x"></i>
                <br>
                <small>[[ 'pending_bookings'|translate ]]</small>
            </div>
            <div class="col-xs-8 text-right">
                <h2 class="font-bold">[[ mdc.stats.totalPendingBookings ]]</h2>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-3">
    <div class="widget style1 navy-bg">
        <div class="row vertical-align">
            <div class="col-xs-4">
                <i class="fa fa-user fa-3x"></i>
                <br>
                <small>[[ 'clients'|translate]]</small>
            </div>
            <div class="col-xs-8 text-right">
                <h2 class="font-bold">[[ mdc.stats.totalClients ]]</h2>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-3">
    <div class="widget style1 lazur-bg">
        <div class="row vertical-align">
            <div class="col-xs-4">
                <i class="fa fa-rocket fa-3x"></i>
                <br>
                <small>[[ 'tour_operators'|translate ]]</small>
            </div>
            <div class="col-xs-8 text-right">
                <h2 class="font-bold">[[ mdc.stats.totalTourOperators ]]</h2>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-3">
    <div class="widget style1 yellow-bg">
        <div class="row vertical-align">
            <div class="col-xs-4">
                <i class="fa fa-briefcase fa-3x"></i>
                <br>
                <small>[[ 'agents'|translate ]]</small>
            </div>
            <div class="col-xs-8 text-right">
                <h2 class="font-bold">[[ mdc.stats.totalAgents ]]</h2>
            </div>
        </div>
    </div>
</div>