<div class="ibox m-sm">
	<div class="ibox-heading">
		<div class="ibox-title">
			<h2>[[ 'latest_bookings'|translate ]]</h2>
		</div>
	</div>
	<div class="ibox-content">
		<table class="table table-small table-responsive table-stripped table-hover table-centered">
			<thead>
				<tr>
					<th>[[ 'code'|translate ]]</th>
					<th>[[ 'client'|translate ]]</th>
					<th>[[ 'pickup'|translate ]]</th>
					<th>[[ 'date'|translate ]]</th>
					<th>[[ 'agent'|translate ]]</th>
					<th>[[ 'total'|translate ]]</th>
					<th>[[ 'status'|translate ]]</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in mdc.latestBookings">
					<td>
						<strong>
							<a ui-sref="booking-edit({id:item.id})" >[[ item.code ]]</a>
						</strong>
					</td>
					<td>
						<a ui-sref="client-edit({id:item.agent_id})" class="btn btn-link">
							[[ item.client.name ]] [[ item.client.last_name ]]
						</a>
					</td>
					<td>
						<a ui-sref="stop-edit({id:item.stop_id})" class="btn btn-link">
							[[ item.stop.name ]]
						</a>
					</td>
					<td>
						<span class="label">[[ item.date ]]</span>
					</td>
					<td>
						<a ui-sref="agent-edit({id:item.agent_id})" class="btn btn-link">
							[[ item.agent.name ]]
						</a>
					</td>
					<td>
						<strong>[[ item.total_value ]]</strong>
					</td>
					<td>
						<span class="label" style="background-color: [[ item.status.color ]]">
							<strong>[[ item.status.name ]]</strong>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>