<!--widget 1-->
<div class="col-md-6 col-lg-3">
	<div class="ibox float-e-margins animated fadeIn">
		<div class="ibox-title">
			<h2>
				<i class="fa fa-ticket"></i>
				[['pending'|translate]]
				<strong class="text-navy pull-right">
					[[ mdc.totalPendingOfPayment ]]
				</strong>
			</h2>
			<small>
				<strong>[[ 'pending_of_payment'|translate  ]]</strong>
			</small>
		</div>
		<div class="ibox-content dashboard-widget">
			<table class="table table-small table-responsive table-scrollable table-centered">
				<thead>
					<tr>
						<td>[[ 'code'|translate ]]</td>
						<td>[[ 'date'|translate ]]</td>
						<td>[[ 'total'|translate ]]</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in mdc.pendingOfPayment">
						<td>
							<a ui-sref="booking-edit({id:item.id})" class="btn btn-link">
								<strong>[[ item.code ]]</strong>
							</a>
						</td>
						<td>
							<span class="label">[[ item.date ]]</span>
						</td>
						<td>
							[[ item.total_value ]]
						</td>
					</tr>
				</tbody>

			</table>

		</div>
	</div>
</div>