<!--widget 1-->
<div class="col-md-6 col-lg-3">
	<div class="ibox float-e-margins animated fadeIn">
		<div class="ibox-title">
			<h2>
				<i class="fa fa-user"></i>
				[['agents'|translate]]
				<strong class="text-navy pull-right">
					[[ mdc.totalAgents ]]
				</strong>
			</h2>
			<small>
				<strong>[[ 'negative_agents_credit'|translate  ]]</strong>
			</small>
		</div>
		<div class="ibox-content dashboard-widget">
			<table class="table table-small table-responsive table-scrollable table-centered">
				<thead>
					<tr>
						<td>[[ 'name'|translate ]]</td>
						<td>[[ 'phone'|translate ]]</td>
						<td>[[ 'credit'|translate ]]</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in mdc.agents">
						<td>
							<a ui-sref="agent-edit({id:item.id})" class="btn btn-link">
								<strong>[[ item.name]] [[ item.last_name ]]</strong>
							</a>
						</td>
						<td>
							[[ item.phone ]]
						</td>
						<td>
							<strong class="text-danger">
								[[ item.current_credit_value ]]
							</strong>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>