<!--widget 5-->
<div class="">

	<!--total offers-->
	<div class="col-md-6 col-lg-3">
		<div class="widget style1 lazur-bg">
			<div class="row">
				<div class="col-xs-4">
					<i class="fa fa-ticket fa-5x"></i>
				</div>
				<div class="col-xs-8 text-right">
					<h3>
						[[ 'total_offers'|translate ]]
					</h3>

					<h2 class="font-bold">
						[[ mdc.totalOffers ]]
					</h2>
				</div>
			</div>
		</div>
	</div>

	<!--total clients-->
	<div class="col-md-6 col-lg-3">
		<div class="widget style1 navy-bg">
			<div class="row">
				<div class="col-xs-4">
					<i class="fa fa-briefcase fa-5x"></i>
				</div>
				<div class="col-xs-8 text-right">
					<h3>
						[[ 'total_clients'|translate ]]
					</h3>

					<h2 class="font-bold">
						[[ mdc.totalClients ]]
					</h2>
				</div>
			</div>
		</div>
	</div>

	<!--total agents-->
	<div class="col-md-6 col-lg-3">
		<div class="widget style1 yellow-bg">
			<div class="row">
				<div class="col-xs-4">
					<i class="fa fa-user fa-5x"></i>
				</div>
				<div class="col-xs-8 text-right">
					<h3>
						[[ 'total_agents'|translate ]]
					</h3>

					<h2 class="font-bold">
						[[ mdc.totalActiveAgents ]]
					</h2>
				</div>
			</div>
		</div>
	</div>

	<!--total tour operators-->
	<div class="col-md-6 col-lg-3">
		<div class="widget style1 red-bg">
			<div class="row">
				<div class="col-xs-4">
					<i class="fa fa-rocket fa-5x"></i>
				</div>
				<div class="col-xs-8 text-right">
					<h3>
						[[ 'total_tour_operators'|translate ]]
					</h3>

					<h2 class="font-bold">
						[[ mdc.totalTourOperators ]]
					</h2>
				</div>
			</div>
		</div>
	</div>


</div>