<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>[[ 'bookings' | translate  ]]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate  ]]</a>
            </li>
            <li>
                <a href="#/bookings">[[ 'bookings' | translate  ]]</a>
            </li>
            <li class="active">
                <strong>[[ 'book' | translate  ]]</strong>
            </li>
        </ol>
    </div>
</div>

<form novalidate ng-submit="bc.save()" role="form">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="ibox float-e-margins">


                <div class="ibox-title">
                    <h5>
                        <i class="fa fa-calendar"></i>
                        [[ 'booking'|translate ]]
                    </h5>
                </div>
                <div class="ibox-content">

                    <uib-tabset>

                        <!--basic info-->
                        <uib-tab>
                            <uib-tab-heading>
                                <span class="badge">1</span>
                                [[ 'search' | translate ]]
                            </uib-tab-heading>
                            <div class="panel-body">
                                <div ng-include="'app/js/modules/bookings/views/book/step-one.html'"></div>
                            </div>
                        </uib-tab>

                        <uib-tab>
                            <uib-tab-heading>
                                <span class="badge">2</span>
                                [[ 'options'|translate ]]
                            </uib-tab-heading>
                            <div class="panel-body">
                                <div ng-include="'app/js/modules/bookings/views/book/step-two.html'"></div>
                            </div>
                        </uib-tab>

                        <uib-tab>
                            <uib-tab-heading>
                                <span class="badge">3</span>
                                [[ 'details'|translate ]]
                            </uib-tab-heading>
                            <div class="panel-body">
                                <div ng-include="'app/js/modules/bookings/views/book/step-three.html'"></div>
                            </div>
                        </uib-tab>

                        <uib-tab>
                            <uib-tab-heading>
                                <span class="badge">4</span>
                                [[ 'payments'|translate ]]
                            </uib-tab-heading>
                            <div class="panel-body">
                                <div ng-include="'app/js/modules/bookings/views/book/step-four.html'"></div>
                            </div>
                        </uib-tab>

                    </uib-tabset>

                </div>

            </div>
        </div>
    </div>

    <!--save-->
    <div class="row white-bg wrapper submit animated bounceInUp" >
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="fa fa-check"></i>
            [[ 'save' | translate]]
        </button>
        <button type="button" class="btn btn-default btn-lg" ng-click="bc.cancel()">
            <i class="fa fa-close"></i>
            [[ 'cancel' | translate]]
        </button>

    </div>
</form>