<div class="form-horizontal">

    <h2 class="m-lg">[[ 'search_available_offers'|translate ]]</h2>

    <div class="form-group">
        <div class="col-md-4">
            <div class="input-group">
                <input
                        type="datetime"
                        class="form-control"
                        date-time
                        ng-model="bc.dateFrom"
                        view="date"
                        auto-close="true"
                        min-view="date"
                        format="YYYY-MM-DD">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input
                        type="datetime"
                        class="form-control"
                        date-time
                        ng-model="bc.dateTo"
                        view="date"
                        auto-close="true"
                        min-view="date"
                        format="YYYY-MM-DD">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" ng-click="bc.searchOffers()">
                <i class="fa fa-search"></i>
                [[ 'search'|translate ]]
            </button>
        </div>

    </div>

    <div class="hr-line-dashed"></div>

    <!--available offers-->
    <div class="contact-box" ng-repeat="i in bc.availableOffers">
        <div class="col-sm-4">
            <div class="text-center">
                <img alt="image" class="img-polaroid m-t-xs img-responsive" ng-src="[[ i.image ]]">
            </div>
        </div>
        <div class="col-sm-8">
            <h3>
                <strong>[[ i.name ]]</strong>
            </h3>
            <p>[[ i.description ]]</p>
            <div class="price">[[ i.price ]]</div>
            <button type="button" class="btn btn-primary">
                <i class="fa fa-ticket"></i>
                [[ 'book'|translate ]]
            </button>

        </div>
        <div class="clearfix"></div>
    </div>

</div>