<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>[[ 'commissions_report' | translate ]]</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#/dashboard">[[ 'home' | translate ]]</a>
			</li>
			<li>
				<a href="">[[ 'reports' | translate ]]</a>
			</li>
			<li class="active">
				<strong>[[ 'commissions_report' | translate ]]</strong>
			</li>
		</ol>
	</div>
</div>