<div class="form-horizontal">
	
	
	<!--left col-->
	<div class="col-lg-8">
		
		<h2 class="heading">
			[[ 'general'|translate ]]
		</h2>


		<!--name-->
		<div class="form-group">
			<label class="col-sm-4 control-label required">
				[[ 'name' | translate]]
			</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" ng-model="ic.item.name">
			</div>
		</div>

		<!--description-->
		<div class="form-group">
			<label class="col-sm-4 control-label">
				[[ 'description' | translate]]
			</label>
			<div class="col-sm-6">
				<textarea class="form-control" cols="5" rows="6" ng-model="ic.item.description"></textarea>
			</div>
		</div>

		<!--single-->
		<div class="form-group">
			<label class="col-sm-4 control-label">
			</label>
			<div class="col-sm-6">
				<input type="checkbox" icheck ng-true-value="1" ng-false-value="0" class="form-control" ng-model="ic.item.single">
				<strong>[[ 'single'|translate ]]</strong>

				<input type="checkbox" icheck ng-true-value="1" ng-false-value="0" class="form-control" ng-model="ic.item.billable">
				<strong>[[ 'billable' | translate]]</strong>

				<input type="checkbox" icheck ng-true-value="1" ng-false-value="0" class="form-control" ng-model="ic.item.system">
				<strong>[[ 'system' | translate]]</strong>

				<input type="checkbox" icheck ng-true-value="1" ng-false-value="0" class="form-control" ng-model="ic.item.status">
				<strong>[[ 'status' | translate]]</strong>

			</div>
		</div>


	</div>
</div>
