<div class="row wrapper border-bottom white-bg page-heading animated fadeIn" xmlns="http://www.w3.org/1999/html">
    <div class="col-lg-10">
        <h2>
	        [[ ( otc.id ) ? 'edit':'create' | translate ]] [[ 'offer_type' | translate ]]
            <strong class="text-primary">[[ otc.type.name ]]</strong>
        </h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li>
                <a href="#/offer-types">[[ 'offer_types' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ (otc.id ) ? 'edit':'create' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>

<form ng-submit="otc.save()" novalidate>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="tabs-container">
	        <uib-tabset>
		        
		        <!--basic details-->
		        <uib-tab heading="">
			        <uib-tab-heading>
				        <i class="fa fa-list"></i>
				        [[ 'details' | translate ]]
			        </uib-tab-heading>
			        <div class="panel-body">
				        <div ng-include="'app/js/modules/offer-types/views/tabs/details.html'"></div>
			        </div>
		        </uib-tab>
		        
		        <!--media-->
		        <uib-tab select="otc.loadMedia()" disable="!otc.id">
			        <uib-tab-heading>
				        <i class="fa fa-image"></i>
				        [[ 'media' | translate ]]
			        </uib-tab-heading>
			        <div class="panel-body">
				        <div ng-include="'app/js/modules/offer-types/views/tabs/media.html'"></div>
			        </div>
		        </uib-tab>
		
		
		        <!--offer type content-->
		        <uib-tab select="otc.loadContent()" disable="!otc.id" >
			        <uib-tab-heading>
				        <i class="fa fa-edit"></i>
				        [[ 'content' | translate ]]
			        </uib-tab-heading>
			        <div class="panel-body" >
			            <div ng-include="'app/js/modules/offer-types/views/tabs/content.html'"></div>
			        </div>
		        </uib-tab>

				<!--availability-->
				<uib-tab select="otc.loadDates()" disable="!otc.id" >
					<uib-tab-heading>
						<i class="fa fa-calendar"></i>
						[[ 'availability' | translate ]]
					</uib-tab-heading>
					<div class="panel-body" >
						<div ng-include="'app/js/modules/offer-types/views/tabs/availability.html'"></div>
					</div>
				</uib-tab>

		        <!--categories-->
		        <uib-tab select="otc.loadCategoriesLocations()" disable="!otc.id" >
			        <uib-tab-heading>
				        <i class="fa fa-list"></i>
				        [[ 'categories' | translate ]]
			        </uib-tab-heading>
			        <div class="panel-body" >
				        <div ng-include="'app/js/modules/offer-types/views/tabs/categories.html'"></div>
			        </div>
		        </uib-tab>
		        
		        
		        
	        </uib-tabset>
        </div>
    </div>

    <div class="row white-bg wrapper submit animated bounceInUp" >
	    <button type="submit" class="btn btn-primary btn-lg">
		    <i class="fa fa-save"></i>
		    [[ 'save' | translate]]
	    </button>
	    <button type="button" class="btn btn-warning btn-lg" ng-click="otc.save(true)">
		    <i class="fa fa-save"></i>
		    [[ 'save_and_exit' | translate]]
	    </button>
	    <button type="button" class="btn btn-default btn-lg" ng-click="otc.cancel()">
		    <i class="fa fa-close"></i>
		    [[ 'cancel' | translate]]
	    </button>
    </div>
	
</form>