<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>[[ 'offer_types' | translate]]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ 'offer_types' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-b-md">
	            
	            
	            <button type="button" class="btn btn-primary btn-lg" ui-sref="offer-type-create">
		            <i class="fa fa-plus"></i> [[ 'new_offer_type' | translate ]]
	            </button>
	            
            </div>
	        
            <div class="ibox float-e-margins">
                
	            <div class="ibox-title">
                    <h5>
	                    <i class="fa fa-ticket"></i>
	                    [[ 'offer_types' | translate ]]
                    </h5>
                </div>
	            
                <div class="ibox-content">
	
	                <!--table tools-->
	                <div class="row">
		
		                <div class="col-sm-1">
			                <div table-export-tools></div>
		                </div>
	
	                </div>
	                <div class="hr-line-dashed"></div>
	                
	                <div class="table-responsive">
		                <table
				                ng-table="motc.tableParams"
				                class="table table-bordered table-striped table-hover table-small table-centered"
				                template-pagination="custom/pager" >
			
			                <tr ng-repeat="item in motc.types ">
				                <td data-title="'#'">
					                <input type="checkbox" icheck ng-model="item.checked">
				                </td>
				                <td data-title="''">
									<i class="fa fa-star text-warning fa-2x" ng-if="item.featured"></i>
									<i class="fa fa-star-o text-warning fa-2x" ng-if="!item.featured"></i>
				                </td>
				                <td data-title="'image'|translate" width="100">
					                <img ng-src="[[ item.attachments[0].url]]/thumb-[[ item.attachments[0].filename ]]" width="80" height="80" class="img-rounded" ng-if="item.attachments.length">
					                <img ng-src="media/img-not-found.png" width="80" height="80" class="img-rounded" ng-if="!item.attachments.length">
					                
				                </td>
				                <td data-title="'name'|translate" sortable="'name'" filter="{name:'custom/text'}">
					                <strong>[[ item.name ]]</strong>
					                <div>
						                <small>[[ item.description ]]</small>
					                </div>
				                </td>
				                <td data-title="'sales_price'|translate" sortable="'price'" filter="{price:'custom/text'}" class="text-right">
					                <strong class="text-lg" title="[[ 'pvp_price'|translate ]]">[[ item.price_value ]]</strong>
				                </td>
				                <td data-title="'commission'|translate" sortable="'commission'" filter="{commission:'custom/text'}" class="text-right">
					                <strong class="text-lg" ng-if="item.commission">[[ item.commission ]] %</strong>
				                </td>
				                <td  class="text-center" width="50px" data-title="'order'|translate" sortable="'order'" filter="{order:'custom/text'}">
					                [[ item.order ]]
				                </td>
								<td  class="text-center" width="50px" data-title="'offers'|translate">
									[[ item.offers ]]
								</td>
				                <td data-title="'actions'|translate">
					                <button class="btn btn-outline btn-primary btn-sm"
					                        ui-sref="offer-type-edit({ id: [[item.id]] })" type="button">
						                <i class="fa fa-pencil"></i>
					                </button>
					                <button class="btn btn-outline btn-danger btn-sm"
					                        ng-click="motc.delete([[ item.id ]])" type="button">
						                <i class="fa fa-trash"></i>
					                </button>
				                </td>
			                </tr>
		
		                </table>
	                </div>
	
	                
                </div>
            </div>
        </div>
    </div>
</div>
