<ui-select ng-model="$parent.offerType" theme="bootstrap">
    <ui-select-match placeholder="[[ 'select_type' | translate ]]">
        [[ $select.selected.name ]]
    </ui-select-match>
    <ui-select-choices repeat="value.id as value in $root.offerTypes | filter: $select.search">
        <div ng-bind-html="value.name | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>
