<div class="inmodal">
	
    <div class="modal-header">
        <h4 class="modal-title">[['new_content' | translate]]</h4>
    </div>
	
    <form ng-submit="save()" novalidate>
        <div class="modal-body">

			<!--name-->
            <div class="form-group">
                <label class="col-sm-4 control-label required">
                    [[ 'title' | translate]]
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="content.title">
                </div>
            </div>
            
	        <!--language-->
	        <div class="form-group">
		        <label class="col-sm-4 control-label required">
			        [[ 'language' | translate]]
		        </label>
		        <div class="col-sm-8">
			        <div language-selector languages="languages" ng-model="content.language_id"></div>
		        </div>
	        </div>
	
	        <!--short description-->
	        <div class="hr-line-dashed"></div>
	        <div class="form-group">
		        <label class="col-sm-4 control-label">
			        [[ 'short_description' | translate]]
		        </label>
	        </div>
	        <div class="ibox-content no-padding">
		        <div summernote class="summernote"  ng-model="content.short_description"></div>
	        </div>
	
	        <!--long description-->
	        <div class="hr-line-dashed"></div>
	        <div class="form-group">
		        <label class="col-sm-4 control-label">
			        [[ 'long_description' | translate]]
		        </label>
	        </div>
	        <div class="ibox-content no-padding">
				<div summernote class="summernote"  ng-model="content.long_description"></div>
			</div>
	        
        </div>
	    
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">
                [[ 'save_changes' | translate ]]
            </button>
            <button type="button" class="btn btn-white" ng-click="$close()">
                [[ 'close' | translate ]]
            </button>
        </div>
	    
    </form>
</div>