<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">[['new_offer_type' | translate]]</h4>
    </div>
    <form ng-submit="$ctrl.saveModal()">
        <div ng-repeat="errorMessage in $ctrl.errorMessages" class="alert alert-danger">
            <div ng-message-exp="errorMessage.type" >
                <b>[[ errorMessage.field ]]: </b>
                [[ errorMessage.text ]]
            </div>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class=" col-sm-4 control-label">
                    [[ 'language_tour' | translate]]
                </label>
                <div class="col-sm-6 col-xs-6">
                    <div language-selector
                         ng-model="$ctrl.offerContent.language_id"
                         languages="languages"
                    >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">
                    [[ 'title' | translate]]
                </label>
                <div class="col-sm-6 col-xs-6">
                    <input type="text" class="form-control" ng-model="$ctrl.offerContent.title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">
                    [[ 'description' | translate]]
                </label>
                <div summernote class="col-sm-12 col-xs-12 summernote" ng-model="$ctrl.offerContent.description">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">
                [[ 'save_changes' | translate ]]
            </button>
            <button type="button" class="btn btn-white" ng-click="$ctrl.closeModal()">
                [[ 'close' | translate ]]
            </button>
        </div>
    </form>
</div>