<div class="inmodal">
	<div class="modal-header">
		<h4 class="modal-title">[['create_new_field' | translate]]</h4>
	</div>
	<form ng-submit="$ctrl.saveModal()">
		<div class="modal-body">
			
			<p>[[ 'add_custom_field_text' | translate ]]</p>
			
			<div class="form-group">
				
				<div class="col-sm-3">
					<input type="text" class="form-control" ng-model="$ctrl.name" placeholder="[[ 'name' | translate ]]">
				</div>
				<div class="col-sm-3">
					<input type="text" class="form-control" ng-model="$ctrl.value" placeholder="[[ 'value' | translate ]]">
				</div>
				<button class="btn btn-primary btn-rounded" ng-click="$ctrl.addField()">
					<i class="fa fa-plus"></i>
				</button>
				
			</div>
			
			
		
		</div>
		
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-white" ng-click="$ctrl.closeModal()">
				[[ 'close' | translate ]]
			</button>
		</div>
		
	</form>
</div>