<div class="inmodal">

	[[ count ]]
	<div class="modal-header">
		<h2 class="modal-title">
			[[ 'app_idle_msg'|translate ]]
		</h2>
	</div>
	<div class="modal-body" idle-countdown="countdown" ng-init="countdown=20">
		<h3>[[ 'app_idle_msg_text'|translate ]]</h3>
		<small>[[ countdown ]] seg</small>
		<uib-progressbar max="20" value="[[ countdown ]]" type="warning" class="progress-striped">

		</uib-progressbar>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary btn-lg btn-block">
			[[ 'iam_here'|translate ]]
		</button>
	</div>

</div>