<ui-select tagging="$parent.tagHandler" multiple ng-model="$parent.language" theme="bootstrap">
    <ui-select-match placeholder="[[ 'select_languages' | translate ]]">
        [[$item.name]]
    </ui-select-match>
    <ui-select-choices repeat="value.id as value in $parent.languages | filter: $select.search">
        <div ng-bind-html="value.name | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>
