<div class="inmodal">
	
	<div class="modal-header">
		<h4 class="modal-title">[['location_picker' | translate]]</h4>
	</div>
	<form ng-submit="saveModal()">
		
		
		<div class="modal-body">
			
			<div class="row">
				
				<div class="col-sm-6">
					<ng-map
							center="36.721823, -4.420916"
							zoom="6">
						<street-view-panorama container="streetview-modal"></street-view-panorama>
					</ng-map>
				</div>
				
				<div class="col-sm-6">
					<div id="streetview-modal" style="display:block; height: 300px"></div>
				</div>
				
			</div>
			
			<div class="row m-t-md">
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="address" placeholder="[[ 'search_address'|translate ]]">
						<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="search()">
							<i class="fa fa-search"></i>
						</button>
					</span>
					</div>
				</div>
			</div>
			
			
			<!--found map locations-->
			<div class="row m-lg">
				<ul class="list-group" ng-repeat="item in locations">
					<a class="list-group-item" ng-click="setLocation(item)">
						[[ item.formatted_address ]]
					</a>
				</ul>
			</div>
			
			
			
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-lg">
				<i class="fa fa-check"></i>
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="$close()">
				<i class="fa fa-close"></i>
				[[ 'close' | translate ]]
			</button>
		</div>
	</form>
</div>