<div>
	<div class="input-group">
		<input type="text" class="form-control" ng-model="model" ng-change="calculateStrength()" ng-model-options="{debounce:100}">
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" ng-click="generatePassword()">
				[[ 'generate'|translate ]]
			</button>
		</span>
	</div>
	<div class="m-t-xs">
		<uib-progressbar value="[[ passwordStrength ]]" style="height: 5px" ></uib-progressbar>
	</div>
	<div class="input-group col-md-12" ng-if="confirmationRequired">
		<input type="text" class="form-control" placeholder="[[ 'confirm_password'|translate ]]" ng-model="confirmationField">
	</div>
</div>

