<div class="form-group">

	<div class="input-group">
		<input type="text" class="form-control" ng-model="search">
		<div class="input-group-btn" uib-dropdown>
			<button tabindex="-1" class="btn btn-primary" type="button">
				<i class="fa fa-search"></i>
			</button>
			<div class="btn-group" uib-dropdown ng-show="fields.length">
				<button type="button" class="btn btn-primary" uib-dropdown-toggle>
					<span class="caret"></span>
				</button>
				<ul role="menu" uib-dropdown-menu="">
					<li ng-repeat="item in fields">
						<a>
							<input type="checkbox" icheck ng-model="item.checked">
							 [[ item.field | translate ]]
						</a>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
	
</div>