<div class="btn-group" uib-dropdown>
	<button type="button" class="btn btn-default" uib-dropdown-toggle>
		<i class="fa fa-th-list"></i>
		<span class="caret"></span>
	</button>
	<ul role="menu" uib-dropdown-menu="">
		<li>
			<a href="" ng-click="import()">
				<i class="fa fa-upload"></i> [[ 'import' | translate ]]
			</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="" ng-click="toCsv()">
				<i class="fa fa-file"></i> [[ 'to_csv' | translate]]
			</a>
		</li>
		<li>
			<a href="" ng-click="toPdf()">
				<i class="fa fa-file-pdf-o"></i> [[ 'to_pdf' | translate]]
			</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="" ng-click="print()">
				<i class="fa fa-print"></i> [[ 'print' | translate ]]
			</a>
		</li>
	</ul>
</div>