<div class="inmodal">

	<!--modal title-->
	<div class="modal-header">
		<h4 class="modal-title">
			[['new_message' | translate ]]
		</h4>
	</div>

	<!--modal body-->
	<form ng-submit="saveModal()" novalidate role="form">
		<div class="modal-body" >

			<div class="form-horizontal">

				<!--type-->
				<div class="form-group">
					<div class="btn-group">
						<button class="btn btn-default">[[ 'to'|translate ]]</button>
						<button class="btn btn-default">[[ 'client'|translate ]]</button>
						<button class="btn btn-default">[[ 'agent'|translate ]]</button>
					</div>
				</div>

				<!--client-->
				<div class="form-group">
					<label class="col-sm-4 control-label required">
						[[ 'client' | translate]]
					</label>
					<div class="col-sm-6">
						<input class="form-control" ng-model="client.location">
					</div>
				</div>

				<!--subject-->
				<div class="form-group">
					<label class="col-sm-4 control-label required">
						[[ 'subject' | translate]]
					</label>
					<div class="col-sm-6">
						<input class="form-control" ng-model="client.subject">
					</div>
				</div>

				<!--message-->
				<div class="form-group">
					<label class="col-sm-4 control-label required">
						[[ 'message' | translate]]
					</label>
					<div class="col-sm-6">
						<input class="form-control" ng-model="client.message">
					</div>
				</div>



			</div>

		</div>

		<!--modal footer-->
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-lg">
				<i class="fa fa-envelope"></i>
				[[ 'send' | translate ]]
			</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="$close()">
				<i class="fa fa-close"></i>
				[[ 'close' | translate ]]
			</button>
		</div>

	</form>
</div>