<div class="form-horizontal">


	<!--left col-->
	<div class="col-lg-6">

		<h2 class="heading">
			<i class="fa fa-edit"></i>
			[[ 'credit'|translate ]]
		</h2>


		<!--current_credit-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'current_credit' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="ac.agent.current_credit">
					<span class="input-group-addon">
						<i class="fa fa-euro"></i>
					</span>
				</div>
			</div>
		</div>

		<!--used_credit-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'used_credit' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" disabled value="[[ac.agent.used_credit]]">
					<span class="input-group-addon">
						<i class="fa fa-euro"></i>
					</span>
				</div>
			</div>
		</div>

		<!--credit_limit-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'credit_limit' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="ac.agent.credit_limit">
					<span class="input-group-addon">
						<i class="fa fa-euro"></i>
					</span>
				</div>
			</div>
		</div>




	</div>

</div>
