<div class="row wrapper border-bottom white-bg page-heading animated fadeIn" xmlns="http://www.w3.org/1999/html">
	<div class="col-lg-10">
		<h2>
			[[ ( lc.id ) ? 'edit':'create' | translate ]] [[ 'location' | translate ]]
			<strong class="text-primary">[[ lc.location.name ]]</strong>
		</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#/dashboard">[[ 'home' | translate ]]</a>
			</li>
			<li>
				<a href="#/locations">[[ 'locations' | translate ]]</a>
			</li>
			<li class="active">
				<strong>[[ (lc.id ) ? 'edit':'create' | translate ]]</strong>
			</li>
		</ol>
	</div>
</div>

<form ng-submit="lc.save()" >
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="tabs-container">
			<uib-tabset>
				
				<!--basic details-->
				<uib-tab heading="">
					<uib-tab-heading>
						<i class="fa fa-list"></i>
						[[ 'details' | translate ]]
					</uib-tab-heading>
					<div class="panel-body">
						<div ng-include="'app/js/modules/locations/views/tabs/details.html'"></div>
					</div>
				</uib-tab>
				
			
			</uib-tabset>
		</div>
	</div>
	
	<div class="row white-bg wrapper submit animated bounceInUp" >
		<button type="submit" class="btn btn-primary btn-lg">
			<i class="fa fa-save"></i>
			[[ 'save' | translate]]
		</button>
		<button type="button" class="btn btn-warning btn-lg" ng-click="lc.save(true)">
			<i class="fa fa-save"></i>
			[[ 'save_and_exit' | translate]]
		</button>
		<button type="button" class="btn btn-default btn-lg" ng-click="lc.cancel()">
			<i class="fa fa-close"></i>
			[[ 'cancel' | translate]]
		</button>
	</div>

</form>