<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>[[ 'locations' | translate  ]]</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#/dashboard">[[ 'home' | translate ]]</a>
			</li>
			<li class="active">
				<strong>[[ 'locations' | translate ]]</strong>
			</li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			
			<div class="m-b-md">
				<button type="button" class="btn btn-primary btn-lg" ui-sref="location-create">
					<i class="fa fa-plus-circle"></i>
					[[ 'new_location' | translate ]]
				</button>
			</div>
			
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>
						<i class="fa fa-globe"></i>
						[[ 'locations' | translate  ]]
					</h5>
				</div>
				<div class="ibox-content">
					
					<!--table tools-->
					<div class="row">
						
						<div class="col-sm-1">
							<div table-export-tools ng-model="mlc.tools"></div>
						</div>
					
					</div>
					<div class="hr-line-dashed"></div>
					
					<div class="table-responsive">
						<table
								ng-table="mlc.tableParams"
								class="table table-bordered table-striped table-hover table-condensed table-small"
								template-pagination="custom/pager">
							
							<tr ng-repeat="row in mlc.locations">
								<td data-title="'#'">
									<input icheck type="checkbox" ng-model="row.checked">
								</td>
								<td data-title="" sortable="'featured'" class="text-center text-warning">
									<i class="fa fa-star fa-2x" ng-if="row.featured"></i>
									<i class="fa fa-star-o fa-2x" ng-if="!row.featured"></i>
								</td>
								<td data-title="'name'|translate" sortable="'name'" filter="{name:'custom/text'}">
									<strong>[[ row.name ]]</strong>
								</td>
								<td data-title="'city'|translate" sortable="'city_id'" filter="{'city.name':'custom/text'}">
									[[ row.city.name ]]
								</td>
								<td data-title="'status'|translate" sortable="'status'" class="text-center">
									<span class="label label-primary" ng-if="row.status"><i class="fa fa-check"></i></span>
									<span class="label label-danger" ng-if="!row.status"><i class="fa fa-close"></i></span>
								</td>
								<td data-title="'actions'|translate">
									<button class="btn btn-outline btn-primary btn-sm"
									        ui-sref="location-edit({ id: row.id })" type="button">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-outline btn-danger btn-sm"
									        type="button" ng-click="mlc.delete( row.id )">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						
						</table>
					</div>
				
				
				</div>
			</div>
		</div>
	</div>
</div>
