<div class="inmodal">

	<div class="modal-header">
		<h4 class="modal-title">
			<strong class="text-primary">[[ name ]]</strong>
		</h4>
	</div>
	<form ng-submit="saveModal()">

		<div class="modal-body">

			<div class="row">
				<div class="col-sm-6">
					<ng-map style="display: block;height: 500px;width: 100%">
						<street-view-panorama container="streetview-modal" ></street-view-panorama>
					</ng-map>
					<button type="button" class="btn btn-primary m-t-md" ng-click="downloadMapImage()">
						<i class="fa fa-download"></i>
						[[ 'download'|translate ]]
					</button>
				</div>

				<div class="col-sm-6">
					<div id="streetview-modal" style="display: block;height: 500px;width: 100%"></div>
					<button type="button" class="btn btn-primary m-t-md" ng-click="downloadStreetImage()">
						<i class="fa fa-download"></i>
						[[ 'download'|translate ]]
					</button>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default btn-lg" ng-click="$close()">
				<i class="fa fa-close"></i>
				[[ 'close' | translate ]]
			</button>
		</div>
	</form>
</div>