<div class="inmodal">
	
	<div class="modal-header">
		<h4 class="modal-title">
			[['location_picker' | translate]]
			<strong class="text-primary">[[ name ]]</strong>
		</h4>
	</div>
	<form ng-submit="saveModal()">
		
		
		<div class="modal-body">
			
			<div class="row">
				
				<div class="col-sm-6">
					<ng-map style="display: block;height: 500px;width: 100%">
						<street-view-panorama container="streetview-modal" ></street-view-panorama>
					</ng-map>
				</div>
				
				<div class="col-sm-6">
					<div id="streetview-modal" style="display: block;height: 500px;width: 100%"></div>
				</div>
				
			</div>
			
			<div class="row m-t-md">
				<div class="form-group">
					<div class="input-group">
						<input
								type="text"
								class="form-control"
								ng-model="address"
								placeholder="[[ 'search_address'|translate ]]"
								ng-model-options="{ debounce: 500 }"
								ng-change="search()">
						<span class="input-group-addon">
							<i class="fa fa-search"></i>
					</span>
					</div>
				</div>
			</div>
			
			<div class="sk-spinner sk-spinner-double-bounce" ng-if="isSearching">
				<div class="sk-double-bounce1"></div>
				<div class="sk-double-bounce2"></div>
			</div>
			
			<!--found map locations-->
			<div class="row m-lg" ng-if="locations.length">
				
				
				<p>[[ 'total_found'|translate]] : [[ locations.length ]]</p>
				<ul class="list-group" style="max-height: 420px" full-scroll>
					<a class="list-group-item" ng-repeat="item in locations" ng-click="setLocation( item )">
						[[ item.formatted_address ]]
					</a>
				</ul>
			</div>
			
			
			
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-lg">
				<i class="fa fa-check"></i>
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="closeModal()">
				<i class="fa fa-close"></i>
				[[ 'close' | translate ]]
			</button>
		</div>
	</form>
</div>