<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>
			[[ (nc.uid)?'edit':'create' | translate ]] [[ 'user' | translate ]]
			<strong>[[ nc.notification.title ]]</strong>
		</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#/dashboard">[[ 'home' | translate ]]</a>
			</li>
			<li>
				<a href="#/notifications">[[ 'notifications' | translate ]]</a>
			</li>
			<li class="active">
				<strong>[[ (nc.uid)?'edit':'create' | translate ]]</strong>
			</li>
		</ol>
	</div>
</div>
<form novalidate ng-submit="nc.save()" role="form">
	<div class="wrapper wrapper-content animated fadeInRight">
		
		
		<div class="tabs-container">
			<uib-tabset>
				
				<!--basic info-->
				<uib-tab>
					<uib-tab-heading>
						<i class="fa fa-pencil"></i>
						[[ 'details' | translate ]]
					</uib-tab-heading>
					<div class="panel-body">
						<div ng-include="'app/js/modules/notifications/views/tabs/details.html'"></div>
					</div>
				</uib-tab>
				
				
			</uib-tabset>
		</div>
	
	
	</div>
	
	<div>
		<div class="row white-bg wrapper submit animated bounceInUp">
			<button type="submit" class="btn btn-primary btn-lg">
				<i class="fa fa-check"></i>
				[[ 'save' | translate]]
			</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="nc.cancel()">
				<i class="fa fa-close"></i>
				[[ 'cancel' | translate]]
			</button>
		</div>
	</div>
	
</form>