<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>[[ 'notifications' | translate ]]</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#/dashboard">[[ 'home' | translate ]]</a>
			</li>
			<li class="active">
				<strong>[[ 'notifications' | translate ]]</strong>
			</li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

	<div class="row">
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-content mailbox-content">
					<div class="file-manager">
						<a class="btn btn-block btn-primary compose-mail" ui-sref="email_compose">
							[['compose'|translate]]
						</a>

						<div class="space-25"></div>
						<h5>[['folders'|translate]]</h5>
						<ul class="folder-list m-b-md" style="padding: 0">
							<li>
								<a ui-sref="inbox">
									<i class="fa fa-inbox "></i>
										[['inbox'|translate]]
									<span class="label label-warning pull-right">16</span>
								</a>
							</li>
							<li>
								<a ui-sref="inbox">
									<i class="fa fa-envelope-o"></i>
										[['send_mail'|translate]]
								</a>
							</li>
							<li>
								<a ui-sref="inbox">
									<i class="fa fa-certificate"></i>
									[['important']]
								</a>
							</li>
							<li>
								<a ui-sref="inbox">
									<i class="fa fa-trash-o"></i>
										[['trash'|translate]]
								</a>
							</li>
						</ul>
						<h5>[['status'|translate]]</h5>
						<ul class="category-list" style="padding: 0">
							<li><a class=""><i class="fa fa-circle text-navy"></i>[[ 'important'|translate ]]</a></li>
							<li><a class=""><i class="fa fa-circle text-danger"></i>[[ 'system'|translate ]]</a></li>
							<li><a class=""><i class="fa fa-circle text-warning"></i>[[ 'pending'|translate ]]</a></li>
							<li><a class=""><i class="fa fa-circle text-info"></i>[[ 'internal'|translate ]]</a></li>
						</ul>

						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-lg-9 animated fadeInRight">
			<div class="mail-box-header">

				<form method="get" action="index.html" class="pull-right mail-search">
					<div class="input-group">
						<input type="text" class="form-control input-sm" name="search" placeholder="Search email">

						<div class="input-group-btn">
							<button class="btn btn-sm btn-primary">
								<i class="fa fa-search"></i>
								[[ 'search'|translate ]]
							</button>
						</div>
					</div>
				</form>

				<h2>[[ 'inbox'|translate ]]</h2>

				<div class="mail-tools tooltip-demo m-t-md">
					<div class="btn-group pull-right">
						<button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
						<button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

					</div>
					<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh</button>
					<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i></button>
					<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i></button>
					<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i></button>

				</div>
			</div>
			<div class="mail-box">

				<table class="table table-hover table-mail">
					<tbody>
					<tr class="read" ng-repeat="item in nc.notifications track by $index">
						<td class="check-mail">
							<input icheck type="checkbox" ng-model="item.read">
						</td>
						<td class="mail-ontact">
							<strong>[[ item.client.name ]]</strong>
						</td>
						<td class="mail-subject">
							[[ item.subject ]]
						</td>
						<td class=""></td>
						<td class="text-right mail-date">[[ item.date_format ]]</td>
					</tr>
					</tbody>
				</table>


			</div>
		</div>
	</div>

</div>
