<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>[[ 'booking_planner' | translate ]]</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#/dashboard">[[ 'home' | translate ]]</a>
			</li>
			<li>
				<a href="#/planner">[[ 'booking_planner' | translate ]]</a>
			</li>
		</ol>
	</div>
</div>

<div class="wrapper wrapper-content">
	<div class="row animated fadeInRight">
		<div class="col-lg-12">
			<div class="wrapper wrapper-content animated fadeInRight">
				
				<div class="ibox-content m-b-sm border-bottom">
					<div class="p-xs">
						<div class="pull-left m-r-md">
							<i class="fa fa-tasks text-navy mid-icon"></i>
						</div>
						<h2>[[ 'booking_planner_welcome_text' |translate ]]</h2>
						<span>Feel free to choose topic you're interested in.</span>
					</div>
				</div>
				
				<div class="">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>[[ 'available_offers' | translate ]]</h5>
							<div ibox-tools></div>
						</div>
						
						<div class="ibox-content ui-calendar">
							<div class="btn-toolbar">
								<p class="lead"></p>
							</div>
							
							
							
							<!--days controller-->
							<div class="col-md-2 pull-right">
								<div class="btn-group">
									<button class="btn btn-default">
										<i class="fa fa-chevron-left"></i>
									</button>
									<button class="btn btn-default">
										<i class="fa fa-chevron-right"></i>
									</button>
								</div>
							</div>
							
							
							<table class="table table-striped table-bordered">
								
								<thead>
									<tr>
										<th></th>
										<th>Monday</th>
										<th>Tuesday</th>
										<th>Wednesday</th>
										<th>Thursday</th>
										<th>Friday</th>
										<th>Saturday</th>
										<th>Sunday</th>
									</tr>
								</thead>
								<tbody>
								
									<tr class="offer-group">
										<td><h1 class="text-navy">Cordoba</h1></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr class="offer-item">
										<td class="text-primary">Cordoba 1</td>
										<td class="available"></td>
										<td class="available"></td>
										<td></td>
										<td class="unavailable"></td>
										<td></td>
										<td class="unavailable"></td>
										<td></td>
									</tr>
								
									<tr>
										<td class="text-primary">Cordoba 2</td>
										<td class="available"></td>
										<td class="available"></td>
										<td></td>
										<td class="unavailable"></td>
										<td></td>
										<td class="unavailable"></td>
										<td></td>
									</tr>
								
								</tbody>
								
							</table>
						</div>
					</div>
				</div>
					
					
			</div>
		</div>
	</div>
</div>


