<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">
		<h2 class="heading">
			[[ 'general'|translate ]]
		</h2>
		
		<!--type-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'type' | translate]]
			</label>
			<div class="col-md-6">
				<select ng-model="oc.option.type" class="form-control">
					<option value="[[ type ]]" ng-repeat="type in oc.types">[[ type|translate ]]</option>
				</select>
			</div>
		</div>
		
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'name' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="oc.option.name">
			</div>
		</div>
		
		<!--prefix-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'prefix' | translate]]
			</label>
			<div class="col-md-3">
				<input type="text" class="form-control" ng-model="oc.option.prefix" maxlength="4">
			</div>
		</div>

		<!--color-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'color' | translate]]
			</label>
			<div class="col-md-3">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="oc.option.color" colorpicker>
					<span class="input-group-addon">
						<i class="fa fa-eyedropper"></i>
					</span>
				</div>
			</div>
			<div class="col-md-2">
				<span class="tag-item" style="background-color: [[ oc.option.color ]] "></span>
			</div>
		</div>
		
		
		<!--system-->
		<div class="form-group">
			<label class="col-md-4 control-label">

			</label>
			<div class="col-md-6">
				<input
						type="checkbox"
						icheck
						class="form-control"
						ng-model="oc.option.system"
						ng-true-value="1"
						ng-false-value="0">
				<strong>[[ 'system' | translate]]</strong>
			</div>
		</div>
		
		<!--status-->
		<div class="form-group">
			<label class="col-md-4 control-label">
			</label>
			<div class="col-md-6">
				<input
						type="checkbox"
						icheck
						class="form-control"
						ng-model="oc.option.status"
						ng-true-value="1"
						ng-false-value="0">
				<strong>[[ 'status' | translate]]</strong>
			</div>
		</div>

	</div>
	


</div>
