<div class="form-horizontal">


	<!--left col-->
	<div class="col-lg-6">

		<h2 class="heading">
			[[ 'address_info'|translate ]]
		</h2>


		<table class="table table-responsive table-simple table-striped table-hover table-small">
			<thead>
				<tr>
					<th></th>
					<th>[[ 'type'|translate ]]</th>
					<th>[[ 'city'|translate ]]</th>
					<th>[[ 'address'|translate ]]</th>
					<th>[[ 'zipcode'|translate ]]</th>
					<th>[[ 'location'|translate ]]</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in cc.addresses">
					<td>
						<i class="fa fa-home" ng-if="item.type == 'home'"></i>
						<i class="fa fa-plane" ng-if="item.type == 'local'"></i>
					</td>
					<td><strong>[[ item.type|translate ]]</strong></td>
					<td>[[ item.city.name ]]</td>
					<td>[[ item.address ]]</td>
					<td>[[ item.zipcode ]]</td>
					<td>[[ item.location ]]</td>
					<td>
						<button type="button" class="btn btn-primary btn-sm btn-outline" address-modal ng-model="item">
							<i class="fa fa-pencil"></i>
						</button>
						<button type="button" class="btn btn-danger btn-sm btn-outline" ng-click="cc.deleteAddress( item.id )">
							<i class="fa fa-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>

		<button type="button" class="btn btn-primary m-md" address-modal client="[[ cc.client.id ]]" ng-model="cc.address" on-success="cc.loadAddresses()">
			<i class="fa fa-plus"></i>
			[[ 'add_address'|translate ]]
		</button>

	</div>



</div>
