<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">[[ 'new_role' | translate ]]</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    [[ 'name' | translate]]
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
            <button type="submit" class="btn btn-primary" ng-click="ok()">Save changes</button>
        </div>
    </form>
</div>

