<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>[[ 'roles' | translate ]]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ 'roles' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

	        
	        <div class="m-b-md">
	            <button class="btn btn-primary btn-lg" ui-sref="role-create">
		            <i class="fa fa-plus"></i>
		            [[ 'new_role' | translate ]]
	            </button>
            </div>
	        
	        
            <div class="ibox float-e-margins">
                
	            <div class="ibox-title">
                    <h5>
	                    <i class="fa fa-sitemap"></i>
	                   [[ 'roles' | translate ]]
                    </h5>
                </div>
	            
                <div class="ibox-content">
	
	                <!--table tools-->
	                <div class="row">
		
		                <div class="col-sm-1">
			                <div table-export-tools></div>
		                </div>
	
	                </div>
	                <div class="hr-line-dashed"></div>
	                
	                <div class="table-responsive">
		                <table
				                ng-table="mrc.tableParams"
				                class="table table-bordered table-striped table-hover table-small"
				                template-pagination="custom/pager">
			
			                <tbody>
			                <tr ng-repeat="role in mrc.roles ">
				                <td data-title="'#'">
					                <input type="checkbox" icheck ng-model="role.checked">
				                </td>
				                <td data-title="'name'|translate" sortable="'name'" filter="{name:'custom/text'}">
					                <strong>[[ role.name ]]</strong>
				                </td>
				                <td data-title="'users'|translate" class="text-center">
					                [[ role.total_users ]]
				                </td>
				                <td data-title="'status'|translate" class="text-center">
					                <span class="label label-primary" ng-show="role.status"><i class="fa fa-check"></i></span>
					                <span class="label label-danger" ng-show="!role.status"><i class="fa fa-close"></i></span>
				                </td>
				                <td data-title="'actions'|translate">
					                <button class="btn btn-outline btn-primary btn-sm"
					                        ui-sref="role-edit({ id: [[ role.id ]] })" type="button">
						                <i class="fa fa-pencil"></i>
					                </button>
					                <button class="btn btn-outline btn-danger btn-sm"
					                        ng-click="mrc.delete( role.id )" type="button">
						                <i class="fa fa-trash"></i>
					                </button>
				                </td>
			                </tr>
			                </tbody>
		
		                </table>
	                </div>
	                
	                
                </div>
            </div>
        </div>
    </div>
</div>
