<div class="inmodal">
	
	<!--modal title-->
	<div class="modal-header">
		<h4 class="modal-title">
			[['create_new_role' | translate ]]
		</h4>
	</div>
	
	<!--modal body-->
	<form ng-submit="saveModal()">
		<div class="modal-body" >
			
			
			<div class="form-group">
				<label class="col-sm-4 control-label required">
					[[ 'name' | translate]]
				</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="role.name">
				</div>
			</div>
			
		
		</div>
		
		<!--modal footer-->
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">
				<i class="fa fa-check"></i>
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-default" ng-click="$close()">
				<i class="fa fa-close"></i>
				[[ 'close' | translate ]]
			</button>
		</div>
		
	</form>
</div>