<div class="inmodal">

	<!--modal title-->
	<div class="modal-header">
		<h4 class="modal-title">
			[['new_address' | translate ]]
		</h4>
	</div>

	<!--modal body-->
	<form ng-submit="saveModal()" novalidate role="form">
		<div class="modal-body" >

			<div class="form-horizontal">

				<!--type-->
				<div class="form-group">
					<label class="col-sm-4 control-label required">
						[[ 'type' | translate]]
					</label>
					<div class="col-sm-6">
						<select ng-model="address.type" class="form-control">
							<option value="">[[ 'choose_one'|translate ]]</option>
							[[ selected = address.type == type ? 'selected=selected':'' ]]
							<option ng-repeat="type in types"  [[ selected ]] value="[[ type ]]">[[ type|translate ]]</option>
						</select>
					</div>
				</div>

				<!--city-->
				<div class="form-group">
					<label class="col-sm-4 control-label ">
						[[ 'city' | translate]]
					</label>
					<div class="col-sm-6">
						<input class="form-control" ng-model="address.city" city-picker>
					</div>
				</div>

				<!--address-->
				<div class="form-group">
					<label class="col-sm-4 control-label required">
						[[ 'address' | translate]]
					</label>
					<div class="col-sm-6">
						<input class="form-control" ng-model="address.address">
					</div>
				</div>

				<!--zipcode-->
				<div class="form-group">
					<label class="col-sm-4 control-label">
						[[ 'zipcode' | translate]]
					</label>
					<div class="col-sm-6">
						<input class="form-control" ng-model="address.zipcode">
					</div>
				</div>

				<!--location-->
				<div class="form-group">
					<label class="col-sm-4 control-label">
						[[ 'location' | translate]]
					</label>
					<div class="col-sm-6">
						<input class="form-control" ng-model="address.location">
					</div>
				</div>

				<!--phone-->
				<div class="form-group">
					<label class="col-sm-4 control-label">
						[[ 'phone' | translate]]
					</label>
					<div class="col-sm-6">
						<input class="form-control" ng-model="address.phone">
					</div>
				</div>




			</div>

		</div>

		<!--modal footer-->
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-lg">
				<i class="fa fa-check"></i>
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="$close()">
				<i class="fa fa-close"></i>
				[[ 'close' | translate ]]
			</button>
		</div>

	</form>
</div>