<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>[[ 'clients' | translate ]]</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#/dashboard">[[ 'home' | translate ]]</a>
			</li>
			<li class="active">
				<strong>[[ 'clients' | translate ]]</strong>
			</li>
		</ol>
	</div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			
			<div class="m-b-md">
				<button type="button" class="btn btn-primary btn-lg" ui-sref="client-create">
					<i class="fa fa-plus-circle"></i>
					[[ 'new_client' | translate ]]
				</button>
			</div>
			
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>
						<i class="fa fa-clients"></i>
						[[ 'clients' | translate ]]
					</h5>
				</div>
				<div class="ibox-content">
					
					<!--table tools-->
					<div class="row">
						<div class="col-sm-6">
							<div table-export-tools></div>
						</div>

					</div>

					<div class="hr-line-dashed"></div>


					<div class="table-responsive">
						<table
								ng-table="mcc.tableParams"
								class="table table-bordered table-striped table-hover table-small"
								template-pagination="custom/pager">
							
							<tr ng-repeat="row in mcc.clients">
								<td title="'#'">
									<input type="checkbox" icheck ng-model="row.checked">
								</td>
								<td title="'name'|translate" sortable="'name'" filter="{name:'custom/text'}">
									<strong>[[ row.name ]]</strong>
								</td>
								<td title="'last_name'|translate" sortable="'last_name'" filter="{last_name:'custom/text'}">
									[[ row.last_name ]]
								</td>
								<td title="'nif'|translate" sortable="'nif'" filter="{nif:'custom/text'}">
									[[ row.nif ]]
								</td>
								<td title="'email'|translate" sortable="'email'|translate" filter="{email:'custom/text'}">
									[[ row.email ]]
								</td>
								<td title="'phone'|translate" sortable="'phone'|translate" filter="{phone:'custom/text'}">
									[[ row.phone ]]
								</td>
								<td title="'status'|translate" sortable="'status'|translate" class="text-center">
									<span class="label label-primary" ng-show="row.status"><i class="fa fa-check"></i></span>
									<span class="label label-danger" ng-show="!row.status"><i class="fa fa-close"></i></span>
								</td>
								<td title="'actions'|translate">
									<button class="btn btn-outline btn-primary btn-sm"
									        ui-sref="client-edit({ id: row.id })" type="button">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-outline btn-danger btn-sm"
									        ng-click="mcc.delete([[ row.id ]])" type="button">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						
						</table>
					</div>
				
				
				
				</div>
			</div>
		</div>
	</div>
</div>
