<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'name' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="tc.tax.name"/>
			</div>
		</div>
		
		<!--value-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'value' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="tc.tax.value" />
					<span class="input-group-addon">%</span>
				</div>
			</div>
		</div>
		
		
		<!--global-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'global' | translate]]
			</label>
			<div class="col-md-6">
				<input
						type="checkbox"
						icheck ng-model="tc.tax.default"
						ng-true-value="1"
						ng-false-value="0"
				/>
			</div>
		</div>
		
		<!--status-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'status' | translate]]
			</label>
			<div class="col-md-6">
				<input
						type="checkbox"
						icheck ng-model="tc.tax.status"
						ng-true-value="1"
						ng-false-value="0"
				/>
			</div>
		</div>
	</div>
	


</div>
