<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>
	        [[ ( tc.id ) ? 'edit':'create' | translate ]] [[ 'tax' | translate ]]
            <strong class="text-primary">[[ tc.tax.name ]]</strong>
        </h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li>
                <a href="#/taxes">[[ 'taxes' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ ( tc.id ) ? 'edit':'create' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>

<form name="saveCompany" novalidate ng-submit="tc.save()">
    <div class="wrapper wrapper-content animated fadeInRight">
	    <div class="tabs-container">
		    <uib-tabset>
			    
			    <!--details-->
			    <uib-tab heading="[[ 'details' | translate ]]">
				    <div class="panel-body">
						<div ng-include="'app/js/modules/taxes/views/details-tab.html'"></div>
				    </div>
			    </uib-tab>
			    
			    
			    
		    </uib-tabset>
	    </div>
    </div>

    <div class="row white-bg wrapper submit animated bounceInUp">
	    <button type="submit" class="btn btn-primary btn-lg">
		    <i class="fa fa-save"></i>
		    [[ 'save' | translate]]
	    </button>
	    <button type="button" class="btn btn-warning btn-lg" ng-click="tc.save(true)">
		    <i class="fa fa-save"></i>
		    [[ 'save_and_exit' | translate]]
	    </button>
	    <button type="button" class="btn btn-default btn-lg" ng-click="tc.cancel()">
		    <i class="fa fa-close"></i>
		    [[ 'cancel' | translate]]
	    </button>
    </div>
</form>