<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>[[ 'taxes' | translate ]]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ 'taxes' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            
	        <div class="m-b-md">
	            <button type="button" class="btn btn-primary btn-lg" ui-sref="tax-create">
		            <i class="fa fa-plus-circle"></i>
		            [[ 'new_tax' | translate ]]
	            </button>
            </div>
            
	        <div class="ibox float-e-margins">
                
		        
		        <div class="ibox-title">
                    <h5>
	                    <i class="fa fa-credit-card"></i>
	                    [[ 'taxes' | translate ]]
                    </h5>
                    <div ibox-tools></div>
                </div>

                <div class="ibox-content">
	
	
	                <!--table tools-->
	                <div class="row">
		
		                <div class="col-sm-1">
			                <div table-export-tools></div>
		                </div>
	
	                </div>
	                <div class="hr-line-dashed"></div>
	                
	                <div class="table-responsive">
		                <table
				                ng-table="mtc.tableParams"
				                class="table table-bordered table-striped table-hover table-small"
				                template-pagination="custom/pager">
			
			                <tr ng-repeat="item in mtc.taxes">
				                <td title="'#'">
					                <input type="checkbox" icheck ng-model="item.checked">
				                </td>
				                <td title="'name'|translate" sortable="'name'" filter="{name:'custom/text'}">
					                <strong>[[ item.name ]]</strong>
				                </td>
				                <td class="text-center" title="'value'|translate" sortable="'value'" filter="{value:'custom/number'}">
					                [[ item.value ]]
				                </td>
				                <td title="'global'|translate" sortable="'global'" class="text-center">
					                <span class="label label-primary" ng-show="item.global"><i class="fa fa-check"></i></span>
					                <span class="label label-danger" ng-show="!item.global"><i class="fa fa-close"></i></span>
				                </td>
				                <td class="text-center" title="'status'|translate" sortable="'status'">
					                <span class="label label-primary" ng-show="item.status"><i class="fa fa-check"></i></span>
					                <span class="label label-danger" ng-show="!item.status"><i class="fa fa-close"></i></span>
				                </td>
				                <td class="actions">
					                <button class="btn btn-outline btn-primary btn-sm"
					                        ui-sref="tax-edit({ id: [[ item.id ]] })" type="button">
						                <i class="fa fa-pencil"></i>
					                </button>
					                <button class="btn btn-outline btn-danger btn-sm"
					                        ng-click="mtc.delete( item.id )" type="button">
						                <i class="fa fa-trash"></i>
					                </button>
				                </td>
			                </tr>
		                </table>
	                </div>
	
                </div>
            </div>
        </div>
    </div>
</div>


