<div class="wrapper wrapper-content">

	<div class="row m-b-md">
		<div ng-include="'app/js/modules/dashboard/views/widgets/widget-5.html'"></div>
	</div>

	<div class="row">
		<div ng-include="'app/js/modules/dashboard/views/widgets/widget-1.html'"></div>
		<div ng-include="'app/js/modules/dashboard/views/widgets/widget-2.html'"></div>
		<div ng-include="'app/js/modules/dashboard/views/widgets/widget-3.html'"></div>
		<div ng-include="'app/js/modules/dashboard/views/widgets/widget-4.html'"></div>
	</div>

	<div class="row">
		<div ng-include="'app/js/modules/dashboard/views/widgets/widget-6.html'"></div>
	</div>
</div>