<div class="form-horizontal">

	<h2 class="heading">
		[[ 'billing_info'|translate ]]
	</h2>
	
	<!--invoice cif-->
	<div class="form-group">
		<label class="col-sm-4 control-label">
			[[ 'cif' | translate ]]
		</label>
		<div class="col-sm-3">
			<input type="text"  class="form-control" ng-model="uc.user.billing_cif">
		</div>
	</div>
	
	<!--invoice name-->
	<div class="form-group">
		<label class="col-sm-4 control-label">
			[[ 'name' | translate ]]
		</label>
		<div class="col-sm-3">
			<input type="text"  class="form-control" ng-model="uc.user.billing_name">
		</div>
	</div>
	
	<!--invoice address-->
	<div class="form-group">
		<label class="col-sm-4 control-label">
			[[ 'address' | translate ]]
		</label>
		<div class="col-sm-3">
			<input type="text"  class="form-control" ng-model="uc.user.billing_address">
		</div>
	</div>
	
	<!--invoice phone-->
	<div class="form-group">
		<label class="col-sm-4 control-label">
			[[ 'tel' | translate ]]
		</label>
		<div class="col-sm-3">
			<div class="input-group">
				<input type="text"  class="form-control" ng-model="uc.user.billing_tel">
				<span class="input-group-addon">
											<i class="fa fa-phone"></i>
										</span>
			</div>
		</div>
	</div>
	
	
	<!--billing city-->
	<div class="form-group">
		<label class="col-sm-4 control-label">
			[[ 'city' | translate]]
		</label>
		<div class="col-sm-3">
			<div class="input-group">
				<input type="text" disabled class="form-control" value="[[ uc.billingCity.name ]]">
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary" city-picker ng-model="uc.billingCity">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>


</div>
