<div class="form-horizontal">
	
	
	<!--left col-->
	<div class="col-lg-6">
		
		<h2 class="heading">
			[[ 'general'|translate ]]
		</h2>
		
		<!--role-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'role' | translate ]]
			</label>
			<div class="col-md-6 col-xs-10">
				<select class="form-control" ng-model="uc.user.role_id"
				        ng-options="item.id as item.name for item in uc.roles">
				</select>
			</div>
		</div>
		
		<!--email-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'email' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="email" class="form-control" ng-model="uc.user.email">
					<span class="input-group-addon">
					<i class="fa fa-at"></i>
				</span>
				</div>
			</div>
		</div>
		

		<div ng-show="!uc.uid || uc.changePass ">
			
			<!--password-->
			<div class="form-group">
				<label class="col-md-4 control-label required">
					[[ 'password' | translate]]
				</label>
				<div class="col-md-6">
					<input type="password" ng-model="uc.user.password" password-generator confirmation-field="uc.user.password_confirmation" confirmation-required="true">
				</div>
			</div>

		
		</div>
		
		<div ng-show="uc.uid" class="form-group">
			<label class="col-md-6">
			
			</label>
			<div class="col-md-6">
				<button type="button" class="btn btn-primary " ng-click="uc.changePass = !uc.changePass ">
					[[ 'change_password' | translate  ]]
				</button>
			</div>
		</div>


		<h2 class="heading">
			[[ 'personal_info'|translate ]]
		</h2>

		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'name' | translate ]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="uc.user.name">

			</div>
		</div>

		<!--lastname-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'lastname' | translate]]
			</label>
			<div class="col-md-6 no-padding-right">
				<input type="text" class="form-control" ng-model="uc.user.lastname">
			</div>
		</div>

		<!--dni-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'dni' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="uc.user.dni">
					<span class="input-group-addon">#</span>
				</div>
			</div>
		</div>

		<!--company-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'company' | translate]]
			</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="uc.user.company_id" ng-options="item.id as item.name for item in uc.companies">
				</select>
			</div>
		</div>

		
	</div>
	
	
	<!--right col-->
	<div class="col-lg-6">

		
		<h2 class="heading">
			[[ 'more'|translate ]]
		</h2>
		
		<!--phone-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'tel' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="uc.user.phone">
					<span class="input-group-addon">
						<i class="fa fa-phone"></i>
					</span>
				</div>
			</div>
		</div>
		
		<!--mobile-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'mobile' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="uc.user.mobile">
					<span class="input-group-addon">
						<i class="fa fa-phone"></i>
					</span>
				</div>
			</div>
		</div>
		
		<!--address-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'address' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text"  class="form-control" ng-model="uc.user.address">
			</div>
		</div>
		
		<!--zipcode-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'zipcode' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text"  class="form-control" ng-model="uc.user.zipcode">
			</div>
		</div>
		
		<!--location-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'location' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text"  class="form-control" ng-model="uc.user.location">
			</div>
		</div>
		
		<!--city-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'city' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" disabled value="[[ uc.city.name ]]">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" city-picker ng-model="uc.city">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		
	</div>




</div>
