<div class="form-horizontal">
	
	<button type="button" class="btn btn-lg btn-primary" add-user-meta data-user="[[ uc.uid ]]" on-success="uc.getMetaFields()">
		<i class="fa fa-plus"></i>
		[[ 'add_meta'|translate ]]
	</button>
	
	<div class="hr-line-dashed"></div>
	
	
	<table
			ng-table="uc.tableParams"
			class="table table-bordered table-striped table-hover table-condensed"
			template-pagination="custom/pager">
		
		<tr ng-repeat="row in uc.metadata">
			<td title="'#'">
				<input type="checkbox" icheck ng-model="row.checked">
			</td>
			<td title="'field_name'|translate" sortable="'meta_name'" filter="{meta_name:'custom/text'}">
				[[ row.meta_name ]]
			</td>
			<td title="'field_value'|translate" sortable="'meta_value'" filter="{meta_value:'custom/text'}">
				[[ row.meta_value ]]
			</td>
			<td title="'field_slug'|translate" sortable="'meta_key'" filter="{meta:'custom/text'}">
				[[ row.meta_key ]]
			</td>
			<td title="'actions'|translate">
				<button class="btn btn-outline btn-danger"
				        ng-click="uc.deleteMeta( row.id )" type="button">
					<i class="fa fa-trash"></i>
				</button>
			</td>
		</tr>
	
	</table>



</div>
