<div class="form-horizontal">


	<!--left col-->
	<div class="col-lg-6">

		<h2 class="heading">
			[[ 'general'|translate ]]
		</h2>

		<!--timezone-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'timezone' | translate ]]
			</label>
			<div class="col-md-6 col-xs-10">
				<select class="form-control" ng-model="uc.user.timezone">
					<option ng-repeat="item in uc.timezones track by $index" ng-selected="uc.user.timezone == $index" value="[[ $index ]]">[[ item ]]</option>
				</select>
			</div>
		</div>

		<!--currency-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'currency' | translate]]
			</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="uc.user.currency"
				        ng-options="item.symbol as item.iso + ' - ' + item.symbol for item in uc.currencies">
				</select>
			</div>
		</div>

		<!--language_id-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'language' | translate]]
			</label>
			<div class="col-md-6">
				<ui-select ng-model="uc.user.language_id">
					<ui-select-match>
						<span ng-bind="$select.selected.name"></span>
					</ui-select-match>
					<ui-select-choices append-to-body group-filter="['Default','Languages']" group-by="filterLanguages" repeat="item.id as item in (uc.languages | filter: $select.search) track by item.id">
						<span ng-bind="item.name" class="text-lg"></span>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>


		<!--date_format-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'date_format' | translate]]
			</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="uc.user.date_format">
					<option value="[[ item ]]" ng-repeat="item in uc.dateFormats" ng-selected="item == uc.user.date_format">[[ item ]]</option>
				</select>
			</div>
		</div>

		<!--time_format-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'time_format' | translate]]
			</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="uc.user.time_format">
					<option value="[[ item ]]" ng-repeat="item in uc.timeFormats" ng-selected="item == uc.user.time_format">[[ item ]]</option>
				</select>
			</div>
		</div>

		<!--start_of_week-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'start_of_week' | translate]]
			</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="uc.user.start_of_week">
					<option ng-repeat="item in uc.days track by $index" ng-selected="uc.user.start_of_week == $index" value="[[ $index ]]">[[ item|translate ]]</option>
				</select>
			</div>
		</div>



	</div>



</div>
