<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>[[ (dc.discountId)?'edit':'create' | translate ]] [[ 'discount' | translate ]]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li>
                <a href="#/discountes">[[ 'discountes' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ (dc.discountId)?'edit':'create' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>
<form name="saveCompany" novalidate ng-submit="dc.save()">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>
                            [[ 'basic' | translate ]]
                        </h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content form-horizontal">

                        <div ng-include="'app/js/common/views/info-requiered.html'"></div>

                        <!--name-->
                        <div class="form-group">
                            <label class="col-sm-4 control-label required">
                                [[ 'name' | translate]]
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="dc.discount.name"
                                       name="discounteName"
                                       ng-minlength="3"
                                       ng-maxlength="20"
                                       required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                [[ 'value' | translate]]
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="dc.discount.value"
                                       name="discounteSupplement"
                                       ng-minlength="3"
                                       ng-maxlength="20"
                                       required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                [[ 'status' | translate]]
                            </label>
                            <div class="col-sm-7">
                                <input type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}"
                                       ng-model="dc.discount.status"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-class="savediscount.$invalid?'bounceOutDown':'bounceInUp'" class="row white-bg wrapper submit animated">
        <input type="submit" class="btn btn-primary btn-block"
               value="[[ 'save_discount' | translate]]"
               ng-disabled="savediscount.$invalid"
        />
    </div>
</form>