<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>[[ 'discounts' | translate ]]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ 'discounts' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-b-md">
                <create-discount-btn-long></create-discount-btn-long>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
	                    <i class="fa fa-ticket"></i>
                        [[ 'discounts' | translate ]]
                    </h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="mdc.dtColumnDefs"
                           class="footable table table-stripped table-hover toggle-arrow-tiny" data-page-size="8">
                        <thead>
                        <tr>
                            <th></th>
                            <th>[[ 'name' | translate ]]</th>
                            <th>[[ 'value' | translate ]]</th>
                            <th>[[ 'actions' | translate ]]</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="discount in mdc.discounts.data">
                            <td>
                                <div class="checkbox checkbox-info">
                                    <input type="checkbox">
                                    <label>

                                    </label>
                                </div>
                            </td>
                            <td>[[ discount.name ]]</td>
                            <td>[[ discount.value ]]</td>
                            <td>
                                <button class="btn btn-outline btn-primary"
                                        ui-sref="discount-edit({ id: [[discount.id]] })" type="button">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-outline btn-danger"
                                        ng-click="mdc.deleteDiscount([[ discount.id ]])" type="button">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


