<div class="inmodal">
	
	<!--modal title-->
	<div class="modal-header">
		<h4 class="modal-title">
			[['new_item' | translate ]]
		</h4>
	</div>
	
	<!--modal body-->
	<form ng-submit="saveModal()" role="form">
		<div class="modal-body" >
			
			<div class="form-horizontal">
				
				<!--name-->
				<div class="form-group">
					<label class="col-sm-4 control-label required">
						[[ 'name' | translate]]
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="item.name">
					</div>
				</div>

				<!--single-->
				<div class="form-group">
					<label class="col-sm-4 control-label required">
						[[ 'single' | translate]]
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="item.single">
					</div>
				</div>

				<!--billable-->
				<div class="form-group">
					<label class="col-sm-4 control-label required">
						[[ 'billable' | translate]]
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="item.billable">
					</div>
				</div>

				<!--system-->
				<div class="form-group">
					<label class="col-sm-4 control-label required">
						[[ 'system' | translate]]
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="item.system">
					</div>
				</div>

				<!--status-->
				<div class="form-group">
					<label class="col-sm-4 control-label required">
						[[ 'status' | translate]]
					</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="item.status">
					</div>
				</div>


			</div>
		
		</div>
		
		<!--modal footer-->
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-lg">
				<i class="fa fa-check"></i>
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="$close()">
				<i class="fa fa-close"></i>
				[[ 'close' | translate ]]
			</button>
		</div>
	
	</form>
</div>