<div class="inmodal">
	
	<!--modal title-->
	<div class="modal-header">
		<h4 class="modal-title">
			[['items' | translate ]]
		</h4>
	</div>
	
	<!--modal body-->
	<form ng-submit="saveModal()" role="form">
		<div class="modal-body" >
			
			<table
					ng-table="tableParams"
					class="table table-bordered table-striped table-hover table-condensed"
					template-pagination="custom/pager">
				
				<tr ng-repeat="row in items">
					<td data-title="'#'">
						<input
								type="radio"
								icheck
								ng-model="row.checked"
								name="model"
								value="[[ row.id ]]"
						>
					</td>
					<td data-title="'name'|translate" sortable="'name'" filter="{name:'custom/text'}">
						[[ row.name ]]
					</td>
					<td title="'single'|translate" sortable="'single'" class="text-center">
						<span class="label label-primary" ng-show="row.single"><i class="fa fa-check"></i></span>
						<span class="label label-danger" ng-show="!row.single"><i class="fa fa-close"></i></span>
					</td>
					<td title="'billable'|translate" sortable="'billable'" class="text-center">
						<span class="label label-primary" ng-show="row.billable"><i class="fa fa-check"></i></span>
						<span class="label label-danger" ng-show="!row.billable"><i class="fa fa-close"></i></span>
					</td>
					<td title="'system'|translate" sortable="'system'" class="text-center">
						<span class="label label-primary" ng-show="row.system"><i class="fa fa-check"></i></span>
						<span class="label label-danger" ng-show="!row.system"><i class="fa fa-close"></i></span>
					</td>
					<td title="'status'|translate" sortable="'status'" class="text-center">
						<span class="label label-primary" ng-show="row.status"><i class="fa fa-check"></i></span>
						<span class="label label-danger" ng-show="!row.status"><i class="fa fa-close"></i></span>
					</td>
				</tr>
			
			</table>
		
		</div>
		
		<!--modal footer-->
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-lg">
				<i class="fa fa-check"></i>
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="$close()">
				<i class="fa fa-close"></i>
				[[ 'close' | translate ]]
			</button>
		</div>
	
	</form>
</div>