<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>[[ 'invoices' | translate ]]</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#/dashboard">[[ 'home' | translate ]]</a>
			</li>
			<li class="active">
				<strong>[[ 'invoices' | translate ]]</strong>
			</li>
		</ol>
	</div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			
			<div class="m-b-md">
				<button type="button" class="btn btn-primary btn-lg" ui-sref="invoice-create">
					<i class="fa fa-plus-circle"></i>
					[[ 'new_invoice' | translate ]]
				</button>
			</div>
			
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>
						<i class="fa fa-file-o"></i>
						[[ 'invoices' | translate ]]</h5>
				</div>
				<div class="ibox-content">
					
					<!--table tools-->
					<div class="row">
						<div class="col-sm-2">
							<div table-export-tools></div>
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					
					<div class="table-responsive">
						<table
								ng-table="mic.tableParams"
								class="table table-bordered table-striped table-hover table-small table-centered"
								template-pagination="custom/pager">
							
							<tr ng-repeat="row in mic.invoices">
								<td data-title="'#'">
									<input type="checkbox" icheck ng-model="row.checked">
								</td>
								<td data-title="'number'|translate" sortable="'number'" filter="{number:'custom/text'}">
									<strong>[[ row.number ]]</strong>
								</td>
								<td data-title="'title'|translate" sortable="'title'" filter="{title:'custom/text'}">
									[[ row.title ]]
								</td>
								<td data-title="'booking'|translate" sortable="'booking_id'|translate" filter="{'booking.code':'custom/text'}">
									<a class="btn btn-link" ui-sref="booking-edit({id:row.booking_id})">
										[[ row.booking.code ]]
									</a>
								</td>
								<td data-title="'client'|translate" sortable="'client_id'|translate" filter="{'client.name':'custom/text'}">
									<a class="btn btn-link" ui-sref="client-edit({id:row.client_id})">
										[[ row.client.name ]] [[ row.client.last_name ]]
									</a>
								</td>
								<td data-title="'date'|translate" sortable="'date'|translate" filter="{date:'custom/text'}" class="text-center">
									<span class="label">[[ row.date ]]</span>
								</td>
								<td data-title="'due_date'|translate" sortable="'due_date'|translate" filter="{due_date:'custom/text'}" class="text-center">
									<span class="label">[[ row.due_date ]]</span>
								</td>
								<td data-title="'total'|translate" sortable="'total'|translate" filter="{total:'custom/text'}" class="text-right">
									<strong class="text-lg">[[ row.total_value ]]</strong>
								</td>
								<td data-title="'status'|translate" sortable="'status_id'" filter="{'status.name':'custom/text'}" class="text-center">
									<span class="label" style="background-color: [[ row.status.color ]]">
										<strong>[[ row.status.name ]]</strong>
									</span>
								</td>
								<td data-title="'actions'|translate">
									<button class="btn btn-outline btn-primary btn-sm"
									        ui-sref="invoice-edit({ id: row.id })" type="button">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-outline btn-danger btn-sm"
									        ng-click="mic.delete([[ row.id ]])" type="button">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						
						</table>
					
					</div>
				
				
				
				</div>
			</div>
		</div>
	</div>
</div>
