<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>
			[[ ( psc.id )?'edit':'create' | translate ]] [[ 'payment_status' | translate ]]
			<strong class="text-primary">[[ psc.paymentStatus.name ]]</strong>
		</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#/dashboard">[[ 'home' | translate ]]</a>
			</li>
			<li>
				<a href="#/payment-status">[[ 'payment_status' | translate ]]</a>
			</li>
			<li class="active">
				<strong>[[ ( psc.id )?'edit':'create' | translate ]]</strong>
			</li>
		</ol>
	</div>
</div>

<form novalidate ng-submit="psc.save()" role="form">
	<div class="wrapper wrapper-content animated fadeInRight">
		
		<div class="tabs-container">
			
			<uib-tabset>
				
				<!--basic info-->
				<uib-tab heading="[[ 'details' | translate ]]">
					<div class="panel-body">
						<div ng-include="'app/js/modules/payment-status/views/tabs/details.html'"></div>
					</div>
				</uib-tab>
			
			</uib-tabset>
		
		</div>
		
		
	</div>
	
	
	<div class="row white-bg wrapper submit animated bounceInUp">
		<div class="">
			<button type="submit" class="btn btn-primary btn-lg">
				<i class="fa fa-save"></i>
				[[ 'save' | translate]]
			</button>
			<button type="button" class="btn btn-warning btn-lg" ng-click="psc.save(true)">
				<i class="fa fa-save"></i>
				[[ 'save_and_exit' | translate]]
			</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="psc.cancel()">
				<i class="fa fa-close"></i>
				[[ 'cancel'| translate ]]
			</button>
		</div>
		
		
		
	</div>
	
</form>