<div class="form-horizontal">

    <h2 class="heading">
        [[ 'unavailable_dates'|translate ]]
    </h2>

    <div class="table-responsive" ng-if="otc.dates.length">
        <table class="table table-bordered table-small table-simple">
            <thead>
                <tr>
                    <th>[[ 'name'|translate ]]</th>
                    <th>[[ 'start_date'|translate ]]</th>
                    <th>[[ 'end_date'|translate ]]</th>
                    <th>[[ 'Mo'|translate ]]</th>
                    <th>[[ 'Tu'|translate ]]</th>
                    <th>[[ 'We'|translate ]]</th>
                    <th>[[ 'Th'|translate ]]</th>
                    <th>[[ 'Fr'|translate ]]</th>
                    <th>[[ 'Sa'|translate ]]</th>
                    <th>[[ 'Su'|translate ]]</th>
                    <th>[[ 'repeat_each'|translate ]]</th>
                    <th>[[ 'endless'|translate ]]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in otc.dates">
                    <td>[[ row.name ]]</td>
                    <td>[[ row.start_date ]]</td>
                    <td>[[ row.end_date ]]</td>
                    <td class="text-center">
                        <i class="fa fa-check text-success" ng-if="row.monday"></i>
                        <i class="fa fa-close text-danger" ng-if="!row.monday"></i>
                    </td>
                    <td class="text-center">
                        <i class="fa fa-check text-success" ng-if="row.tuesday"></i>
                        <i class="fa fa-close text-danger" ng-if="!row.tuesday"></i>
                    </td>
                    <td class="text-center">
                        <i class="fa fa-check text-success" ng-if="row.wednesday"></i>
                        <i class="fa fa-close text-danger" ng-if="!row.wednesday"></i>
                    </td>
                    <td class="text-center">
                        <i class="fa fa-check text-success" ng-if="row.thursday"></i>
                        <i class="fa fa-close text-danger" ng-if="!row.thursday"></i>
                    </td>
                    <td class="text-center">
                        <i class="fa fa-check text-success" ng-if="row.friday"></i>
                        <i class="fa fa-close text-danger" ng-if="!row.friday"></i>
                    </td>
                    <td class="text-center">
                        <i class="fa fa-check text-success" ng-if="row.saturday"></i>
                        <i class="fa fa-close text-danger" ng-if="!row.saturday"></i>
                    </td>
                    <td class="text-center">
                        <i class="fa fa-check text-success" ng-if="row.sunday"></i>
                        <i class="fa fa-close text-danger" ng-if="!row.sunday"></i>
                    </td>
                    <td>[[ row.repeat_each ]]</td>
                    <td class="text-center">
                        <i class="fa fa-check text-success" ng-if="row.endless"></i>
                        <i class="fa fa-close text-danger" ng-if="!row.endless"></i>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary btn-outline" ng-model="row" calendar-picker on-success="otc.loadDates()">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-danger btn-outline" ng-click="otc.deleteDate( row.id )">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="m-lg">
        <button type="button" class="btn btn-primary" calendar-picker ng-model="otc.newDate" on-success="otc.loadDates()">
            <i class="fa fa-calendar"></i>
            [[ 'add_date'|translate ]]
        </button>
    </div>
</div>
