<div class="form-horizontal">

	<h2 class="heading">
		[[ otc.selectedCategories.length ]]
		[[ 'categories'|translate ]]
			/
		[[ otc.selectedLocations.length ]]
		[[ 'locations'|translate ]]
	</h2>

	<!--categories-->
	<div class="col-md-6">

		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'categories' | translate]]
			</label>
			<div class="col-md-6">
				<span>
					<strong>[[ otc.selectedCategories.length ]]</strong>
					[[ 'selected'|translate ]]
				</span>
				<ui-select ng-model="otc.selectedCategories" multiple on-select="otc.onCategorySelect($item,$model)" on-remove="otc.onCategoryRemove($item)">
					<ui-select-match>
						<span ng-bind="$item.name"></span>
					</ui-select-match>
					<ui-select-choices class="ui-select-choices" repeat="item.id as item in (otc.categories | filter: $select.search) track by $index">
						<span ng-bind="item.name" class="text-lg"></span>
					</ui-select-choices>
				</ui-select>

			</div>
		</div>

	</div>

	<!--locations-->
	<div class="col-md-6">

		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'locations' | translate]]
			</label>
			<div class="col-md-6">
				<span>
					<strong>[[ otc.selectedLocations.length ]]</strong>
					[[ 'selected'|translate ]]
				</span>
				<ui-select ng-model="otc.selectedLocations" multiple on-select="otc.onLocationSelect($item,$model)" on-remove="otc.onLocationRemove($item)">
					<ui-select-match>
						<span ng-bind="$item.name"></span>
					</ui-select-match>
					<ui-select-choices repeat="item.id as item in (otc.locations | filter: $select.search) track by $index">
						<span ng-bind="item.name" class="text-lg"></span>
					</ui-select-choices>
				</ui-select>

			</div>
		</div>

	</div>

</div>