<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">

		<h2 class="heading">
			[[ 'content'|translate ]]
		</h2>
		
		<div class="table-responsive" style="max-height: 420px" full-scroll>
			<table class="table table-striped table-hover table-bordered table-small">
				
				<thead>
				<tr>
					<th>#</th>
					<th>[[ 'title' | translate ]]</th>
					<th>[[ 'lang' | translate ]]</th>
					<th>[[ 'actions' | translate ]]</th>
				</tr>
				</thead>
				
				<tbody>
				<tr ng-repeat="item in otc.contents">
					<td>[[ item.id ]]</td>
					<td>[[ item.title ]]</td>
					<td>[[ item.language.name ]]</td>
					<td>
						<button type="button" class="btn btn-primary btn-sm  btn-outline" ot-content-modal ng-model="item" on-success="otc.loadContent()">
							<i class="fa fa-pencil"></i>
						</button>
						<button class="btn btn-danger btn-sm  btn-outline"  ng-click="otc.deleteContent( item.id )" type="button">
							<i class="fa fa-trash"></i>
						</button>
					</td>
				</tr>
				</tbody>
			
			</table>
		</div>
		
		<div class="m-lg">
			<button type="button" class="btn btn-primary" ot-content-modal data-id="[[ otc.id ]]" on-success="otc.loadContent()">
				<i class="fa fa-plus-circle"></i>
				[[ 'add_content'|translate ]]
			</button>
		</div>
	</div>
	
	
	
</div>

