<div class="form-horizontal">

	<!--left col-->
	<div class="col-lg-6">
		<h2 class="heading">
			<a ng-click="otc.setFeatured()" class="text-warning">
				<i class="fa fa-star" ng-if="otc.type.featured"></i>
				<i class="fa fa-star-o text-warning" ng-if="!otc.type.featured"></i>
			</a>
			[[ 'general'|translate ]]
		</h2>
		
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'name' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="otc.type.name">
			</div>
		</div>

		<!--price-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'pvp_price' | translate ]]
			</label>
			<div class="col-md-6">
				<div class="input-group ">
					<input type="text" class="form-control" ng-model="otc.type.price">
					<span class="input-group-addon">
                    <i class="fa fa-euro"></i>
                </span>
				</div>
			</div>
		</div>

		<!--commission-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'global_commission' | translate]]
			</label>
			<div class="col-md-6" >
				<div class="input-group">
					<input type="text" class="form-control" ng-model="otc.type.commission">
					<span class="input-group-addon">%</span>
				</div>
			</div>
		</div>
		
		
		<!--order-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'order' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text"  touch-spin spin-options="otc.spinOptions" ng-model="otc.type.order">
			</div>
		</div>
		
		<!--description-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'description' | translate]]
			</label>
			<div class="col-md-6">
				<textarea class="form-control" ng-model="otc.type.description" cols="5" rows="5"></textarea>
			</div>
		</div>
		
	</div>
	
	

</div>