
<h2 class="heading">[[ 'image_gallery' | translate ]]</h2>

<button type="button" class="btn btn-primary" file-uploader data-id="[[ otc.id ]]" data-module="offer-type" on-success="otc.loadMedia()">
	<i class="fa fa-upload"></i>
	[[ 'upload_file'|translate ]]
</button>

<div class="space-20"></div>

<div ui-sortable="" ng-model="otc.attachments">
	<div class="col-md-4 col-sm-6 col-lg-2" ng-repeat="item in otc.attachments">
		<div class="attachment-container">
			<div class="attachment-thumbnail">
				<img ng-src="[[ item.url]]/thumb-[[ item.filename ]]" class="img-rounded img-thumb" ng-show="item.extension == 'jpg' || item.extension == 'png'">
				<i class="fa fa-file-pdf-o fa-5x m-t-md" ng-show="item.extension == 'pdf'"></i>
			</div>
			<div class="attachment-name">
				<span class="label">[[ item.name ]]</span>
			</div>
			<div class="attachment-btns">
				<div class="btn-group">
					<button type="button" class="btn btn-primary btn-sm" title="[[ 'download_attachment'|translate ]]" ng-click="otc.downloadAttachment( item.id )">
						<i class="fa fa-download"></i>
					</button>
					<button type="button" class="btn btn-danger btn-sm" title="[[ 'delete_attachment'|translate ]]" ng-click="otc.deleteAttachment( item.id )">
						<i class="fa fa-close"></i>
					</button>
				</div>
			</div>


		</div>
	</div>
</div>
