<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">
		<h2>[[ 'general'|translate ]]</h2>
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'name' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="rc.role.name">
			</div>
		</div>
		
		<!--status-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'status' | translate ]]
			</label>
			<div class="col-md-6">
				<input type="checkbox"
				       class="form-control"
				       icheck
				       ng-true-value="1"
				       ng-false-value="0"
				       ng-model="rc.role.status"/>
			</div>
		</div>
		
		
		
		<!--permissions table-->
		<div ng-show="rc.id">
			<h3>[[ 'permissions_table' | translate ]]</h3>
			<div class="hr-line-dashed"></div>
			
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-no-actions">
					<thead>
					<tr>
						<th>
							[[ 'section' | translate ]]
						</th>
						<th>
							<input type="checkbox" icheck ng-model="rc.createBox" ng-change="rc.checkAll('create')" ng-true-value="1" ng-false-value="0">
							[[ 'create' | translate ]]
						</th>
						<th>
							<input type="checkbox" icheck ng-model="rc.readBox" ng-change="rc.checkAll('read')" ng-true-value="1" ng-false-value="0">
							[[ 'view' | translate ]]
						</th>
						<th>
							<input type="checkbox" icheck ng-model="rc.updateBox" ng-change="rc.checkAll('update')" ng-true-value="1" ng-false-value="0">
							[[ 'update' | translate ]]
						</th>
						<th>
							<input type="checkbox" icheck ng-model="rc.deleteBox" ng-change="rc.checkAll('delete')" ng-true-value="1" ng-false-value="0">
							[[ 'delete' | translate ]]
						</th>
					
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="p in rc.permissions">
						<td width="100%">
							<div class="label text-lg">
								<i class="fa [[ p.sections.icon ]]"></i>
								[[ p.section | translate ]]
							</div>
						</td>
						<td>
							<input type="checkbox" icheck  ng-model="p.c" ng-true-value="1" ng-false-value="0" ng-change="rc.permissionChanged(p)" >
						</td>
						<td>
							<input type="checkbox" icheck  ng-model="p.r" ng-true-value="1" ng-false-value="0" ng-change="rc.permissionChanged(p)">
						</td>
						<td>
							<input type="checkbox" icheck ng-model="p.u" ng-true-value="1" ng-false-value="0" ng-change="rc.permissionChanged(p)">
						</td>
						<td>
							<input type="checkbox" icheck ng-model="p.d" ng-true-value="1" ng-false-value="0" ng-change="rc.permissionChanged(p)">
						</td>
					
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	



</div>
