<div class="inmodal">
	
	<!--modal title-->
	<div class="modal-header">
		<h4 class="modal-title">
			[['city_selector' | translate ]]
		</h4>
	</div>
	
	<!--modal body-->
	<form ng-submit="saveModal()" role="form">
		<div class="modal-body" >
			
			<div class="form-horizontal">
				
				<!--country-->
				<div class="form-group">
					<label class="control-label col-sm-4">[[ 'country'|translate ]]</label>
					<div class="col-sm-6">
						<select class="form-control" ng-model="country"
						        ng-options="item.id as item.name for item in countries" ng-change="loadStates( country )">
						</select>
						
					</div>
				</div>
				
				<!--state-->
				<div class="form-group">
					<label class="control-label col-sm-4">[[ 'state'|translate ]]</label>
					<div class="col-sm-6">
						<select class="form-control" ng-model="state"
						        ng-options="item.id as item.name for item in states" ng-change="loadCities( state )">
						</select>
					</div>
				</div>
				
				<!--city-->
				<div class="form-group">
					<label class="control-label col-sm-4">[[ 'city'|translate ]]</label>
					<div class="col-sm-6">
						<select class="form-control" ng-model="city"
						        ng-options="item.id as item.name for item in cities">
						</select>
					</div>
				</div>
				
				<!--city-->
				<div class="form-group">
					<label class="control-label col-sm-4">[[ 'search_by_city'|translate ]]</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="cityName" ng-change="searchCity( cityName )" ng-model-options="{ debounce: 500 }">
					</div>
				</div>
				
				
				<div class="ibox-content" ng-show="foundCities.length">
					<p ><strong>[[ 'total_found'|translate ]] :</strong> [[ foundCities.length ]]</p>
					<ul class="list-group" full-scroll style="max-height: 200px">
						<a class="list-group-item" ng-repeat="item in foundCities" ng-click="selectFoundCity(item)">
							<h2>
								<i class="fa fa-map-marker"></i>
									[[ item.name ]]
							</h2>
							<strong>[[ item.state.name ]]</strong>
							<strong>[[ item.country.name ]]</strong>
						</a>
					</ul>
				</div>
				
				
			</div>
			
		
		</div>
		
		<!--modal footer-->
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-lg">
				<i class="fa fa-check"></i>
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="$close()">
				<i class="fa fa-close"></i>
				[[ 'close' | translate ]]
			</button>
		</div>
	
	</form>
</div>