<div class="form-horizontal">
	
	<!--left col-->
	<div class="">
		<h2 class="heading">
			[[ 'comments'|translate ]]
		</h2>

		<!--client_comments-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'client_comments'|translate ]]
			</label>
			<div class="col-md-6 col-lg-6">
				<textarea class="form-control" cols="5" rows="5" ng-model="bc.booking.client_comments"></textarea>
			</div>
		</div>

		<!--tour_operator_comments-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'tour_operator_comments'|translate ]]
			</label>
			<div class="col-md-6 col-lg-6">
				<textarea class="form-control" cols="5" rows="5" ng-model="bc.booking.tour_operator_comments"></textarea>
			</div>
		</div>

		<!--internal_comments-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'internal_comments'|translate ]]
			</label>
			<div class="col-md-6 col-lg-6">
				<textarea class="form-control" cols="5" rows="5" ng-model="bc.booking.internal_comments"></textarea>
			</div>
		</div>

	</div>
	

</div>
