<div class="form-horizontal">



	<!--left col-->
	<div class="col-lg-6">
		<h2 class="heading">
			[['general'|translate]]
		</h2>


		<!--seller-->
		<div class="form-group">
			<label class="col-md-4 col-lg-3 control-label">
				[[ 'agent'|translate ]]
			</label>
			<div class="col-md-8 col-lg-8">
				<div class="input-group">
					<input type="text" class="form-control" disabled value="[[ bc.agent.name ]]">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" agent-search-box ng-model="bc.agent">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="col-md-1">
				<button type="button" class="btn btn-primary btn-circle" agent-create-modal on-success="bc.assignAgent">
					<i class="fa fa-plus"></i>
				</button>
			</div>
		</div>


		<!--client-->
		<div class="form-group" ng-if="!bc.tmp_client">
			<label class="col-md-4 col-lg-3 control-label required">
				[[ 'client'|translate ]]
			</label>
			<div class="col-md-8 col-lg-8">
				<div class="input-group">
					<input type="text" class="form-control" disabled value="[[ bc.client.name ]]">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" client-search-box ng-model="bc.client">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>

			<div class="col-md-1">
				<button type="button" class="btn btn-primary btn-circle" client-create-modal on-success="bc.assignClient">
					<i class="fa fa-plus"></i>
				</button>
			</div>
		</div>



		<!--offer type-->
		<div class="form-group">
			<label class="col-md-4 col-lg-3 control-label required">
				[[ 'offer_type'|translate ]]
			</label>
			<div class="col-md-8 col-lg-8">
				<select class="form-control" ng-model="bc.booking.offer_type_id" ng-change="bc.loadOffers()"
						ng-options="item.id  as item.name for item in bc.offerTypes">
				</select>
			</div>
		</div>

		<!--offer-->
		<div class="form-group">
			<label class="col-md-4 col-lg-3 control-label required">
				[[ 'offer'|translate ]]
			</label>
			<div class="col-md-8 col-lg-8">
				<select class="form-control" ng-model="bc.booking.offer_id" ng-change="bc.loadAvailableDates()"
						ng-options="item.id as ( item.name + ' ' + item.adult_price_value  ) for item in bc.offers">
				</select>
			</div>
		</div>


		<!--zone-->
		<div class="form-group">
			<label class="col-md-4 col-lg-3 control-label">
				[[ 'zone'|translate ]]
			</label>
			<div class="col-md-6 col-lg-8">
				<select class="form-control" ng-model="bc.booking.zone_id"
				        ng-options="item.id as item.name for item in bc.zones">
				</select>
			</div>
			<div class="col-md-1">
				<button type="button" class="btn btn-primary btn-circle">
					<i class="fa fa-map-marker"></i>
				</button>
			</div>
		</div>

		<!--pickup_point-->
		<div class="form-group">
			<label class="col-md-4 col-lg-3 control-label">
				[[ 'pickup_point'|translate ]]
			</label>
			<div class="col-md-8 col-lg-8">
				<select class="form-control" ng-model="bc.booking.stop_id"
						ng-options="item.stop.id as item.stop.name for item in bc.availableStops">
				</select>
			</div>
		</div>

		<!--payment_method-->
		<div class="form-group">
			<label class="col-md-4 col-lg-3 control-label">
				[[ 'payment_method'|translate ]]
			</label>
			<div class="col-md-8 col-lg-8">
				<select class="form-control" ng-model="bc.booking.payment_method_id"
						ng-options="item.id as item.name for item in bc.paymentMethods">
				</select>
			</div>
		</div>

		<!--status-->
		<div class="form-group">
			<label class="col-md-4 col-lg-3 control-label">
				[[ 'status'|translate ]]
			</label>
			<div class="col-md-8 col-lg-8">
				<select class="form-control" ng-model="bc.booking.status_id"
						ng-options="item.id as item.name for item in bc.statuses">
				</select>
			</div>
		</div>


		<h2 class="heading">
			[[ 'details'|translate ]]
		</h2>


		<!--confirmation_required-->
		<div class="form-group" ng-if="bc.booking.offer.confirmation_required">
			<label class="col-md-4 col-lg-3 control-label">
			</label>
			<div class="col-md-8 col-lg-8">
				<div class="success-element">
					<strong>
						<i class="fa fa-check text-primary"></i>
						[[ 'confirmation_required'|translate ]]
					</strong>
				</div>
			</div>
		</div>

		<!--visa_required-->
		<div class="form-group" ng-if="bc.booking.offer.visa_required">
			<label class="col-md-4 col-lg-3 control-label">
			</label>
			<div class="col-md-8 col-lg-8">
				<div class="success-element">
					<strong>
						<i class="fa fa-check text-primary"></i>
						[[ 'visa_required'|translate ]]
					</strong>
					<br/>
					<small>[[ 'visa_required_notice'|translate ]]</small>
				</div>
			</div>
		</div>

		<!--lunch_included-->
		<div class="form-group" ng-if="bc.booking.offer.lunch_included">
			<label class="col-md-4 col-lg-3 control-label">
			</label>
			<div class="col-md-8 col-lg-8">
				<div class="success-element">
					<strong>
						<i class="fa fa-check text-primary"></i>
						[[ 'lunch_included'|translate ]]
					</strong>
				</div>
			</div>
		</div>

		<!--require_passenger_details-->
		<div class="form-group" ng-if="bc.booking.offer.require_passenger_details">
			<label class="col-md-4 col-lg-3 control-label">
			</label>
			<div class="col-md-8 col-lg-8">
				<div class="success-element">
					<strong>
						<i class="fa fa-check text-primary"></i>
						[[ 'require_passenger_details'|translate ]]
					</strong>
				</div>
			</div>
		</div>



		<h2 class="heading">
			[[ 'passengers'|translate ]]
		</h2>




	</div>




	<!--right col-->
	<div class="col-md-6">

		<h2 class="heading">
			[[ 'calendar'|translate ]]
		</h2>
		<div ui-calendar="bc.calendar" class="calendar" ng-model="bc.availableDates"></div>

	</div>

</div>
