<div class="">

	<h2 class="heading">
		[[ 'list_of_passengers'|translate ]]
	</h2>


	<table class="table table-bordered table-small table-simple">
		<thead>
		<tr>
			<th>[[ 'name'|translate ]]</th>
			<th>[[ 'age'|translate ]]</th>
			<th>[[ 'pvp_price'|translate ]]</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in bc.passengers track by $index">
			<td style="min-width: 120px">
				<select class="form-control" ng-model="item.type" ng-change="item.changed=true"
				        ng-options="item|translate for item in oc.priceTypes">
				</select>
			</td>
			<td style="width: 120px">
				<input class="form-control" ng-model="item.net_price" ng-change="item.changed=true">
			</td>
			<td style="width: 120px">
				<input class="form-control" ng-model="item.pvp_price" ng-change="item.changed=true">
			</td>
			<td>
				<button type="button" class="btn btn-primary btn-sm btn-outline" ng-click="oc.savePrice(item)" ng-if="item.changed">
					<i class="fa fa-check"></i>
				</button>
				<button type="button" class="btn btn-danger btn-sm btn-outline" ng-click="oc.deletePrice(item,$index)">
					<i class="fa fa-trash"></i>
				</button>
			</td>
		</tr>
		</tbody>
	</table>


	<button type="button" class="btn btn-primary">
		<i class="fa fa-plus"></i>
		[[ 'add_passenger '|translate ]]
	</button>

</div>