<div class="form-horizontal">

    <h2 class="heading">
        [[ 'payments'|translate ]]
    </h2>

    <button type="button" class="btn btn-primary">
        <i class="fa fa-credit-card"></i>
        [[ 'add_payment'|translate ]]
    </button>

    <table class="table table-bordered table-hover table-small">
        <thead>

        </thead>
    </table>
</div>