<div class="form-horizontal">
    <h2 class="heading">
        [[ 'offer_details'|translate ]]
    </h2>


    <h3>
        <i class="fa fa-euro"></i>
        [[ 'prices'|translate ]]
    </h3>

    <!--adults-->
    <div class="form-group">
        <label class="col-md-3 control-label">
            [[ 'adults'|translate ]]
        </label>
        <div class="col-md-2">
            <input class="form-control" ng-model="bc.booking.total_adults" touch-spin spin-options="{min:0,max:20}" >
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input class="form-control" disabled value="[[ bc.adultPrice ]]">
                <span class="input-group-addon">
                <i class="fa fa-euro"></i>
            </span>
            </div>
        </div>
    </div>

    <!--children-->
    <div class="form-group">
        <label class="col-md-3 control-label">
            [[ 'children'|translate ]]
        </label>
        <div class="col-md-2">
            <input class="form-control" ng-model="bc.booking.total_children" touch-spin spin-options="{min:0,max:20}">
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input class="form-control" disabled value="[[ bc.childrenPrice ]]">
                <span class="input-group-addon">
						<i class="fa fa-euro"></i>
					</span>
            </div>
        </div>
    </div>

    <!--babies-->
    <div class="form-group">
        <label class="col-md-3 control-label">
            [[ 'babies'|translate ]]
        </label>
        <div class="col-md-2">
            <input class="form-control" ng-model="bc.booking.total_babies" touch-spin spin-options="{min:0,max:20}">
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input class="form-control" disabled value="[[ bc.babyDiscount ]]" >
                <span class="input-group-addon">
						%
					</span>
            </div>
        </div>
    </div>

    <!--senior-->
    <div class="form-group">
        <label class="col-md-3 control-label">
            [[ 'seniors'|translate ]]
        </label>
        <div class="col-md-2">
            <input class="form-control" ng-model="bc.booking.total_seniors" touch-spin spin-options="{min:0,max:20}">
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input class="form-control" disabled value="[[ bc.seniorPrice ]]">
                <span class="input-group-addon">
                <i class="fa fa-euro"></i>
            </span>
            </div>
        </div>
    </div>

    <h3>
        <i class="fa fa-cutlery"></i>
        [[ 'lunch'|translate ]]
    </h3>

    <div class="form-group">
        <label class="col-md-3 control-label">
            [[ 'adults'|translate ]]
        </label>
        <div class="col-md-2">
            <input class="form-control" ng-model="bc.booking.total_adults_lunch" touch-spin spin-options="{min:0,max:20}">
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input class="form-control" disabled value="[[ bc.adultLunchPrice ]]">
                <span class="input-group-addon">
                <i class="fa fa-euro"></i>
            </span>
            </div>
        </div>
    </div>

    <!--children lunch-->
    <div class="form-group">
        <label class="col-md-3 control-label">
            [[ 'children'|translate ]]
        </label>
        <div class="col-md-2">
            <input class="form-control" ng-model="bc.booking.total_children_lunch" touch-spin spin-options="{min:0,max:20}">
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input class="form-control" disabled value="[[ bc.childrenLunchPrice ]]" >
                <span class="input-group-addon">
                <i class="fa fa-euro"></i>
            </span>
            </div>
        </div>
    </div>


    <h3>
        <i class="fa fa-th-large"></i>
        [[ 'extras'|translate ]]
    </h3>


</div>