<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>
	        [[ (oc.id)?'edit':'create' | translate  ]] [[ 'offer' | translate  ]]
            <strong class="text-primary">
	            [[ oc.offer.name ]] @ [[ oc.tourOperator.name ]]
            </strong>
        </h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate  ]]</a>
            </li>
            <li>
                <a href="#/offers">[[ 'offers' | translate  ]]</a>
            </li>
            <li class="active">
                <strong>[[ (oc.id)?'edit':'create' | translate  ]]</strong>
            </li>
        </ol>
    </div>
</div>


<form ng-submit="oc.save()" novalidate>
    <div class="wrapper wrapper-content animated fadeInRight">
	
	    <div class="tabs-container">
		
		    <uib-tabset>
			    
			    <!--basic info-->
			    <uib-tab>
				    <uib-tab-heading>
					    <i class="fa fa-list"></i>
					    [[ 'details' | translate ]]
				    </uib-tab-heading>
				    <div class="panel-body">
					    <div ng-include="'app/js/modules/offers/views/tabs/details.html'"></div>
				    </div>
			    </uib-tab>

			    <!--prices-->
			    <uib-tab disable="!oc.id" select="oc.loadPrices()">
				    <uib-tab-heading>
					    <i class="fa fa-euro"></i>
					    [[ 'prices' | translate ]]
				    </uib-tab-heading>
				    <div class="panel-body">
					    <div ng-include="'app/js/modules/offers/views/tabs/prices.html'"></div>
				    </div>
			    </uib-tab>
			    
			    <!--routes-->
			    <uib-tab disable="!oc.id" select="oc.loadRoutes()">
				    <uib-tab-heading>
					    <i class="fa fa-stumbleupon"></i>
					    [[ 'routes' | translate ]]
				    </uib-tab-heading>
				    <div class="panel-body">
					    <div ng-include="'app/js/modules/offers/views/tabs/routes.html'"></div>
				    </div>
			    </uib-tab>


			    
			    <!--extras-->
			    <uib-tab disable="!oc.id" select="oc.loadExtras()">
				    <uib-tab-heading>
					    <i class="fa fa-th-large"></i>
					    [[ 'extras' | translate ]]
				    </uib-tab-heading>
				    <div class="panel-body">
					    <div ng-include="'app/js/modules/offers/views/tabs/extras.html'"></div>
				    </div>
			    </uib-tab>
			
			    <!--visas-->
			    <uib-tab disable="!oc.id" select="oc.loadVisas()">
				    <uib-tab-heading>
					    <i class="fa fa-tags"></i>
					    [[ 'visas' | translate ]]
				    </uib-tab-heading>
				    <div class="panel-body">
					    <div ng-include="'app/js/modules/offers/views/tabs/visas.html'"></div>
				    </div>
			    </uib-tab>
			
			    <!--languages-->
			    <uib-tab disable="!oc.id" select="oc.loadLanguages()">
				    <uib-tab-heading>
					    <i class="fa fa-flag"></i>
					    [[ 'languages' | translate ]]
				    </uib-tab-heading>
				    <div class="panel-body">
					    <div ng-include="'app/js/modules/offers/views/tabs/languages.html'"></div>
				    </div>
			    </uib-tab>
			    
			    
		    </uib-tabset>
	
	    </div>
	</div>
	    
	
	<!--save button-->
    <div class="row white-bg wrapper submit animated bounceInUp">
	    <button type="submit" class="btn btn-primary btn-lg">
		    <i class="fa fa-save"></i>
		    [[ 'save' | translate]]
	    </button>
	    <button type="button" class="btn btn-warning btn-lg" ng-click="oc.save(true)">
		    <i class="fa fa-save"></i>
		    [[ 'save_and_exit' | translate]]
	    </button>
	    <button type="button" class="btn btn-default btn-lg" ng-click="oc.cancel()">
		    <i class="fa fa-close"></i>
		    [[ 'cancel' | translate]]
	    </button>
    </div>
	
</form>