<div class="inmodal">
	
	<div class="modal-header">
		<h4 class="modal-title">[['file_uploader' | translate]]</h4>
	</div>
	
		<div class="modal-body">
			
			<form class="dropzone"
			      ng-dropzone
			      dropzone="dropzone"
			      dropzone-config="dropzoneConfig"
			      event-handlers="{ 'addedfile': dzAddedFile, 'error': dzError }">
				
			</form>
		</div>
	
		<div class="modal-footer">
			<button type="button" class="btn btn-white" ng-click="close()">
				[[ 'close' | translate ]]
			</button>
		</div>
	
</div>