<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>[[ 'offers' | translate ]]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ 'offers' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
	
	        <div class="m-b-md">
		        <button type="button" class="btn btn-primary btn-lg" ui-sref="offer-create">
			        <i class="fa fa-plus-circle"></i>
			        [[ 'new_offer' | translate ]]
		        </button>
	        </div>
	        
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
	                    <i class="fa fa-newspaper-o"></i>
                        [[ 'offers'|translate ]]
                    </h5>
                </div>
                <div class="ibox-content">
	
	
	                <!--table tools-->
	                <div class="row">
		
		                <div class="col-sm-1">
			                <div table-export-tools></div>
		                </div>
	
	                </div>
	                <div class="hr-line-dashed"></div>
	                
	                <div class="table-responsive">
		                <table
				                ng-table="moc.tableParams"
				                class="table table-bordered table-striped table-small table-centered"
				                template-pagination="custom/pager">
			
			                <tr ng-repeat="row in moc.offers">
				                <td data-title="'#'">
					                <input type="checkbox" icheck ng-model="row.checkbox">
				                </td>
				                <td data-title="''">
					                <i class="fa fa-star fa-2x text-warning" ng-if="row.featured"></i>
					                <i class="fa fa-star-o fa-2x text-warning" ng-if="!row.featured"></i>
				                </td>
				                <td data-title="'name'|translate" sortable="'name'" filter="{name:'custom/text'}">
									<strong>[[ row.name ]]</strong>
				                </td>
								<td data-title="'type'|translate" sortable="'type_id'" filter="{'type.name':'custom/text'}">
									<a ui-sref="offer-type-edit({id:row.type.id })" class="btn btn-link">
										[[ row.type.name ]]
									</a>
								</td>
				                <td data-title="'tour_operator'|translate" sortable="'tour_operator_id'" filter="{'tour_operator.name':'custom/text'}">
					                <a ui-sref="tour-operator-edit({id:row.tour_operator.id})" class="btn btn-link">
										[[ row.tour_operator.name ]]
									</a>
				                </td>
				                <td data-title="'adult_price'|translate" sortable="'adult_price'" filter="{adult_price:'custom/number'}" class="text-right">
					                <strong class="text-lg" title="[[ 'pvp_price'|translate ]]">[[ row.adult_price_value ]]</strong>
					                <br/>
					                <small title="[[ 'net_price'|translate ]]">[[ row.adult_net_price_value ]]</small>
				                </td>
				                <td data-title="'children_price'|translate" sortable="'children_price'" filter="{children_price:'custom/number'}" class="text-right">
					                <strong class="text-lg" title="[[ 'pvp_price'|translate ]]">[[ row.children_price_value ]]</strong>
					                <br/>
					                <small title="[[ 'net_price'|translate ]]">[[ row.children_net_price_value ]]</small>
				                </td>
				                <td data-title="'senior_price'|translate" sortable="'senior_price'" filter="{senior_price:'custom/number'}" class="text-right">
					                <strong class="text-lg" title="[[ 'pvp_price'|translate ]]">[[ row.senior_price_value ]]</strong>
					                <br/>
					                <small title="[[ 'net_price'|translate ]]">[[ row.senior_net_price_value ]]</small>
				                </td>

				                <td data-title="'total_bookings'|translate" class="text-center number-field">
					                [[ row.total_bookings ]]
				                </td>
				                <td data-title="'status'|translate" sortable="'status'" class="text-center">
					                <span class="label label-primary" ng-if="row.status"><i class="fa fa-check"></i></span>
					                <span class="label label-danger" ng-if="!row.status"><i class="fa fa-close"></i></span>
				                </td>
				                <td data-title="'actions'|translate">
					                <button class="btn btn-outline btn-primary btn-sm"
					                        ui-sref="offer-edit({ id: [[row.id]] })" type="button">
						                <i class="fa fa-pencil"></i>
					                </button>
					                <button class="btn btn-outline btn-danger btn-sm"
					                        ng-click="moc.delete( row.id )" type="button">
						                <i class="fa fa-trash"></i>
					                </button>
				                </td>
				                
			                </tr>
		                </table>
	                </div>
	
	                
                </div>
            </div>
        </div>
    </div>
</div>
