<div class="inmodal">
	
	<!--modal title-->
	<div class="modal-header">
		<h4 class="modal-title">
			[['add_price' | translate ]]
		</h4>
	</div>
	
	<!--modal body-->
	<form ng-submit="save()" novalidate>
		<div class="modal-body" >
			
			
			<!--type-->
			<div class="form-group">
				<label class="col-sm-4 control-label required">
					[[ 'type' | translate]]
				</label>
				<div class="col-sm-6">
					<select class="form-control" ng-model="price.type">
						<option value="">[['choose_one'|translate]]</option>
						<option value="[[ item.id ]]" ng-repeat="item in types">[[ item.name | translate ]]</option>
					</select>
				</div>
			</div>
			
			<!--price type-->
			<div class="form-group">
				<label class="col-sm-4">
					[['price_type'|translate]]
				</label>
				<div class="col-sm-8">
					<div class="btn-group">
						<label class="btn btn-default" uib-btn-radio="1" ng-model="price.price_type">
							[[ 'per_day'|translate]]
						</label>
						<label class="btn btn-default" uib-btn-radio="2" ng-model="price.price_type">
							[['per_booking'|translate]]
						</label>
					</div>
				</div>
			</div>
			
			<!--net price-->
			<div class="form-group">
				<label class="col-sm-4 control-label required">
					[[ 'net_price' | translate]]
				</label>
				<div class="col-sm-4">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="price.net_price">
						<span class="input-group-addon">
							<i class="fa fa-euro"></i>
						</span>
					</div>
				
				</div>
			</div>
			
			<!--pvp price-->
			<div class="form-group">
				<label class="col-sm-4 control-label required">
					[[ 'pvp_price' | translate]]
				</label>
				<div class="col-sm-4">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="price.pvp_price">
						<span class="input-group-addon">
							<i class="fa fa-euro"></i>
						</span>
					</div>
				
				</div>
			</div>
			
			<!--lunch price-->
			<div class="form-group">
				<label class="col-sm-4 control-label ">
					[[ 'lunch_price' | translate]]
				</label>
				<div class="col-sm-4">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="price.lunch_price">
						<span class="input-group-addon">
							<i class="fa fa-euro"></i>
						</span>
					</div>
				
				</div>
			</div>
			
			<!--discount-->
			<div class="form-group">
				<label class="col-sm-4 control-label ">
					[[ 'discount' | translate]]
				</label>
				<div class="col-sm-4">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="price.discount">
						<span class="input-group-addon">
							%
						</span>
					</div>
				
				</div>
			</div>
			
			
			<!--age range-->
			<div class="form-group">
				<label class="col-sm-4 control-label">
					[[ 'age' | translate]]
				</label>
				<div class="col-sm-3">
					<select class="form-control" ng-model="price.min_age">
						<option value="">[[ 'min'|translate ]]</option>
						<option ng-repeat="n in [] | range:100 ">[[ n ]]</option>
					</select>
				</div>
				<div class="col-sm-3">
					<select class="form-control" ng-model="price.max_age">
						<option value="">[[ 'max'|translate ]]</option>
						<option ng-repeat="n in [] | range:100 ">[[ n ]]</option>
					</select>
				</div>
			</div>
			
			<!--valid date-->
			<div class="form-group">
				<label class="col-sm-4 control-label">
					[['valid_for'|translate]]
				</label>
				<div class="col-sm-2">
					<input
						class="form-control"
						type="checkbox"
						icheck
						ng-model="price.valid_date"
						ng-true-value="1"
						ng-false-value="0">
				</div>
			</div>
			
			<div ng-show="price.valid_date">
				<!--valid from-->
				<div class="form-group">
					<label class="col-sm-4 control-label">[[ 'valid_from'|translate ]]</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input
									type="datetime"
									class="form-control"
									date-time ng-model="price.valid_from"
									view="date"
									auto-close="true"
									min-view="date"
									format="YYYY-MM-DD">
							<span class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</span>
						</div>
					</div>
				</div>
				
				<!--valid to-->
				<div class="form-group">
					<label class="col-sm-4 control-label">[[ 'valid_to'|translate ]]</label>
					<div class="col-sm-4">
						<div class="input-group date">
							<input
									type="datetime"
									class="form-control"
									date-time ng-model="price.valid_to"
									view="date"
									auto-close="true"
									min-view="date"
									format="YYYY-MM-DD">
							<span class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</span>
						</div>
					</div>
				</div>
			</div>
			
		
		
		</div>
		
		<!--modal footer-->
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-white" ng-click="$close()">
				[[ 'close' | translate ]]
			</button>
		</div>
	
	</form>
</div>