<div class="inmodal">
	
	<!--modal title-->
	<div class="modal-header">
		<h4 class="modal-title">
			[['create_new_offer_type' | translate ]]
		</h4>
	</div>
	
	<!--modal body-->
	<form ng-submit="save()" novalidate>
		<div class="modal-body" >
			
			
			<!--name-->
			<div class="form-group">
				<label class="col-sm-4 control-label required">
					[[ 'name' | translate]]
				</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" ng-model="type.name">
				</div>
			</div>
			
			<!--commission-->
			<div class="form-group">
				<label class="col-sm-4 control-label required">
					[[ 'commission' | translate]]
				</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="type.commission">
						<span class="input-group-addon">%</span>
					</div>
					
				</div>
			</div>
			
		
		
		</div>
		
		<!--modal footer-->
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-white" ng-click="$close()">
				[[ 'close' | translate ]]
			</button>
		</div>
	
	</form>
</div>