<div class="inmodal">
	
	<!--modal title-->
	<div class="modal-header">
		<h4 class="modal-title">
			[['offers' | translate ]]
		</h4>
	</div>
	
	<!--modal body-->
	<form ng-submit="saveModal()" role="form">
		<div class="modal-body" >
			
			<table
					ng-table="tableParams"
					class="table table-bordered table-striped table-hover table-condensed table-small"
					template-pagination="custom/pager">
				
				<tr ng-repeat="row in offers">
					<td data-title="'#'">
						<input
								type="radio"
								icheck
								ng-model="row.checked"
								name="model"
								value="[[ row.id ]]"
						>
					</td>
					<td data-title="'name'|translate" sortable="'name'" filter="{name:'custom/text'}">
						[[ row.name ]]
					</td>
					<td data-title="'offer_type_id'|translate" sortable="'offer_type_id'" filter="{'type.name':'custom/text'}">
						[[ row.type.name ]]
					</td>
					<td data-title="'tour_operator'|translate" sortable="'tour_operator_id'" filter="{'tour_operator.name':'custom/text'}">
						[[ row.tour_operator.name ]]
					</td>
					<td data-title="'adult_price'|translate" sortable="'adult_price'" filter="{adult_price:'custom/text'}" class="text-center">
						<strong title="[[ 'pvp_price'|translate ]]">[[ row.adult_price_value ]]</strong>
						<br/>
						<small title="[[ 'net_price'|translate ]]">[[ row.adult_net_price_value ]]</small>
					</td>
					<td data-title="'children_price'|translate" sortable="'children_price'" filter="{children_price:'custom/text'}" class="text-center">
						<strong title="[[ 'pvp_price'|translate ]]">[[ row.children_price_value ]]</strong>
						<br/>
						<small title="[[ 'net_price'|translate ]]">[[ row.children_net_price_value ]]</small>
					</td>
					<td data-title="'senior_price'|translate" sortable="'senior_price'" filter="{senior_price:'custom/text'}" class="text-center">
						<strong title="[[ 'pvp_price'|translate ]]">[[ row.senior_price_value ]]</strong>
						<br/>
						<small title="[[ 'net_price'|translate ]]">[[ row.senior_net_price_value ]]</small>
					</td>
				</tr>
			
			</table>
		
		</div>
		
		<!--modal footer-->
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-lg">
				<i class="fa fa-check"></i>
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-default btn-lg" ng-click="$close()">
				<i class="fa fa-close"></i>
				[[ 'close' | translate ]]
			</button>
		</div>
	
	</form>
</div>