<div class="inmodal">

    <div class="modal-header">
        <h4 class="modal-title">[['content' | translate]]</h4>
    </div>



    <!--modal body-->
    <form ng-submit="saveModal()" role="form">
        <div class="modal-body" >

            <div class="form-horizontal">

                <!--language-->
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        [[ 'language'|translate ]]
                    </label>
                    <div class="col-md-6">
                        <ui-select ng-model="content.language_id">
                            <ui-select-match>
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices group-filter="['Default','Languages']" group-by="filterLanguages" repeat="item.id as item in (languages | filter: $select.search) track by item.id">
                                <span ng-bind="item.name" class="text-lg"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <!--title-->
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        [[ 'title'|translate ]]
                    </label>
                    <div class="col-md-6">
                        <input class="form-control" ng-model="content.title">
                    </div>
                </div>

                <!--short_description-->
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        [[ 'short_description'|translate ]]
                    </label>
                    <div class="col-sm-12">
                        <div height="300" summernote class="summernote"  ng-model="content.short_description"></div>
                    </div>
                </div>

                <!--long_description-->
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        [[ 'long_description'|translate ]]
                    </label>
                    <div class="col-sm-12">
                        <div height="300" summernote class="summernote"  ng-model="content.long_description"></div>
                    </div>
                </div>

                <!--ticket_description-->
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        [[ 'ticket_description'|translate ]]
                    </label>
                    <div class="col-sm-12">
                        <div height="300" summernote class="summernote"  ng-model="content.ticket_description"></div>
                    </div>
                </div>


            </div>

        </div>

        <!--modal footer-->
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-lg">
                <i class="fa fa-check"></i>
                [[ 'save' | translate ]]
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-click="$close()">
                <i class="fa fa-close"></i>
                [[ 'close' | translate ]]
            </button>
        </div>

    </form>


</div>