<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>
			[[ (sc.id ) ? 'edit':'create' | translate ]] [[ 'stop' | translate ]]
			<strong class="text-primary">[[ sc.stop.name ]]</strong>
		</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#/dashboard">[[ 'home' | translate ]]</a>
			</li>
			<li>
				<a href="#/stops">[[ 'stops' | translate ]]</a>
			</li>
			<li class="active">
				<strong>[[ ( sc.id ) ? 'edit':'create' | translate ]]</strong>
			</li>
		</ol>
	</div>
</div>
<form name="saveCompany" novalidate ng-submit="sc.save()">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="tabs-container">
			<uib-tabset>
				
				<!--basic info-->
				<uib-tab>
					<uib-tab-heading>
						<i class="fa fa-list-alt"></i>
						[[ 'details' | translate ]]
					</uib-tab-heading>
					<div class="panel-body">
						<div ng-include="'app/js/modules/stops/views/tabs/details.html'"></div>
					</div>
				</uib-tab>
				
				<uib-tab disable="!sc.id" select="sc.loadContent()">
					<uib-tab-heading>
						<i class="fa fa-file-text"></i>
						[[ 'content'|translate ]]
					</uib-tab-heading>
					<div class="panel-body">
						<div ng-include="'app/js/modules/stops/views/tabs/content.html'"></div>
					</div>
				</uib-tab>
			
			
			</uib-tabset>
		</div>
	</div>
	
	<div class="row white-bg wrapper submit animated bounceInUp">
		<button type="submit" class="btn btn-primary btn-lg">
			<i class="fa fa-save"></i>
			[[ 'save' | translate]]
		</button>
		<button type="button" class="btn btn-warning btn-lg" ng-click="sc.save(true)">
			<i class="fa fa-save"></i>
			[[ 'save_and_exit' | translate]]
		</button>
		<button type="button" class="btn btn-default btn-lg" ng-click="sc.cancel()">
			<i class="fa fa-close"></i>
			[[ 'cancel' | translate]]
		</button>
	</div>

</form>