<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>[[ 'stops' | translate ]]</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#/dashboard">[[ 'home' | translate ]]</a>
			</li>
			<li class="active">
				<strong>[[ 'stops' | translate ]]</strong>
			</li>
		</ol>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			
			<div class="m-b-md">
				<button type="button" class="btn btn-primary btn-lg" ui-sref="stop-create">
					<i class="fa fa-plus-circle"></i>
					[[ 'new_stop' | translate ]]
				</button>
			</div>
			
			<div class="ibox float-e-margins">
				
				<!--box title-->
				<div class="ibox-title">
					<h5>
						<i class="fa fa-map-marker"></i>
						[[ 'stops' | translate ]]
					</h5>
				</div>
				
				
				
				<div class="ibox-content">
					
					
					<!--table tools-->
					<div class="row">
						
						<div class="col-sm-1">
							<div table-export-tools></div>
						</div>
					
					</div>
					<div class="hr-line-dashed"></div>
					
					
					<div class="table-responsive">
						<table
								ng-table="msc.tableParams"
								class="table table-bordered table-striped table-hover table-condensed table-small"
								template-pagination="custom/pager">
							
							<tr ng-repeat="row in msc.stops">
								<td data-title="'#'">
									<input type="checkbox" icheck ng-model="row.checked">
								</td>
								<td data-title="">
									<button type="button" class="btn btn-primary btn-outline btn-sm" location-popup lat="[[ row.lat ]]" lng="[[ row.lng ]]" name="[[ row.name ]]">
										<i class="fa fa-map-marker" ></i>
									</button>
								</td>
								<td data-title="'name'|translate" filter="{ name:'custom/text'}" sortable="'name'">
									<strong>[[ row.name ]]</strong>
								</td>
								<td data-title="'zone'|translate" filter="{ 'zone.name':'custom/text'}" sortable="'zone_id'">
									<a class="btn btn-link" ui-sref="zone-edit({id:row.zone.id})">
										<strong>[[ row.zone.name ]]</strong>
									</a>
								</td>
								<td data-title="'lat'|translate" sortable="'lat'" filter="{ lat:'custom/number'}">
									<span class="label">[[ row.lat ]]</span>
								</td>
								<td data-title="'lng'|translate" sortable="'lng'" filter="{ lng:'custom/number'}">
									<span class="label">[[ row.lng ]]</span>
								</td>

								<td data-title="'status'|translate"  class="text-center">
									<span class="label label-primary" ng-show="row.status"><i class="fa fa-check"></i></span>
									<span class="label label-danger" ng-show="!row.status"><i class="fa fa-close"></i></span>
								</td>
								<td data-title="'actions'|translate">
									<button class="btn btn-outline btn-warning btn-sm"
									        ng-click="msc.duplicateStop( [[row.id]] )" type="button">
										<i class="fa fa-copy"></i>
									</button>
									<button class="btn btn-outline btn-primary btn-sm"
									        ui-sref="stop-edit({ id: [[row.id]] })" type="button">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-outline btn-danger btn-sm"
									        ng-click="msc.delete([[ row.id ]])" type="button">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						
						</table>
					</div>
				
				
				</div>
			</div>
		</div>
	</div>
</div>


