<div class="inmodal">
	<div class="modal-header">
		<h4 class="modal-title">[['select_stop' | translate]]</h4>
	</div>
	<form ng-submit="saveModal()">
		<div class="modal-body">
			
			<table
				ng-table="tableParams"
				class="table table-bordered table-striped table-hover table-small"
				template-pagination="custom/pager">
				
				<tr ng-repeat="row in stops">
					<td title="'#'">
						<input type="radio"
						       name="stop"
						       icheck
						       ng-model="row.checked" value="[[ row.id ]]">
					</td>
					<td title="'name'|translate" filter="{ name:'custom/text'}" sortable="'name'">
						[[ row.name ]]
					</td>
					<td title="'lat'|translate" sortable="'lat'">
						[[ row.lat ]]
					</td>
					<td title="'lng'|translate" sortable="'lng'">
						[[ row.lng ]]
					</td>
					<td title="'status'|translate" sortable="'status'">
						<span class="label label-primary" ng-show="row.status"><i class="fa fa-check"></i></span>
						<span class="label label-danger" ng-show="!row.status"><i class="fa fa-close"></i></span>
					</td>
					
				</tr>
			
			</table>
		
		
		
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">
				<i class="fa fa-check"></i>
				[[ 'save' | translate ]]
			</button>
			<button type="button" class="btn btn-white" ng-click="$close()">
				<i class="fa fa-close"></i>
				[[ 'close' | translate ]]
			</button>
		</div>
	</form>
</div>