<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>
	        [[ (pmc.id ) ? 'edit':'create' | translate ]] [[ 'payment_method' | translate ]]
            <strong class="text-primary">[[ pmc.method.name ]]</strong>
        </h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li>
                <a href="#/payment-methods">[[ 'payment_methods' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ ( pmc.id ) ? 'edit':'create' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>

<form name="saveCompany" novalidate ng-submit="pmc.save()">
    <div class="wrapper wrapper-content animated fadeInRight">
	    <div class="tabs-container">
		    <uib-tabset>
			    
			    <!--details-->
			    <uib-tab>
				    <uib-tab-heading>
					    <i class="fa fa-list"></i>
					    [[ 'details' | translate ]]
				    </uib-tab-heading>
					<div class="panel-body">
						<div ng-include="'app/js/modules/payment-methods/views/tabs/details.html'"></div>
					</div>
			    </uib-tab>
			    
			    
			    
		    </uib-tabset>
	    </div>
    </div>
	
    <div class="row white-bg wrapper submit animated bounceInUp">
	    <button type="submit" class="btn btn-primary btn-lg">
		    <i class="fa fa-save"></i>
		    [[ 'save' | translate]]
	    </button>
	    <button type="button" class="btn btn-warning btn-lg" ng-click="pmc.save(true)">
		    <i class="fa fa-save"></i>
		    [[ 'save_and_exit' | translate]]
	    </button>
	    <button type="button" class="btn btn-default btn-lg" ng-click="pmc.cancel()">
		    <i class="fa fa-close"></i>
		    [[ 'cancel' | translate]]
	    </button>
    </div>

</form>