<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
    <div class="col-lg-10">
        <h2>[[ 'payment_methods' | translate ]]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/dashboard">[[ 'home' | translate ]]</a>
            </li>
            <li class="active">
                <strong>[[ 'payment_methods' | translate ]]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
	
	        <div class="m-b-md">
		        <button type="button" class="btn btn-primary btn-lg" ui-sref="payment-method-create">
			        <i class="fa fa-plus-circle"></i>
			        [[ 'new_payment_method' | translate ]]
		        </button>
	        </div>
	        
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
	                    <i class="fa fa-money"></i>
                        [[ 'payment_methods'|translate ]]
                    </h5>
                </div>
	            
                <div class="ibox-content">
	
	                <!--table tools-->
	                <div class="row">
		
		                <div class="col-sm-1">
			                <div table-export-tools></div>
		                </div>
	
	                </div>
	                <div class="hr-line-dashed"></div>
	                
	                <div class="table-responsive">
		                <table
				                ng-table="mpmc.tableParams"
				                class="table table-bordered table-striped table-hover table-condensed table-small"
				                template-pagination="custom/pager">
			
			                <tr ng-repeat="item in mpmc.methods">
				                <td title="'#'">
					                <input type="checkbox" icheck ng-model="item.checked">
				                </td>
				                <td title="'name'|translate" sortable="'name'" filter="{name:'custom/text'}">
					                <strong>[[ item.name ]]</strong>
				                </td>
				                <td title="'commission'|translate" sortable="'commission'" filter="{commission:'custom/number'}">
					                [[ item.commission_value ]]
				                </td>
				                <td title="'commission_percent'|translate" sortable="'commission_percent'" filter="{commission_percent:'custom/number'}">
					                [[ item.commission_percent ]]
				                </td>
				                <td title="'type'|translate" sortable="'type'">
					                [[ item.type ]]
				                </td>
				                <td title="'actions'|translate">
					                <button class="btn btn-outline btn-primary btn-sm"
					                        ui-sref="payment-method-edit({ id: [[ item.id ]] })" type="button">
						                <i class="fa fa-pencil"></i>
					                </button>
					                <button class="btn btn-outline btn-danger btn-sm"
					                        ng-click="mpmc.deletePaymentMethod( item.id )" type="button">
						                <i class="fa fa-trash"></i>
					                </button>
				                </td>
			                </tr>
		
		                </table>
	                </div>
	
	                
                </div>
            </div>
        </div>
    </div>
</div>


