<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">
		
		<h2 class="heading">
			[[ 'general'|translate ]]
		</h2>
		
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'name' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="zc.zone.name">
			</div>
		</div>
		
		<!--city-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'city' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" disabled value="[[ zc.city.name ]]">
					<span class="input-group-btn">
					<button type="button" class="btn btn-primary" city-picker ng-model="zc.city">
						<i class="fa fa-search"></i>
					</button>
				</span>
				</div>
			</div>
		</div>
		
		<!--description-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'description' | translate]]
			</label>
			<div class="col-md-6">
				<textarea class="form-control" ng-model="zc.zone.description" rows="5" cols="5"></textarea>
			</div>
		</div>
		
		<!--radius-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'radius' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text"  touch-spin spin-options="zc.spinOptions" ng-model="zc.zone.radius" ng-change="zc.setRadius(zc.zone.radius)">
					<span class="input-group-addon">
						[[ 'mts'|translate ]]
					</span>
				</div>
			</div>
		</div>
		
		<!--coordinates-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'latitude'|translate ]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" disabled value="[[ zc.location.lat ]]" placeholder="[[ 'lat'|translate ]]">
			</div>
		</div>
		
		<!--lng-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'longitude'|translate ]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" disabled value="[[ zc.location.lng ]]" placeholder="[[ 'lng'|translate ]]">
			</div>
		</div>
		
		
		
		<!--location-->
		<div class="form-group">
			<label class="col-md-4 control-label"></label>
			<div class="col-md-6">
				<button type="button" class="btn btn-primary" location-picker ng-model="zc.location" radius="[[ zc.zone.radius ]]" name="[[ zc.zone.name ]]">
					<i class="fa fa-map-marker"></i>
					[[ 'set_location'|translate ]]
				</button>
			</div>
		</div>
		
		
		<!--status-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'status' | translate]]
			</label>
			<div class="col-md-6">
				<input
					type="checkbox"
					icheck
					ng-true-value="1"
					ng-false-value="0"
					ng-model="zc.zone.status">
			</div>
		</div>
		
	</div>

	<div class="col-md-6">

		<h2 class="heading">
			[[ 'stops'|translate ]]
		</h2>

		<div class="table-responsive" ng-if="zc.zoneStops.length">
			<table class="table table-bordered table-small">
				<thead>
				<tr>
					<th>#</th>
					<th>[[ 'name'|translate ]]</th>
					<th>[[ 'lat'|translate ]]</th>
					<th>[[ 'lng'|translate ]]</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="row in zc.zoneStops">
					<td>[[ row.id ]]</td>
					<td>
						<strong>[[ row.name ]]</strong>
					</td>
					<td><span class="label">[[ row.lat ]]</span></td>
					<td><span class="label">[[ row.lng ]]</span></td>
					<td>
						<button type="button" class="btn btn-sm btn-info btn-outline" location-popup lat="[[ row.lat ]]" lng="[[ row.lng ]]" data-name="[[ row.name ]]">
							<i class="fa fa-map-marker"></i>
						</button>
						<button type="button" class="btn btn-sm btn-primary btn-outline" ui-sref="stop-edit({id:row.id})">
							<i class="fa fa-pencil"></i>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>


	</div>

	
</div>