<div class="form-horizontal">
	
	<div class="col-lg-6">
		<h2 class="heading">
			[[ 'available_stops'|translate ]]
		</h2>
		
		
		<ul class="list-group" ui-sortable ng-model="zc.zoneStops">
			<li class="list-group-item" ng-repeat="item in zc.zoneStops">
				<a class="btn btn-link" ui-sref="stop-edit({id: item.stop_id })">
					[[ item.stop.name ]]
				</a>
				<button type="button" class="btn btn-link" ng-click="zc.deleteStop( item.id )">
					<i class="fa fa-trash text-danger"></i>
				</button>
				<div>
					<i class="fa fa-map-marker"></i>
					<small>
						<strong>( [[ item.stop.lat ]] | [[ item.stop.lng ]] )</strong>
					</small>
				</div>
			</li>
		</ul>
		
		<button type="button" class="btn btn-primary" stop-picker on-save="zc.saveStop" ng-model="zc.selectedStop">
			<i class="fa fa-plus-circle"></i>
			[[ 'add_stop'|translate ]]
		</button>
		
		
	</div>
</div>





