<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">

		<h2 class="heading">
			[['content'|translate ]]
		</h2>

		<div style="max-height: 500px" full-scroll>
			<div class="table-responsive">
				<table	class="table table-bordered table-striped table-hover table-small table-simple">
					<thead>
					<tr>
						<th>[[ 'title'|translate ]]</th>
						<th>[['language'|translate]]</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in sc.content">
							<td><strong>[[ row.title ]]</strong></td>
							<td><span class="label">[[ row.language.name ]]</span></td>
							<td>
								<button class="btn btn-outline btn-primary btn-sm"
										stop-content-modal
										data-module="stops"
										data-id="[[ sc.id ]]"
										ng-model="row"
										on-success="sc.loadContent()"
										type="button">
									<i class="fa fa-pencil"></i>
								</button>
								<button class="btn btn-outline btn-danger btn-sm"
										ng-click="sc.deleteContent([[ row.id ]])" type="button">
									<i class="fa fa-trash"></i>
								</button>
							</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>


		<div class="m-md">
			<button type="button" class="btn btn-primary" stop-content-modal data-module="stops" data-id="[[ sc.id ]]" on-success="sc.loadContent()">
				<i class="fa fa-plus-circle"></i>
				[[ 'add_content'|translate ]]
			</button>
		</div>


		<!--<uib-tabset>


			<uib-tab ng-repeat="item in sc.content">
				<uib-tab-heading>
					[[ item.language.name ]]
				</uib-tab-heading>
				<div class="panel-body">
					<div class="form-horizontal">

						<div class="form-group">
							<div class="">
								<input class="form-control" ng-model="item.title">
							</div>
						</div>

						<div class="form-group">
							<div class="">
								<textarea class="form-control" ng-model="item.description"></textarea>
							</div>
						</div>

					</div>
				</div>
			</uib-tab>


		</uib-tabset>-->

	</div>


</div>