<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">
		
		<h2 class="heading">
			[[ 'general'|translate ]]
		</h2>
		
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'name'|translate ]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="sc.stop.name">
			</div>
		</div>

		<!--zone-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'zone' | translate]]
			</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="sc.stop.zone_id" ng-options="item.id as item.name for item in sc.zones">
				</select>
			</div>
		</div>
		
		<!--description-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'description'|translate ]]
			</label>
			<div class="col-md-6">
				<textarea class="form-control" ng-model="sc.stop.description" rows="5"></textarea>
			</div>
		</div>
		
		<!--status-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'status'|translate ]]
			</label>
			<div class="col-md-6">
				<input type="checkbox"
				       icheck
				       class="form-control"
				       ng-model="sc.stop.status"
				       ng-true-value="1"
				       ng-false-value="0">
			</div>
		</div>
		
	</div>
	
	<!--right col-->
	<div class="col-lg-6">
		
		<h2 class="heading">
			[[ 'position'|translate ]]
		</h2>
		
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'latitude'|translate ]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="sc.location.lat">
					<span class="input-group-addon">
						#
					</span>
				</div>
			</div>
		</div>
		
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'longitude'|translate ]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="sc.location.lng">
					<span class="input-group-addon">
						#
					</span>
				</div>
			</div>
		</div>
		
		<!--heading-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'heading'|translate ]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="sc.location.heading">
					<span class="input-group-addon">
						#
					</span>
				</div>
			</div>
		</div>
		
		<!--pitch-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'pitch'|translate ]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="sc.location.pitch">
					<span class="input-group-addon">
						#
					</span>
				</div>
			</div>
		</div>
		
		<!--zoom-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'zoom'|translate ]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="sc.location.zoom">
					<span class="input-group-addon">
						#
					</span>
				</div>
			</div>
		</div>
		
		<!--set location-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				
			</label>
			<div class="col-md-6">
				<button type="button" class="btn btn-primary  btn-lg" location-picker ng-model="sc.location" name="[[ sc.stop.name ]]">
					<i class="fa fa-map-marker"></i>
					[[ 'set_location'|translate ]]
				</button>
			</div>
		</div>
		
	</div>
	
	
	
	
	
	
</div>