<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">
		<h2 class="heading">
			[[ 'general'|translate ]]
		</h2>
		
		
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'name' | translate ]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="cc.category.name">
			
			</div>
		</div>
		
		<!--description-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'description' | translate ]]
			</label>
			<div class="col-md-6">
				<textarea class="form-control" ng-model="cc.category.description" cols="5" rows="5"></textarea>
			</div>
		</div>
		
		<!--order-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'order' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text"  touch-spin spin-options="cc.spinOptions" ng-model="cc.category.order">
			</div>
		</div>
		
		<!--featured-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'featured'|translate ]]
			</label>
			<div class="col-md-6">
				<input type="checkbox"
				       icheck
				       ng-model="cc.category.featured"
				       ng-true-value="1"
				       ng-false-value="0">
			</div>
		</div>
		
		<!--status-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'status'|translate ]]
			</label>
			<div class="col-md-6">
				<input type="checkbox"
				       icheck
				       ng-model="cc.category.status"
				       ng-true-value="1"
				       ng-false-value="0">
			</div>
		
		</div>
	</div>
	


</div>