<div class="inmodal">
	
	<div class="modal-header">
		<h4 class="modal-title">[['file_uploader' | translate]]</h4>
	</div>
	
	<div class="modal-body">
		<h4 class="text-danger">[[ 'max_file_size_msg'|translate ]]</h4>
		<h4 class="text-danger">[[ 'max_image_size_msg'|translate ]]</h4>
		<form class="dropzone"
		      ng-dropzone
		      dropzone="dropzone"
		      dropzone-config="dropzoneConfig"
		      event-handlers="{ 'addedfile': onAddedFile, 'error': onError }">
		</form>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="close()">
			[[ 'close' | translate ]]
		</button>
	</div>

</div>