<div class="form-horizontal">

	<h2 class="heading">
		[[ 'available_dates'|translate ]]
	</h2>

	<div class="table table-responsive table-simple" ng-if="rc.dates.length">
		<table class="table table-bordered table-small">
			<thead>
			<tr>
				<th>[[ 'name'|translate ]]</th>
				<th>[[ 'start_date'|translate ]]</th>
				<th>[[ 'end_date'|translate ]]</th>
				<th>[[ 'Mo'|translate ]]</th>
				<th>[[ 'Tu'|translate ]]</th>
				<th>[[ 'We'|translate ]]</th>
				<th>[[ 'Th'|translate ]]</th>
				<th>[[ 'Fr'|translate ]]</th>
				<th>[[ 'Sa'|translate ]]</th>
				<th>[[ 'Su'|translate ]]</th>
				<th>[[ 'repeat'|translate ]]</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in rc.dates">
				<td>
					<strong>[[ row.name ]]</strong>
				</td>
				<td>
					<span class="label">[[ row.start_date_value ]]</span>
				</td>
				<td>
					<span class="label">[[ row.end_date_value ]]</span>
				</td>
				<td class="text-center">
					<i class="fa fa-check text-success" ng-if="row.monday"></i>
					<i class="fa fa-close text-danger" ng-if="!row.monday"></i>
				</td>
				<td class="text-center">
					<i class="fa fa-check text-success" ng-if="row.tuesday"></i>
					<i class="fa fa-close text-danger" ng-if="!row.tuesday"></i>
				</td>
				<td class="text-center">
					<i class="fa fa-check text-success" ng-if="row.wednesday"></i>
					<i class="fa fa-close text-danger" ng-if="!row.wednesday"></i>
				</td>
				<td class="text-center">
					<i class="fa fa-check text-success" ng-if="row.thursday"></i>
					<i class="fa fa-close text-danger" ng-if="!row.thursday"></i>
				</td>
				<td class="text-center">
					<i class="fa fa-check text-success" ng-if="row.friday"></i>
					<i class="fa fa-close text-danger" ng-if="!row.friday"></i>
				</td>
				<td class="text-center">
					<i class="fa fa-check text-success" ng-if="row.saturday"></i>
					<i class="fa fa-close text-danger" ng-if="!row.saturday"></i>
				</td>
				<td class="text-center">
					<i class="fa fa-check text-success" ng-if="row.sunday"></i>
					<i class="fa fa-close text-danger" ng-if="!row.sunday"></i>
				</td>
				<td>[[ row.repeat_each ]]</td>
				<td width="80">
					<button type="button" class="btn btn-sm btn-primary btn-outline" ng-model="row" calendar-picker on-success="rc.loadDates()">
						<i class="fa fa-pencil"></i>
					</button>
					<button type="button" class="btn btn-sm btn-danger btn-outline" ng-click="rc.deleteDate( row.id )">
						<i class="fa fa-trash"></i>
					</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="m-lg">
		<button type="button" class="btn btn-primary" calendar-picker ng-model="rc.newDate" on-success="rc.loadDates()" title="[[ rc.route.name ]]">
			<i class="fa fa-calendar"></i>
			[[ 'add_date'|translate ]]
		</button>
	</div>

</div>