<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">
		<h2 class="heading">
			[[ 'general'|translate ]]
		</h2>
		
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'name' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="rc.route.name">
			</div>
		</div>
		
		<!--offer-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'offer' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" disabled value="[[ rc.offer.name ]]">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" offer-search-box ng-model="rc.offer">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
		</div>


		<!--departure_time-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'departure_time'|translate ]]
			</label>
			<div class="col-md-6">
				<div class="input-group " clock-picker data-autoclose="true">
					<input type="text" class="form-control" ng-model="rc.route.departure_time">
					<span class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </span>
				</div>
			</div>
		</div>


		<!--location-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'location'|translate]]
			</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="rc.route.location_id"
				        ng-options="item.id as item.name for item in rc.locations">
				</select>
			</div>
		</div>
		
		<!--city-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'city'|translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" disabled value="[[ rc.city.name  ]]">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" city-picker ng-model="rc.city">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		
		
		<!--description-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'description' | translate ]]
			</label>
			<div class="col-md-6">
				<textarea rows="5" class="form-control" ng-model="rc.route.description"></textarea>
			</div>
		</div>
		
		<!--status-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'status' | translate]]
			</label>
			<div class="col-md-6">
				<input type="checkbox"
				       icheck
				       class="form-control"
				       ng-model="rc.route.status"
					ng-true-value="1"
					ng-false-value="0">
			</div>
		</div>
	</div>
	
	
	

</div>