<div class="form-horizontal">

	<h2 class="heading">
		[[ 'available_stops'|translate]]
	</h2>


	<!--stops-->
	<div class="col-sm-6">


		<!--available stops-->
		<div class="form-group">
			<label class="col-md-3 control-label">
				[[ 'available_stops'|translate ]]
			</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="rc.stop" ng-options="item.id as item.name for item in rc.availableStops"></select>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-primary" ng-click="rc.addStop()">
					<i class="fa fa-plus"></i>
					[[ 'add_stop'|translate ]]
				</button>
			</div>
		</div>


		<div class="space-30 hr-line-dashed"></div>

		<div class="">
			<h3>
				[[ 'active_stops'|translate ]]
			</h3>
			<ul class="list-group" ui-sortable ui-sortabl-update="rc.stopsSorted()" ng-model="rc.stops">
				<a class="list-group-item" ng-repeat="stop in rc.stops">
					[[ stop.stop.name ]]
					<div class="pull-right">
						<button type="button" class="btn btn-outline btn-danger btn-xs" ng-click="rc.deleteStop( stop.id )">
							<i class="fa fa-trash"></i>
						</button>
					</div>
				</a>
			</ul>
		</div>


	</div>

	<!--map-->
	<div class="col-sm-6">

		<ng-map style="display: block;height: 500px;width: 100%"></ng-map>

	</div>

</div>


