<div class="form-horizontal">

	<div class="row">
		<!--left col-->
		<div class="col-lg-6">

			<!--zone-->
			<div class="form-group">
				<label class="col-md-4 control-label">
					[[ 'zone'|translate ]]
				</label>
				<div class="col-md-6">
					<select class="form-control" ng-model="rc.new.zone"
					        ng-options="item.id as item.name for item in rc.availableZones">
					</select>
				</div>
			</div>

			<!--supplement-->
			<div class="form-group">
				<label class="col-md-4 control-label">
					[[ 'supplement'|translate ]]
				</label>
				<div class="col-md-6">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="rc.new.supplement">
						<span class="input-group-addon">
						<i class="fa fa-euro"></i>
					</span>
					</div>
				</div>
			</div>

			<!--time_offset-->
			<div class="form-group">
				<label class="col-md-4 control-label">
					[[ 'time_offset'|translate ]]
				</label>
				<div class="col-md-6">
					<div class="input-group " clock-picker data-autoclose="true">
						<input type="text" class="form-control" ng-model="rc.new.time_offset">
						<span class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </span>
					</div>
				</div>
			</div>


			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-sm-6">
					<button type="button" class="btn btn-primary" ng-click="rc.addZone()">
						<i class="fa fa-plus-circle"></i>
						[[ 'add'|translate ]]
					</button>
				</div>
			</div>

		</div>
	</div>

	<div class="row">


		<!--zones-->
		<div class="col-md-6">
			<h2 class="heading">
				[[ 'route_zones'|translate ]]
			</h2>

			<table class="table table-hover table-striped table-small" ng-if="rc.zones.length">
				<thead>
				<tr>
					<th></th>
					<th>[[ 'zone'|translate ]]</th>
					<th>[[ 'stops'|translate ]]</th>
					<th>[[ 'supplement'|translate ]]</th>
					<th class="text-center">[[ 'time_offset'|translate ]]</th>
					<th class="text-center">[[ 'departure_time'|translate ]]</th>
					<th>[[ 'order'|translate ]]</th>
					<th></th>
				</tr>
				</thead>
				<tbody ui-sortable="{update:rc.updateZonesOrder}" ng-model="rc.zones" >
				<tr ng-repeat="item in rc.zones">
					<td>
						<a class="btn btn-link" ng-click="rc.toggleZone(item)">
							<i class="fa fa-eye" ng-class="{'text-primary':item.status,'text-danger':!item.status }"></i>
						</a>
					</td>
					<td>
						<a ng-click="rc.loadRouteStops( item )" class="btn btn-link">
							<strong>[[ item.zone.name ]]</strong>
						</a>
					</td>
					<td class="text-center">
						<span class="label">
							[[ item.zone.stops ]]
						</span>
					</td>
					<td class="text-center">
						<input type="text" class="form-control" ng-model="item.supplement" ng-if="item.editing">
						<span ng-if="!item.editing">
							<i class="fa fa-euro" ng-if="item.supplement"></i>
							<strong>[[ item.supplement ]]</strong>
						</span>

					</td>
					<td>
						<input type="text" class="form-control" ng-model="item.time_offset" ng-if="item.editing">
						<span ng-if="!item.editing">
							<span class="label">
								[[ item.time_offset ]]
							</span>
						</span>
					</td>
					<td>
						<span class="label">
							[[ item.departure_time ]]
						</span>
					</td>
					<td class="text-center">
						<span class="label">
							 [[ item.order ]]
						</span>
					</td>
					<td>
						<button type="button" class="btn btn-sm btn-primary btn-outline" ng-click="item.editing=true" ng-show="!item.editing">
							<i class="fa fa-pencil"></i>
						</button>
						<button type="button" class="btn btn-sm btn-primary btn-outline" ng-click="rc.saveZone(item)" ng-show="item.editing">
							<i class="fa fa-check"></i>
						</button>
						<button type="button" class="btn btn-sm btn-danger btn-outline" ng-click="item.editing=false" ng-show="item.editing">
							<i class="fa fa-close"></i>
						</button>
						<button type="button" class="btn btn-sm btn-danger btn-outline" ng-click="rc.deleteZone(item.id)">
							<i class="fa fa-trash"></i>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>


		<!--stops-->
		<div class="col-md-6">
			<h2 class="heading">
				[[ 'route_stops'|translate ]]
			</h2>

			<table class="table table-hover table-striped table-small" ng-if="rc.stops.length">
				<thead>
				<tr>
					<th>#</th>
					<th>[[ 'name'|translate ]]</th>
					<th>[[ 'lat'|translate ]]</th>
					<th>[[ 'lng'|translate ]]</th>
					<th>[[ 'order'|translate ]]</th>
				</tr>
				</thead>
				<tbody ui-sortable="{update:rc.updateStopsOrder}" ng-model="rc.stops" >
				<tr ng-repeat="item in rc.stops">
					<td>
						<input type="checkbox" icheck class="form-control" ng-model="item.status" ng-true-value="1" ng-false-value="0" ng-change="rc.toggleRouteStop( item )">
					</td>
					<td>
						<strong>[[ item.stop.name ]]</strong>
					</td>
					<td class="">
						<span class="label">
							[[ item.stop.lat ]]
						</span>
					</td>
					<td class="">
						<span class="label">
							[[ item.stop.lng ]]
						</span>
					</td>
					<td>
						<a class="btn btn-link" href="">
							<span class="label">
								[[ item.order ]]
							</span>
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>



</div>