<div class="inmodal">

    <!--modal title-->
    <div class="modal-header">
        <h2 class="modal-title">
            [['date' | translate ]]
        </h2>
	    <h5><span class="text-primary">[[ title ]]</span></h5>
    </div>

    <!--modal body-->
    <form ng-submit="saveModal()" role="form">
        <div class="modal-body" >

            <div class="form-horizontal">


                <!--name-->
                <div class="form-group">
                    <label class="col-sm-4 control-label required">
                        [[ 'name'|translate ]]
                    </label>
                    <div class="col-sm-8">
                        <input ng-model="event.name" class="form-control">
                    </div>
                </div>

                <!--from date-->
                <div class="form-group">
                    <label class="col-sm-4 control-label required">
                        [[ 'from'|translate ]]
                    </label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input
                                type="datetime"
                                class="form-control"
                                date-time
                                ng-model="event.start_date"
                                view="date"
                                auto-close="true"
                                min-view="date"
                                format="YYYY-MM-DD">
                            <span class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</span>
                        </div>
                    </div>

                </div>


                <!-- endless -->
                <div class="form-group">
                    <label class="col-md-4 label-control">
                        [[ 'endless'|translate ]]?
                    </label>
                    <div class="col-md-2">
                        <input
                            icheck
                            type="checkbox"
                            class="form-control"
                            ng-model="event.endless"
                            ng-true-value="1"
                            ng-false-value="0">
                    </div>

                </div>


                <!--to date-->
                <div class="form-group" ng-if="!event.endless">
                    <label class="col-sm-4 control-label">
                        [[ 'to'|translate ]]
                    </label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input
                                type="datetime"
                                class="form-control"
                                date-time
                                ng-model="event.end_date"
                                view="date"
                                auto-close="true"
                                min-view="date"
                                format="YYYY-MM-DD">
                            <span class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</span>
                        </div>
                    </div>
                </div>

                <!--repeat_mode-->
                <div class="form-group">
                    <label class="col-sm-4 control-label required">
                        [[ 'repeat_mode' | translate ]]
                    </label>
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="event.repeat_mode" ng-options="item|translate for item in modes">
                        </select>
                    </div>
                </div>

                <div ng-if="event.repeat_mode">

                    <!--interval-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            [[ 'repeat_each' | translate ]]
                        </label>
                        <div class="col-sm-4">
                            <input type="text" ng-model="event.repeat_each" touch-spin spin-option="{min:0,max:365,step:1}" class="form-control">
                        </div>
                        <div class="col-sm-4">
                            <strong ng-if="event.repeat_mode == 'daily'">[['days'|translate]]</strong>
                            <strong ng-if="event.repeat_mode == 'weekly'">[['weeks'|translate]]</strong>
                            <strong ng-if="event.repeat_mode == 'monthly'">[['months'|translate]]</strong>
                            <strong ng-if="event.repeat_mode == 'yearly'">[['years'|translate]]</strong>
                        </div>
                    </div>

                    <!--days-->
                    <div class="form-group" ng-if="event.repeat_mode == 'weekly'">
                        <label class="col-md-4 control-label">
                            [[ 'days'|translate ]]
                        </label>
                        <div class="col-md-8">

                            <input type="checkbox" class="form-control" icheck ng-model="event.monday" ng-true-value="1" ng-false-value="0">
                            <strong>[[ 'monday_short'|translate]]</strong>

                            <input type="checkbox" class="form-control" icheck ng-model="event.tuesday" ng-true-value="1" ng-false-value="0">
                            <strong>[[ 'tuesday_short'|translate ]]</strong>

                            <input type="checkbox" class="form-control" icheck ng-model="event.wednesday" ng-true-value="1" ng-false-value="0">
                            <strong>[[ 'wednesday_short'|translate ]]</strong>

                            <input type="checkbox" class="form-control" icheck ng-model="event.thursday" ng-true-value="1" ng-false-value="0">
                            <strong>[[ 'thursday_short'|translate ]]</strong>

                            <input type="checkbox" class="form-control" icheck ng-model="event.friday" ng-true-value="1" ng-false-value="0">
                            <strong>[[ 'friday_short'|translate ]]</strong>

                            <input type="checkbox" class="form-control" icheck ng-model="event.saturday" ng-true-value="1" ng-false-value="0">
                            <strong>[[ 'saturday_short'|translate ]]</strong>

                            <input type="checkbox" class="form-control" icheck ng-model="event.sunday" ng-true-value="1" ng-false-value="0">
                            <strong>[[ 'sunday_short'|translate ]]</strong>

                        </div>
                    </div>

                </div>


            </div>

        </div>

        <!--modal footer-->
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-lg">
                <i class="fa fa-check"></i>
                [[ 'save' | translate ]]
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-click="$close()">
                <i class="fa fa-close"></i>
                [[ 'close' | translate ]]
            </button>
        </div>

    </form>
</div>