<div class="row wrapper border-bottom white-bg page-heading animated fadeIn">
	<div class="col-lg-10">
		<h2>[[ 'options' | translate ]]</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#/dashboard">[[ 'home' | translate ]]</a>
			</li>
			<li class="active">
				<strong>[[ 'options' | translate ]]</strong>
			</li>
		</ol>
	</div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			
			<div class="m-b-md">
				<button type="button" class="btn btn-primary btn-lg" ui-sref="option-create">
					<i class="fa fa-plus-circle"></i>
					[[ 'new_option' | translate ]]
				</button>
			</div>
			
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>
						<i class="fa fa-list-ul"></i>
						[[ 'options' | translate ]]</h5>
				</div>
				<div class="ibox-content">
					
					<!--table tools-->
					<div class="row">
						<div class="col-sm-2">
							<div table-export-tools></div>
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					
					<div class="table-responsive">
						<table
								ng-table="moc.tableParams"
								class="table table-bordered table-striped table-hover table-small"
								template-pagination="custom/pager">
							
							<tr ng-repeat="row in moc.options">
								
								<td data-title="'#'">
									<input type="checkbox" icheck ng-model="row.checked">
								</td>
								<td data-title="'name'|translate" sortable="'name'" filter="{name:'custom/text'}">
									<strong>[[ row.name ]]</strong>
								</td>
								<td data-title="'type'|translate" sortable="'type'" filter="{type:'custom/text'}" >
									[[ row.type|translate ]]
								</td>
								<td data-title="'color'|translate" sortable="'color'" filter="{color:'custom/text'}">
									<span class="label" style="background-color: [[ row.color ]]" ng-show="row.color">
										[[ row.color ]]
									</span>
								</td>
								<td class="text-center" data-title="'system'|translate" sortable="'system'">
									<span class="label label-primary" ng-if="row.system"><i class="fa fa-check"></i></span>
									<span class="label label-danger" ng-if="!row.system"><i class="fa fa-close"></i></span>
								</td>
								<td class="text-center" data-title="'status'|translate" sortable="'status'">
									<span class="label label-primary" ng-if="row.status"><i class="fa fa-check"></i></span>
									<span class="label label-danger" ng-if="!row.status"><i class="fa fa-close"></i></span>
								</td>
								
								<td data-title="'actions'|translate">
									<button class="btn btn-outline btn-primary btn-sm"
									        ui-sref="option-edit({ id: row.id })" type="button">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-outline btn-danger btn-sm"
									        ng-click="moc.delete([[ row.id ]])" type="button">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						
						</table>
					</div>
				
				
				
				</div>
			</div>
		</div>
	</div>
</div>
