<div class="form-horizontal">
	
	<!--left col-->
	<div class="col-lg-6">
		
		<h2 class="heading">
			<i class="fa fa-file-text"></i>
			[[ 'general'|translate ]]
		</h2>
		
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'name' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="tc.template.name">
			</div>
		</div>

		<!--module-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'module' | translate]]
			</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="tc.template.module"
				        ng-options="item.slug as item.name for item in tc.modules">
				</select>
			</div>
		</div>

		<!--type-->
		<!--<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'type' | translate]]
			</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="tc.template.type"
				        ng-options="item.id as item.name for item in tc.types">
				</select>
			</div>
		</div>-->
		
		<!--description-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'description' | translate]]
			</label>
			<div class="col-md-6">
				<textarea rows="10" class="form-control" ng-model="tc.template.subject">
					[[ tc.template.subject ]]
				</textarea>
			</div>
		</div>
		
		<!--status-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'status' | translate]]
			</label>
			<div class="col-md-6">
				<input type="checkbox"
				    icheck
				    class="form-control"
				    ng-model="tc.template.status"
					ng-true-value="1"
					ng-false-value="0">
			</div>
		</div>
	
	
	
	</div>
	
	<!--right col-->
	<div class="col-lg-6">
		
		<h2 class="heading">
			[[ 'format'|translate ]]
		</h2>
		
		<!--margin_top-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'margin_top' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="tc.template.margin_top">
					<span class="input-group-addon">px</span>
				</div>
			</div>
		</div>
		
		<!--margin_bottom-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'margin_bottom' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text"  class="form-control" ng-model="tc.template.margin_bottom">
					<span class="input-group-addon">px</span>
				</div>
			</div>
		</div>
		
		<!--margin_left-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'margin_left' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text"  class="form-control" ng-model="tc.template.margin_left">
					<span class="input-group-addon">px</span>
				</div>
			</div>
		</div>
		
		<!--margin_right-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'margin_right' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text"  class="form-control" ng-model="tc.template.margin_right">
					<span class="input-group-addon">px</span>
				</div>
			</div>
		</div>
		
		<!--margin_header-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'margin_header' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text"  class="form-control" ng-model="tc.template.margin_header">
					<span class="input-group-addon">px</span>
				</div>
			</div>
		</div>
		
		<!--margin_footer-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'margin_footer' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text"  class="form-control" ng-model="tc.template.margin_footer">
					<span class="input-group-addon">px</span>
				</div>
			</div>
		</div>
	
	
	
	</div>
	
	
	<div class="col-sm-12">
		
		<h2 class="heading">
			[[ 'template'|translate ]]
		</h2>

		<div class="form-horizontal row">

			<div class="col-md-3">
				<!--module-->
				<div class="form-group">
					<label class="col-md-4 control-label">
						[[ 'module' | translate]]
					</label>
					<div class="col-md-6">
						<select class="form-control" ng-model="tc.module_field" ng-change="tc.loadFields()"
						        ng-options="item.name for item in tc.modules">
						</select>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<!--field-->
				<div class="form-group">
					<label class="col-md-4 control-label">
						[[ 'field' | translate]]
					</label>
					<div class="col-md-6">
						<select class="form-control" ng-model="tc.template.field"
						        ng-options="item.slug as item.name for item in tc.fields">
						</select>
					</div>
				</div>
			</div>

			<div class="col-md-2">
				<input value="[[ tc.getSelectedField() ]]" class="form-control">
			</div>


		</div>

		<div class="space-30"></div>



		<div class="form-group">
			<label class="col-md-3 control-label">
				[[ 'content' | translate]]
			</label>
			<div class="col-md-12">
				<div height="400"summernote class="summernote"  ng-model="tc.template.content"></div>
			</div>
		</div>
		

	</div>
	



</div>
