<div class="form-horizontal">
	
	
	<!--left col-->
	<div class="col-lg-6">
	
		<h2 class="heading">
			[[ 'billing_info'|translate ]]
		</h2>
		
		<!--billing_name-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'name' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="toc.tourOperator.billing_name">
			</div>
		</div>
		
		<!--billing_nif-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'nif' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="toc.tourOperator.billing_nif">
			</div>
		</div>
		
		<!--billing_address-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'address' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="toc.tourOperator.billing_address">
			</div>
		</div>
		
		<!--billing_address-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'bank_atocount' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="toc.tourOperator.bank_atocount">
			</div>
		</div>
		
		
	</div>
	
	<!--right col-->
	<div class="col-lg-6">
		
		<h2 class="heading">
			[[ 'more'|translate ]]
		</h2>
		
		<!--billing_city_id-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'city' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" disabled value="[[ toc.billing_city.name ]]">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" city-picker ng-model="toc.billing_city">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		
		<!--billing_location-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'location' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="toc.tourOperator.billing_location">
			</div>
		</div>
		
		<!--billing_zip-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'zipcode' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="toc.tourOperator.billing_zip">
					<span class="input-group-addon">
						#
					</span>
				</div>
			</div>
		</div>
		
		<!--billing_phone-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'phone' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="toc.tourOperator.billing_phone">
					<span class="input-group-addon">
											<i class="fa fa-phone"></i>
										</span>
				</div>
			</div>
		</div>
		
		
		
	</div>
	
	
	
	
	


</div>
