<div class="form-horizontal">
	
	
	<!--left col-->
	<div class="col-lg-6">
		
		<h2 class="heading">
			<i class="fa fa-edit"></i>
			[[ 'general'|translate ]]
		</h2>
		
		
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'name' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="toc.tourOperator.name">
			</div>
		</div>
		
		<!--email-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'email' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="toc.tourOperator.email" placeholder="[[ 'email'|translate ]]">
					<span class="input-group-addon">
						<i class="fa fa-envelope"></i>
					</span>
				</div>
			</div>
		</div>
		
		<!--dob-->
		<!--<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'dob' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input
							type="datetime"
							class="form-control"
							date-time
							ng-model="toc.tourOperator.dob"
							view="date"
							auto-close="true"
							min-view="date"
							format="YYYY-MM-DD">
					<span class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</span>
				</div>
			</div>
		</div>-->
		
		<!--nif-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'nif_cif' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="toc.tourOperator.nif">
			</div>
		</div>


		<!--overview-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'observations' | translate]]
			</label>
			<div class="col-md-6">
				<textarea class="form-control" rows="5" ng-model="toc.tourOperator.overview"></textarea>
			</div>
		</div>

		<!--status-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'status'|translate ]]
			</label>
			<div class="col-md-6">
				<input type="checkbox"
				       icheck
				       ng-model="toc.tourOperator.status"
				       class="form-control"
				       ng-true-value="1"
				       ng-false-value="0">
			</div>
		</div>
	
	</div>
	
	<!--right col-->
	<div class="col-lg-6">
		
		<h2 class="heading">
			<i class="fa fa-list-ul"></i>
			[[ 'more'|translate ]]
		</h2>
		
		<!--password-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'password' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="password" class="form-control" ng-model="toc.tourOperator.password">
					<span class="input-group-addon">
						<i class="fa fa-lock"></i>
					</span>
				</div>
			</div>
		</div>
		
		<!--phone-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'phone' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="toc.tourOperator.phone">
					<span class="input-group-addon">
						<i class="fa fa-phone"></i>
					</span>
				</div>
			</div>
		</div>
		
		<!--mobile-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'mobile' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="toc.tourOperator.mobile">
					<span class="input-group-addon">
						<i class="fa fa-phone"></i>
					</span>
				</div>
			</div>
		</div>
		
		<!--address-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'address' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="toc.tourOperator.address">
			</div>
		</div>
		
		<!--second_address-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'second_address' | translate]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="toc.tourOperator.second_address">
			</div>
		</div>
		
		<!--city_id-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'city' | translate]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" disabled value="[[ toc.city.name ]]">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" city-picker ng-model="toc.city">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		
		<!--language_id-->
		<div class="form-group">
			<label class="col-md-4 control-label ">
				[[ 'language' | translate]]
			</label>
			<div class="col-md-6">
				<ui-select ng-model="toc.tourOperator.language_id">
					<ui-select-match>
						<span ng-bind="$select.selected.name"></span>
					</ui-select-match>
					<ui-select-choices group-filter="['Default','Languages']" group-by="filterLanguages" repeat="item.id as item in (toc.languages | filter: $select.search) track by item.id">
						<span ng-bind="item.name" class="text-lg"></span>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
		
		
		
	
	</div>
	
	<div class="clearfix"></div>
	
	<!--second left col-->
	<div class="col-lg-6">
		
		<!--different billing address-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'different_billing'|translate ]]
			</label>
			<div class="col-md-6">
				<input type="checkbox"
				       icheck
				       ng-model="toc.tourOperator.different_billing"
				       class="form-control"
				       ng-true-value="1"
				       ng-false-value="0">
			</div>
		</div>
		
		<div ng-if="toc.tourOperator.different_billing">
			
			<h2 class="heading">
				[[ 'billing_details'|translate ]]
			</h2>
			
			
			<!--billing_name-->
			<div class="form-group">
				<label class="col-md-4 control-label">
					[[ 'name' | translate]]
				</label>
				<div class="col-md-6">
					<input type="text" class="form-control" ng-model="toc.tourOperator.billing_name">
				</div>
			</div>
			
			<!--billing_nif-->
			<div class="form-group">
				<label class="col-md-4 control-label">
					[[ 'nif' | translate]]
				</label>
				<div class="col-md-6">
					<input type="text" class="form-control" ng-model="toc.tourOperator.billing_nif">
				</div>
			</div>
			
			<!--billing_address-->
			<div class="form-group">
				<label class="col-md-4 control-label">
					[[ 'address' | translate]]
				</label>
				<div class="col-md-6">
					<input type="text" class="form-control" ng-model="toc.tourOperator.billing_address">
				</div>
			</div>
			
			<!--billing_second_address-->
			<div class="form-group">
				<label class="col-md-4 control-label">
					[[ 'second_address' | translate]]
				</label>
				<div class="col-md-6">
					<input type="text" class="form-control" ng-model="toc.tourOperator.billing_second_address">
				</div>
			</div>
			
			<!--billing_location-->
			<div class="form-group">
				<label class="col-md-4 control-label">
					[[ 'location' | translate]]
				</label>
				<div class="col-md-6">
					<input type="text" class="form-control" ng-model="toc.tourOperator.billing_location">
				</div>
			</div>
			
			<!--billing_phone-->
			<div class="form-group">
				<label class="col-md-4 control-label">
					[[ 'phone' | translate]]
				</label>
				<div class="col-md-6">
					<input type="text" class="form-control" ng-model="toc.tourOperator.billing_phone">
				</div>
			</div>
			
			<!--billing_zip-->
			<div class="form-group">
				<label class="col-md-4 control-label">
					[[ 'zip' | translate]]
				</label>
				<div class="col-md-6">
					<input type="text" class="form-control" ng-model="toc.tourOperator.billing_zip">
				</div>
			</div>
			
			<!--billing_city-->
			<div class="form-group">
				<label class="col-md-4 control-label">
					[[ 'city' | translate]]
				</label>
				<div class="col-md-6">
					<div class="input-group">
						<input type="text" class="form-control" disabled value="[[ toc.billingCity.name ]]">
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary" city-picker ng-model="toc.billingCity">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
		
		
		</div>
		
	</div>

</div>
