<button type="button" class="btn btn-primary btn-large" ng-click="oc.addContent()">
	<i class="fa fa-edit"></i>
	[[ 'add_content' | translate ]]
</button>

<div class="hr-line-dashed"></div>


<table class="table table-stripped table-hover table-bordered" >
	
	<thead>
	<tr>
		<th class="index">#</th>
		<th>[[ 'lang' | translate  ]]</th>
		<th>[[ 'title' | translate  ]]</th>
		<th data-hide="phone">[[ 'description' | translate  ]]</th>
		<th class="actions">[[ 'actions' | translate  ]]</th>
	</tr>
	</thead>
	
	<tbody>
	<tr ng-repeat="item in oc.content ">
		<td>
			<div class="checkbox checkbox-info">
				<input type="checkbox">
				<label>
				
				</label>
			</div>
		</td>
		<td>[[ item.language.name ]]</td>
		<td>[[ item.title ]]</td>
		<td>
			<button class="btn btn-outline btn-warning"
			        ng-click="oc.editContent( item.id )" type="button">
				<i class="fa fa-pencil"></i>
			</button>
			<button class="btn btn-outline btn-danger"
			        ng-click="oc.deleteContent( item.id )" type="button">
				<i class="fa fa-trash"></i>
			</button>
		</td>
	</tr>
	</tbody>
</table>