<div class="form-horizontal">
	
	<!--left-->
	<div class="col-lg-6">
		
		<h2 class="heading">
			<a ng-click="oc.setFeatured()" class="text-warning">
				<i class="fa fa-star" ng-if="oc.offer.featured"></i>
				<i class="fa fa-star-o text-warning" ng-if="!oc.offer.featured"></i>
			</a>
			[['general'|translate ]]
		</h2>
		
		<!--tour_operator-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'tour_operator'|translate ]]
			</label>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" disabled value="[[ oc.tourOperator.name ]]">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary" tour-operator-search-box ng-model="oc.tourOperator">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="col-md-1">
				<button type="button" class="btn btn-primary btn-circle" tour-operator-create-modal on-success="oc.assignTourOperator">
					<i class="fa fa-plus"></i>
				</button>
			</div>
		</div>
		
		<!--type-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'offer_type' | translate  ]]
			</label>
			<div class="col-md-6">
				<select class="form-control" ng-model="oc.offer.offer_type_id" ng-change="oc.setOfferType()"
				        ng-options="item.id as item.name for item in oc.offerTypes">
				</select>
			</div>
		
		</div>
		
		<!--name-->
		<div class="form-group">
			<label class="col-md-4 control-label required">
				[[ 'name' | translate ]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="oc.offer.name">
			</div>
		</div>
		
		
		<!--Book in advance-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'book_in_advance' | translate ]]
			</label>
			<div class="col-md-6">
				<input type="text"  touch-spin spin-options="oc.spinOptions" ng-model="oc.offer.book_in_advance_days" placeholder="[[ 'days'|translate ]]">
			</div>
		</div>
		
		<!--hours-->
		<div class="form-group">
			<label class="col-md-4 control-label"></label>
			<div class="col-md-6">
				<div class="input-group " clock-picker data-autoclose="true">
					<input type="text" class="form-control" ng-model="oc.offer.book_in_advance_hours" placeholder="[[ 'hours'|translate ]]">
					<span class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </span>
				</div>
			</div>
		</div>


		<h2 class="heading">
			[[ 'contact_details'|translate ]]
		</h2>

		<!--contact_name-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'contact_name' | translate ]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="oc.offer.contact_name">
			</div>
		</div>

		<!--contact_phone-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'contact_phone' | translate ]]
			</label>
			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="oc.offer.contact_phone">
			</div>
		</div>


		<!--check required-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'confirmation_required' | translate ]]
			</label>
			<div class="col-md-6">
				<input
					type="checkbox"
					icheck
					ng-model="oc.offer.confirmation_required"
					ng-true-value="1"
					ng-false-value="0"/>
			</div>
		</div>
		
		<!--visa required-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'visa_required' | translate ]]
			</label>
			<div class="col-md-6">
				<input
					type="checkbox"
					icheck
					ng-model="oc.offer.visa_required"
					ng-true-value="1"
					ng-false-value="0"/>
			</div>
		</div>

		<!--require_passenger_details-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'require_passenger_details' | translate ]]
			</label>
			<div class="col-md-6">
				<input
						type="checkbox"
						icheck
						ng-model="oc.offer.require_passenger_details"
						ng-true-value="1"
						ng-false-value="0"/>
			</div>
		</div>

		<!--lunch included-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'lunch_included' | translate ]]
			</label>
			<div class="col-md-6">
				<input
						type="checkbox"
						icheck
						ng-model="oc.offer.lunch_included"
						ng-true-value="1"
						ng-false-value="0"/>
			</div>
		</div>

		
		<!--status-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'status' | translate ]]
			</label>
			<div class="col-md-6">
				<input
					type="checkbox"
					icheck
					ng-model="oc.offer.status"
					ng-true-value="1"
					ng-false-value="0"/>
			</div>
		</div>
		
	</div>
	
	
	<!--right col-->
	<div class="col-lg-6">
		

		<h2 class="heading">
			[[ 'ages'|translate ]]
		</h2>
		
		<!--baby_max_age-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'baby_max_age' | translate ]]
			</label>
			<div class="col-md-3">
				<input type="text"
					   class="form-control"
					   touch-spin
					   spin-options="{min:0,max:5,step:1}"
					   ng-model="oc.offer.max_baby_age">
			</div>
		</div>
		
		<!--children_age-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'children_age' | translate ]]
			</label>
			<div class="col-md-3">
				<input type="text"
					   class="form-control"
					   ng-model="oc.offer.min_children_age"
					   touch-spin
					   spin-options="{min:0,max:15,step:1}"
					   placeholder="[['min'|translate]]">
			</div>
			<div class="col-md-3">
				<input type="text"
					   class="form-control"
					   ng-model="oc.offer.max_children_age"
					   touch-spin
					   spin-options="{min:0,max:18,step:1}"
					   placeholder="[['max'|translate]]">
			</div>
		</div>
		
		
		<!--senior_age-->
		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'senior_age' | translate ]]
			</label>
			<div class="col-md-3">
				<input type="text"
					   class="form-control"
					   touch-spin
					   spin-options="{min:50,max:100,step:1}"
					   ng-model="oc.offer.senior_age">
			</div>
		</div>



		
	</div>
	
</div>