<div class="form-horizontal">
	
	<div class="">
		
		<h2 class="heading">
			[[ 'items'|translate ]]
		</h2>
		
		<div class="table-responsive" style="max-height: 420px" full-scroll>
			
			<table class="table table-bordered table-small table-simple">
				<thead>
					<tr>
						<th>[[ 'name'|translate ]]</th>
						<th>[[ 'net_price'|translate ]]</th>
						<th>[[ 'pvp_price'|translate ]]</th>
						<th>[[ 'discount'|translate ]]</th>
						<th>[[ 'price_type'|translate ]]</th>
						<th>[[ 'included'|translate ]]</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in oc.extras track by $index">
						<td style="min-width: 120px">
							<select class="form-control" ng-model="item.item_id" ng-change="item.changed=true"
							        ng-options="item.id as item.name for item in oc.availableExtras">
							</select>
						</td>
						<td style="width: 80px">
							<input type="text" class="form-control" ng-model="item.net_price" ng-change="item.changed=true">
						</td>
						<td style="width: 80px">
							<input type="text" class="form-control" ng-model="item.pvp_price" ng-change="item.changed=true">
						</td>
						<td style="width: 80px">
							<input type="text" class="form-control" ng-model="item.discount" ng-change="item.changed=true">
						</td>
						<td style="width: 120px">
							<select class="form-control" ng-model="item.price_type" ng-change="item.changed=true"
							        ng-options="item|translate for item in oc.extraPriceTypes">
							</select>
						</td>
						<td>
							<input type="checkbox"
							       icheck
							       class="form-control"
							       ng-model="item.included"
							       ng-true-value="1"
							       ng-false-value="0"
							       ng-change="item.changed=true">
						</td>
						<td>
							<button type="button" class="btn btn-primary btn-sm btn-circle" ng-click="oc.saveExtra(item)" ng-if="item.changed">
								<i class="fa fa-check"></i>
							</button>
							<button type="button" class="btn btn-danger btn-sm btn-circle" ng-click="oc.deleteExtra(item,$index)">
								<i class="fa fa-trash"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="m-lg">
			<button type="button" class="btn btn-primary" ng-click="oc.addExtra()">
				<i class="fa fa-plus-circle"></i>
				[[ 'add_item'|translate ]]
			</button>
		</div>
		
	</div>
</div>