<div class="form-horizontal">
	
	<div class="col-md-6">
		
		<h2 class="heading">
			[[ 'available_languages'|translate ]]
		</h2>



		<div class="form-group">
			<label class="col-md-4 control-label">
				[[ 'available_languages'|translate ]]
			</label>
			<div class="col-md-8">
				<strong>[[ oc.selectedLanguages.length ]]</strong> [[ 'selected'|translate ]]
				<ui-select ng-model="oc.selectedLanguages" multiple on-remove="oc.onLanguageRemove($item)" on-select="oc.onLanguageSelect($item)">
					<ui-select-match>
						<span ng-bind="$item.name"></span>
					</ui-select-match>
					<ui-select-choices class="ui-select-choices" group-filter="['Default','Languages']" group-by="filterLanguages" repeat="item.id as item in (oc.languages | filter: $select.search) track by $index">
						<span ng-bind="item.name" class="text-lg"></span>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>

	</div>
</div>