<!--<div app-loader></div>-->

<h2>[[ 'image_gallery' | translate ]]</h2>
<div class="hr-line-dashed"></div>

<button type="button" class="btn btn-primary">
	<i class="fa fa-image"></i>
	[[ 'add_image' | translate ]]
</button>



<div class="lightBoxGallery">
	<a href="" title="" ng-repeat="image in oc.media">
		<img src="" />
	</a>
</div>
