<div class="form-horizontal">

	<!--left-->
	<div class="col-lg-6">

		<h2 class="heading">
			[['prices_list'|translate ]]
		</h2>

		<div class="alert alert-warning">
			[[ 'recommended_price_for_adult'|translate ]]
			<strong>[[ oc.type.price_value ]]</strong>
		</div>

		<table class="table table-bordered table-small table-simple">
			<thead>
			<tr>
				<th>[[ 'type'|translate ]]</th>
				<th>[[ 'net_price'|translate ]]</th>
				<th>[[ 'pvp_price'|translate ]]</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in oc.prices track by $index">
				<td style="min-width: 120px">
					<select class="form-control" ng-model="item.type" ng-change="item.changed=true"
					        ng-options="item|translate for item in oc.priceTypes">
					</select>
				</td>
				<td style="width: 120px">
					<input class="form-control" ng-model="item.net_price" ng-change="item.changed=true">
				</td>
				<td style="width: 120px">
					<input class="form-control" ng-model="item.pvp_price" ng-change="item.changed=true">
				</td>
				<td>
					<button type="button" class="btn btn-primary btn-sm btn-outline" ng-click="oc.savePrice(item)" ng-if="item.changed">
						<i class="fa fa-check"></i>
					</button>
					<button type="button" class="btn btn-danger btn-sm btn-outline" ng-click="oc.deletePrice(item,$index)">
						<i class="fa fa-trash"></i>
					</button>
				</td>
			</tr>
			</tbody>
		</table>

		<button type="button" class="btn btn-primary" ng-click="oc.addPrice()">
			<i class="fa fa-plus"></i>
			[[ 'add_price'|translate ]]
		</button>

	</div>


</div>