<div class="form-horizontal">
	
	<div class="col-lg-6">
		
		<h2 class="heading">
			[[ 'available_routes'|translate ]]
		</h2>

		<div ng-if="!oc.routes.length">
			<p class="alert alert-info">
				[[ 'no_routes_msg'|translate ]]
				<button type="button" class="btn btn-link" ui-sref="route-create({ offer:oc.id })">
					<i class="fa fa-plus-circle"></i>
					[[ 'add_route'|translate ]]
				</button>
			</p>

		</div>


		<div class="table-responsive" ng-if="oc.routes.length">
			<table class="table table-stripped table-hover table-bordered table-small">
				<thead>
				<tr>
					<th class="index">#</th>
					<th>[[ 'name' | translate  ]]</th>
					<th>[[ 'location' | translate  ]]</th>
					<th>[[ 'zones' | translate  ]]</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="item in oc.routes" ui-sref="route-edit({ id: [[ item.id]] })">
					<td>[[ item.id ]]</td>
					<td>
						<a class="btn btn-link" ui-sref="route-edit({id:item.id})" class="btn btn-link">
							[[ item.name]]
						</a>
					</td>
					<td>
						<a ui-sref="location-edit({id:item.location_id})">
							[[ item.location.name ]]
						</a>
					</td>
					<td>[[ item.zones ]]</td>
				</tr>
				</tbody>
			</table>
		
		</div>

		<button type="button" class="btn btn-primary m-b-lg" ui-sref="route-create({ offer:oc.id })">
			<i class="fa fa-plus-circle"></i>
			[[ 'add_route'|translate ]]
		</button>

	</div>
</div>