<div class="form-horizontal">

	<!--left col-->
	<div class="col-md-6 col-lg-6">
		
		<h2 class="heading">
			[[ 'required'|translate ]]
		</h2>

		<p class="alert alert-warning">
			[[ 'required_visa_countries_text'|translate ]]
		</p>


		<div class="btn-group m-b-md">
			<button type="button" class="btn btn-default">
				[['all'|translate]]
			</button>
			<button type="button" class="btn btn-default">
				[['none'|translate]]
			</button>
		</div>

		<ui-select ng-model="oc.requiredVisas" multiple theme="bootstrap" tagging>
			<ui-select-match>
				<span ng-bind="$item.name"></span>
			</ui-select-match>
			<ui-select-choices append-to-body="true" repeat="item.id as item in (oc.countries | filter: $select.search) track by $index">
				<span class="text-lg">[[ item.name ]]</span>
			</ui-select-choices>
		</ui-select>




	</div>


	<!--right col-->
	<div class="col-md-6">
		<h2 class="heading">
			[[ 'not_required'|translate ]]
		</h2>

		<p class="alert alert-warning">
			[[ 'not_required_visa_countries_text'|translate ]]
		</p>

		<ui-select ng-model="oc.notRequiredVisas" multiple theme="bootstrap" tagging>
			<ui-select-match>
				<span ng-bind="$item.country.name"></span>
			</ui-select-match>
			<ui-select-choices append-to-body="true" repeat="item.id as item in (oc.countries | filter: $select.search) track by item.id">
				<span class="text-lg">[[ item.name ]]</span>
			</ui-select-choices>
		</ui-select>

	</div>


</div>